@import '../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';

.panel-base {
  background-color: $color-white;
  border-radius: 5px;
  padding: 2em;
  word-wrap: break-word;
}