@import '../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';

.error-container {
  min-height: 64vh;
  margin-top: -70px;
  .error {
    h1 {
      font-size: 10rem;
      color: $color-primary;
      font-weight: 600;
      line-height: initial;
    }
  }
}
