.login-pf body {
    background: url("../img/illustration-login.svg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 50%;
    background-color: #E5F9FF;
}

/*title banner size and colour*/
#kc-header {
    color: #ededed;
    overflow: visible;
    white-space: nowrap;
    width:100%;
    background-color: #FFF;
    padding: 16px 20px;
    border-bottom: 1px solid #DFE1E2;
    margin-bottom: 30px;
}

#kc-header-wrapper {
    background: url("../img/logo-registrering.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: auto;
    padding: 40px 10px 20px;
    white-space: normal;
}

.jumbotron {
    border-radius: 0.3rem;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    background-color: white !important;
    padding: 2rem 2rem 0rem 2rem;
}


.choose_idp_container p {
    font-weight: 400;
    font-size: 1.5rem;
}

.choose_idp_container h2 {
    font-size: 2.4rem;
    font-weight: 600;
}

.choose_idp_container .cell {
    padding: 2rem
}

.h-100 {
    height: 100% ;
}

.choose_idp_container {
    margin-right: auto;
    margin-left: auto;
}

.choose_idp_container .row {
    display: flex;
    flex-wrap: wrap;
}

.choose_idp_button {
    text-decoration: none;
    margin-bottom: 1em;
    color: #FFFFFF;
    background-color: #0069A5 ;
    font-size: 1.5rem;
    line-height: 1.5rem;
    box-shadow: 0 2px 4px rgba(45, 55, 65, 0.2);
    padding: .8em .9em;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.choose_idp_button:hover {
    text-decoration: none;
    color: #FFFFFF;
}

@media (min-width: 576px) {
    .choose_idp_container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .choose_idp_container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .choose_idp_container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .choose_idp_container {
        max-width: 1140px;
    }
}





