@import '../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';

.fdk-reg_backgroundDefault {
  background-color: $color-white;
  padding: 1.6rem 3.2rem;
}

.fdk-reg_backgroundBlue {
  background-color: $color-primary-lighter;
  button.fdk-collapseButton {
    padding: 1.6rem 3.2rem;
  }
  .fdk-collapseContent {
    padding: 1.2rem 3.2rem;
    background-color: $color-white;
  }
}

.chevronIcon {
  height: 20px;
  width: 20px;
}

.toggleExpandButton {
  border: none;
  color: $color-link;
  background-color: inherit;
  padding: 8px 8px;
  cursor: pointer;
  display: inline-block;
}

.form-group {
  margin-bottom: 4.8rem;
  padding-bottom: 1em;
  .fdk-form-label {
    display: block;
    position: relative;
    margin-bottom: 0;
    line-height: 1;
    font-weight: 500;

    .readonly-language-field {
      display: flex;
      flex-direction: start;
    }

    .indicator {
      background-color: $color-primary-lighter;
      border-radius: 2px;
      padding: 4px;
    }

    .read-only-text {
      font-weight: 400;
      padding: 5px;
      line-height: 1.6em;
    }

    .language-indicator {
      position: absolute;
      top: 13px;
      margin-left: 10px;
      text-transform: uppercase;
      z-index: 1;

      + input,
      + textarea,
      + .fdk-reg-input-tags {
        padding-left: 40px;
      }

      + textarea {
        min-height: 41px;
      }

      &.language-indicator-text-area {
        top: 11px;
      }
    }
  }

  .multilingual-field:nth-of-type(n + 2) {
    margin-top: 10px;
  }
}

.fdk-reg-save-success {
  &:before {
    color: $color-success;
  }
}
