@import '../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';

.fdk-reg_backgroundDefault {
  background-color: $color-white;
  padding: 1.6rem 3.2rem;
}

.fdk-reg_backgroundBlue {
  background-color: $color-primary-lighter;
  button.fdk-collapseButton {
    padding: 1.6rem 3.2rem;
  }
  .fdk-collapseContent {
    padding: 1.2rem 3.2rem;
    background-color: $color-white;
  }
}

.form-group {
  margin-bottom: 4.8rem;
  .fdk-form-label {
    display: block;
    position: relative;
    margin-bottom: 0;
    line-height: 1;
    font-weight: 500;

    .language-indicator {
      position: absolute;
      top: 13px;
      margin-left: 10px;
      text-transform: uppercase;
      z-index: 1;

      + input,
      + textarea,
      + .fdk-reg-input-tags {
        padding-left: 40px;
      }

      + textarea {
        min-height: 41px;
      }

      &.language-indicator-text-area {
        top: 11px;
      }
    }
  }

  .multilingual-field:nth-of-type(n + 2) {
    margin-top: 10px;
  }
}

.fdk-reg-save-success {
  &:before {
    color: $color-success;
  }
}
