@import '../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';

.fdk-reg_backgroundDefault {
  background-color: $color0;
  padding: 1.6rem 3.2rem;
}

.fdk-reg_backgroundBlue {
  background-color: $color-cta4;
  button.fdk-collapseButton {
    padding: 1.6rem 3.2rem;
  }
  .fdk-collapseContent {
    padding: 1.2rem 3.2rem;
    background-color: $color0;
  }
}

.form-group {
  margin-bottom: 4.8rem;
  .fdk-form-label {
    font-weight: 500;
    margin-bottom: 0;
  }

  .fdk-form-field {

  }
}

.fdk-reg-save-success {
  &:before {
    color: $color-green;
  }
}
