@import '../../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';

.node {
  cursor: pointer;
}
.tree-panel {
  background-color: #DEE3E8;
  padding: .5rem 2rem;
  margin: .5em auto;
  border-radius: 5px;
}

.tree-view {
  .tree-view_main {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
}
.tree-view_children {
  .tree-view_item:first-child {

  }
  .tree-view_item {
    border-top: 1px solid $color6;
    padding: 1rem 0;
    outline: none;
    span {
      outline: none;
    }
  }
}

.tree-item_chosen {
  color: $color-cta2;
  font-weight: 600;
  margin-left: -16px !important;
  padding-left: 16px !important;
}

.tree-view_arrow {
  font-size: 2rem;
  vertical-align: top;
}

.pre-scrollable {
  max-height: 1000px !important;
}
