@import '../../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';

.fdk-report-tree-panel {
  background-color: #DEE3E8;
  padding: .5rem 2rem;
  margin: .5em auto;
  border-radius: 5px;

  .node {
    cursor: pointer;
  }

  .tree-view {
    overflow-y: hidden;
    .tree-view_main {
      margin-top: .5rem;
      margin-bottom: .5rem;
    }
  }
  .tree-view_children {
    margin-left: 16px;
    .tree-view_item {
      border-top: 1px solid $color-neutral-lightest;
      padding: 1rem 0;
      outline: none;
      span {
        outline: none;
      }
    }
  }

  .tree-item_chosen {
    color: $color-link;
    font-weight: 600;
    margin-left: -16px !important;
    padding-left: 16px !important;
  }

  .tree-view_arrow {
    cursor: pointer;
    margin-right: 6px;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 2rem;
    vertical-align: top;
    &:after {
      content: '▾';
    }
  }

  /* rotate the triangle to close it */
  .tree-view_arrow-collapsed {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }

  .pre-scrollable {
    max-height: 1000px !important;
  }
}
