<!doctype html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="cache-control" content="no-cache, must-revalidate, post-check=0, pre-check=0">
        <meta http-equiv="pragma" content="no-cache">
        <meta http-equiv="expires" content="0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Datasettregistret</title>
        <base href="/">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico" />
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/assets/css/common.css">
        <link rel="stylesheet" href="/assets/css/portal.css">
        <link rel="stylesheet" href="/assets/css/dataset.css">
        <link rel="stylesheet" href="/assets/css/registration.css">
        <link rel="stylesheet" href="/assets/css/designsystem.css">
        <link rel="stylesheet" href="/assets/fonts/font-awesome/css/font-awesome.min.css">
    </head>

    <body data-reg-api-url="<%- regApiUrl %>" data-query-service-url="<%- queryServiceUrl %>">
      <div style="
        background-image: url(/assets/img/bgdev.png);
        background-repeat: no-repeat;
        width: 2000px;
        height: 000px;
        opacity: 0.8;
        position: absolute;
        top: 0;
        left: 99px;
        background-size: 68%;
        "></div>
      <app-root>Loading...</app-root>
      <base href="/"/>
</body>
</html>
