@import '../../../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';
@import '../../../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/mixins.scss';

.catalog-item {

  color: $color-neutral-darkest;
  text-decoration: none;
  &:hover, &:focus, &:active {
    .catalog-item__body.readOnly {
      opacity: 0.3;
    }
    .overlay {
      opacity: 1;
    }
  }

  .overlay {
    border-radius: 0.5em;
    background-color: $color-neutral-dark;
    color: $color-white;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 1em;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
}

.catalog-item__body {

  &.beta {
    background-image: url("/img/banner-beta.svg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 3em;
  }

  &.readOnly {
    opacity: 0.5;
    box-shadow: none;
    &:hover {
      transform: none;

    }
  }

  background-color: $color_white;
  border-radius: 5px;
  padding: 2em;
  word-wrap: break-word;
  @include fdk-shadow--regular;
  @include fdk-grow--regular;

  &:focus, &:active {
    box-shadow: none;
    transform: none;
  }
}

.catalog-icon {
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: 2.5em;
  padding-top: 3em;
}

.catalog-icon--dataset {
  background-image: url("/img/icon-catalog-dataset-lg.svg");
}

.catalog-icon--api {
  background-image: url("/img/icon-catalog-api-lg.svg");
}

.catalog-icon--concepts {
  background-image: url("/img/icon-catalog-concept-lg.svg");
}

.catalog-icon--protokoll {
  background-image: url("/img/icon-catalog-protocol-xl.svg");
}
