@import '../../assets/css/bootstrap.min.css';
@import '../../assets/css/bootstrap-theme.min.css';
@import '../../assets/css/designsystem.scss';
@import '../../assets/css/colors.scss';
@import '../../assets/css/register.scss';
@import '../../assets/css/portal.scss';
@import '../../assets/css/typo.scss';
@import '../../assets/css/common.scss';
@import '../../assets/css/font-awesome.min.css';
//@import './assets/css/main.css';

$sk-bold-weight: 700 !default;
$sk-medium-weight: 500 !default;
$sk-light-weight: 300 !default;

$sk-font-family: -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
  "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif !default;

$sk-layout-background: #f4f4f4 !default;
$sk-layout-panel-background: white !default;
$sk-primary-theme-color: #bce6fa !default;
$sk-active-bg-color: #bce6fa !default;
$sk-border-color: #ccc !default;
$sk-title-color: black !default;
$sk-text-color: #444 !default;
$sk-text-secondary-color: #777 !default;
$sk-list-text-color: #666 !default;
$sk-list-secondary-text-color: #ccc !default;
$sk-action-text-color: #08c !default;
$sk-action-active-color: #000 !default;
$sk-disabled-text-color: #ddd !default;
$sk-remove-action-color: #fa2a00 !default;

$sk-selector-background: white !default;
$sk-selector-active-background: #08c !default;
$sk-selector-border-color: #ccc !default;
$sk-selector-text-color: black !default;
$sk-selector-active-text-color: white !default;

$sk-selected-filters-background: #f4f4f4 !default;

$sk-heading-font-size: 14px !default;
$sk-text-font-size: 14px !default;
$sk-list-font-size: 14px !default;
$sk-action-font-size: 14px !default;
$sk-list-secondary-font-size: 12px !default;

$sk-border-radius: 3px !default;

.publisher {
    position: absolute;
    top: 0;
    right: 0;
}

.container {
  position: relative;
}


.btn-group {
  .fdk-button-language {
    background-color: transparent !important;
    border-color: transparent;
    text-shadow: none;
    box-shadow: none;
    background-image: none;
    text-decoration: underline;
    &:focus, &:active, &:hover {
      background-color: transparent !important;
      border-color: transparent !important;
    }
  }
}

.fdk-header-padding {
  padding-top: 5px;
}

.fdk-button-menu {
  &:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "\f0c9";
    margin-right: .2em;
  }
}

.mt-60 {
  margin-top: 4em;
}

.block {
  display: block;
}

/*
 TOP-HEADER
 */

.btn-group-default .dropdown-menu {
  left: auto;
  right: 0;
}

/*
SEARCHPAGE SORTING DROPDOWN
*/

.btn-group {
  .dropdown-toggle {
    &:focus, &:active, &:hover {
      background-color: $color-cta4;
      border-color: transparent;
      box-shadow: none;
    }
  }
}

.open>.dropdown-toggle.btn-default {
  background-color: $color-cta4;
  border-color: transparent;
  box-shadow: none;
}

/*
 FILTER CHECKBOX
 */
.checkbox-replacement {
  height: 16px;
  width: 16px;
  border: 1px solid #2D3741;
  border-radius: 3px;
}
.checkbox label {
  padding-left:0;
}
.checkbox label label {
  margin-right: 4px;
  vertical-align: middle;
  background: #fff;
  min-height: auto;
}
input:checked ~ .checkbox-replacement::after {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #2D3741;
  left: 3px;
  top: 6px;
  border-radius: 3px;
  content:'';
}
.checkbox label input[type="checkbox"]{
  position: absolute;
  left:-9999px;
}
.sk-hits-grid {
  margin-top: 7px;
}

.fdk-button-language:focus {
	outline: auto !important;
}
