@import './colors.scss';

body {
    background-color: $color6 !important;
    font-family: "heebo", "helvetica", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.3rem;
    color: $color1;
}

/*
button {
    &:hover {
        outline-width: 0;
    }
}
*/



/*  C O N T A I N E R   &   H E A D E R   &   F O O T E R   */

.fdk-container {
    background-color: $color0;
    border-radius: 4px;
    margin: 0px 0px 10px 0px;
}

.fdk-container:hover {
	box-shadow: 0px 3px 12px $color-shadow;
}

.fdk-header {
    background-color: $color0;
    border-bottom: 1px solid $color5;
    padding: 20px 0px;
    margin: 0;
}

.fkd-header-right {
    text-align: right;
}

.fdk-header-padding {
    padding-top: 10px;
}

.fdk-container-path {
    padding: 10px 0px;
    margin: 0px 0px 50px 0px;
}

.fdk-logo {
    width: 201px;
    height: 60px;
    margin: -8px 0px;
}



/*  D R O P D O W N   U N I V E R S A L  */

.fdk-dropdown-caret {
	margin-left: 15px !important;
}



/* * * * *   B U T T O N S   * * * * */

.fdk-button {
    font-size: .95rem;
    line-height: .95rem;
    border-radius: 3px;
    border: none;
    box-shadow: 0 2px 4px rgba(45,55,65,0.20);
    padding: 11px 13px;
    margin: 3px 2px 5px 3px;
    display: inline-block;
    background: none;
    text-align: center;
}

.fdk-button-small {
    line-height: 1.6rem;
    border-radius: 0;
    box-shadow: none;
    padding: 0.3rem 0 0 0;
    margin: 0;
    display: inline-block;
    background-image: none;
    background: none;
    text-shadow: none;
    text-align: center;
    color: var(--color1);
    border: none;
    border-bottom: 1px solid var(--color1);
}

.fdk-button-small:hover {
    border-bottom: none;
    padding-bottom: 1px;
}

.fdk-button-small:active {
    border-bottom: none;
    padding-bottom: 0px;
    border-bottom: 1px solid var(--color1);
}

.fdk-button-danger {
    color: var(--color-red3);
}

.fdk-button-default, .fdk-button-default-no-hover {
    background-color: $color-cta4;
    color: $color1;
}

.fdk-button-default:hover, .fdk-button-default:focus .fdk-button-default:active .open >.fdk-button-default {
    //border-radius: 3px;
    //border: 3px solid $color-cta4;
    //margin: 0px -1px 2px 0px;
    //box-shadow: 0 4px 8px rgba(45,55,65,0.20);
}

.fdk-button-default-no-hover:hover, .fdk-button-default-no-hover:focus, .fdk-button-default-no-hover:active {
    border-radius: 3px;
    border: 0 !important;
    margin: 3px 2px 5px 3px;
    box-shadow: 0 4px 8px rgba(45,55,65,0.20);
}

.fdk-button-cta {
    background-color: $color1;
    color: $color0;
    box-shadow: 0 2px 4px rgba(45,55,65,0.30);
}

/*
REMOVED BY OIS
.fdk-button-cta:hover {
    border-radius: 3px;
    background-color: $color1;
    border: 3px solid $color1;
    margin: 0px -1px 2px 0px;
	box-shadow: 0 4px 8px rgba(45,55,65,0.25);
}
*/

.fdk-button-big {
	font-size: 1.875rem;
    line-height: 1.875rem;
	box-shadow: 0 2px 4px rgba(45,55,65,0.20);
    padding: 15px 17px;
}

.fdk-button:disabled {
    border: 1px dashed $color3;
    color: $color3;
    box-shadow: 0 0 0 rgba(0,0,0,0);
}

.fdk-button-dropdown {
    background-color: $color-cta4;
    color: $color1;
}

.fdk-button-dropdown:hover {
    border-radius: 3px;
    border: 3px solid $color-cta4;
    // margin: 0px -1px 2px 0px; // FJERNET AV OIS
    box-shadow: 0 4px 8px rgba(45,55,65,0.20);
}

.fdk-button:active {
    box-shadow: 0 0 0 rgba(0,0,0,0);
    padding: 11px 13px;
    margin: 3px 2px 5px 3px;
    border: none;
}

.fdk-button-big:active {
    box-shadow: 0 0 0 rgba(0,0,0,0);
    padding: 15px 17px;
    margin: 3px 2px 5px 3px;
    border: none;
}

.fdk-button-small:disabled {
    color: $color2;
    border: none;
    padding-bottom: 3px;
}

.fdk-button-danger {
    color: $color-red3;
    border-bottom: 1px solid $color-red3;
}

/* fonts */

a > .fdk-button {
    text-decoration: none;
    font-weight: 400;
    color: $color1;
}

a > .fdk-button-cta {
    text-decoration: none;
    font-weight: 400;
    color: $color0;
}

.fdk-button-format > i {
    color: $color0;
}

.fdk-button-small > .fa {
    margin-right: 3px;
    color: $color1;
    margin-right: 3px;
}

.fdk-button-small:disabled > .fa {
    color: $color2;
}

.fdk-button-danger > .fa {
    color: $color-red3;
}


/* * * * *   L A B E L S   * * * * */

.fdk-label {
    background-color: $color5;
    color: $color1;
    font-size: 1.4rem;
    border-radius: 2px;
    padding: 5px 7px 4px 7px;
    display: inline-block;
    margin: 2px 0px 2px 0px;
}

.fdk-label-on-grey {
    background-color: $color4;
}



/* fonts */

a > .fdk-label {
    color: $color1;
    text-decoration: none;
    font-size: 1.4rem
}



/*  A L E R T S  */

.fdk-alert {
	border: 1px solid;
	background-image: none;
	box-shadow: none;
    color: $color1;
    padding: 15px 20px;
    margin: 0px 0px 20px 0px;
}

.fdk-alert-default {
	background-color: $color-yellow2;
	border-color: $color-yellow;
    color: $color1;
}

.fdk-alert-success {
	background-color: $color-green2;
	border-color: $color-green;
    color: $color1;
}

.fdk-alert-danger {
	background-color: $color-red2;
	border-color: $color-red;
    color: $color1;
}



/*  G E N E R A L   C S S  */

.fdk-margin-right {
    margin-right: 10px;
}

.fdk-margin-right-double {
    margin-right: 20px;
}

.fdk-float-right {
    float: right;
}

.fdk-float-none {
    float: none;
}

.fdk-fullwidth {
    width: 100%;
}



/*  S P A C E  */

.fdk-padding-no {
    padding: 0px;
}

.fdk-margin-no {
    margin: 0px;
}

.fdk-margin-top-no {
    margin-top: 0px;
}

.fdk-margin-top {
    margin-top: 20px;
}

.fdk-margin-top-double {
    margin-top: 40px;
}

.fdk-margin-top-triple {
    margin-top: 60px;
}

.fdk-margin-bottom-no {
    margin-bottom: 0px;
}

.fdk-margin-bottom-half {
    margin-bottom: 10px;
}

.fdk-margin-bottom {
    margin-bottom: 20px;
}

.fdk-margin-bottom-double {
    margin-bottom: 40px;
}

.fdk-margin-bottom-triple {
    margin-bottom: 60px;
}

.fdk-margin-left {
    margin-left: 10px;
}



/*  O V E R R I D E S  */

.btn-default {
	text-shadow: none;
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .fdk-label {
        padding: 5px 7px 4px 7px;
        display: inline-block;
        margin: -1px 0px -1px 2px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}