@import './colors.scss';
/***************  **************************/
/*********** Bootstrap overrides **********/
/*****************************************/
$primary:       $color1 !default;
$secondary:     $color3 !default;
$success:       $color-green !default;
$info:          $color-cta4 !default;
$warning:       $color-yellow !default;
$danger:        $color-red !default;
//$light:         $gray-100 !default;
//$dark:          $gray-800 !default;

@import '~bootstrap/scss/bootstrap';

.alert-success {
  background-color: $color-green2;
  color: $color1;
}

.alert-warning {
  background-color: $color-yellow2;
  color: $color1;
}

/*****************************************/
/*********** End Bootstrap overrides **********/
/*****************************************/

@import './designsystem.scss';
@import './register.scss';
@import './typo.scss';
@import './common.scss';
@import '~font-awesome/scss/font-awesome.scss';

.uu-invisible {
  background:0 0;
  color:transparent;
  border:0;
  clip:rect(0 0 0 0);
  height:1px;
  width:1px;
  margin:-1px;
  padding:0;
  overflow:hidden;
  position:absolute!important
}

#skip-link-wrap {
  a {
    color: $color-cta2;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    &:focus, &:active {
      background-color: lime;
      position: static;
      top: 0;
      left: 0;
      width: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      clip: auto;
    }
  }
}

.no-padding {
  padding: 0 !important;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nowrap {
  white-space: nowrap;
}

/*****************************************/
/*********** End of definitions **********/
/*****************************************/

html {
  height: 100vh;
}

body {
  background: $color6 !important;
  color: $color1;
  font-family: "heebo", "helvetica", sans-serif;
  font-size: 100%;
}

.breakword {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  max-width: 100%;
}

.breakword-word {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  max-width: 100%;
}

.visibilityHidden {
  visibility: hidden;
}

/*
SITE
 */
.site {
  min-height: 100vh;
  height: 0;
  .site-content {
    flex-grow: 1;
  }
}

/*
FDK-BUTTON
*/

.btn-group-default .dropdown-menu {
  left: auto !important;
  right: 0 !important;
}

.btn-group, .dropdown {
  .fdk-button-default {
    &:focus, &:active, &:hover {
      color: $color1 !important;
      background-color: $color-cta4 !important;
      border-color: transparent !important;
      box-shadow: 0 4px 8px rgba(45, 55, 65, 0.2) !important;
    }
  }
  .fdk-button-dropdown {
    &:focus, &:active, &:hover {
      color: $color1;
      background-color: $color0;
      border-color: transparent;
      box-shadow: 0 4px 8px rgba(45, 55, 65, 0.2);
    }
  }

}

.show.btn-group, .show.dropdown {
  .fdk-button-default {
    color: $color1;
    background-color: $color-cta4 !important;
    border-color: transparent !important;
    box-shadow: none !important;
  }
  .fdk-button-dropdown {
    &:focus, &:active, &:hover {
      background-color: $color0;
      border-color: transparent;
      box-shadow: none;
    }
  }
}

.dropdown-item {
  font-size: .88rem;
  line-height: 1.42857143;
  white-space: nowrap;
}

/*
FDK-BADGE
 */
.fdk-badge {
  font-weight: 400;
}



/*==========  Media Queries  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}/* end min-width : 320px */


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}/* end min-width : 480px */

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}

