@import './colors.scss';

/*  C O N T A I N E R  */

.fd-column-search-left {
	height: auto;
	border: 1px solid $color4;
	border-radius: 2px;
	margin: 0;
	padding: 15px 15px 20px 15px;
}

.fdk-container-compare {
	margin: 0px 100px 0px 100px;
	background-color: $color0;
	padding: 40px;
}

.fdk-header-compare {
	margin: 100px 100px 0px 100px;
	background-color: $color1;
	color: $color0;
	padding: 20px 40px;
	border-radius: 4px 4px 0px 0px;
}



/*  I N P U T  */


.fdk-search {
    color: $color1;
    border: 1px solid $color1;
    border-radius: 5px;
    font-size: 2rem;
    line-height: 3rem;
    width: 100%;
    padding: 12px 16px;
    margin: 0 0 60px 0px;
}

::-webkit-input-placeholder { /* PLACEHOLDER COLOR FOR: WebKit, Blink, Edge */
    color: $color3;
}

:-moz-placeholder { /* PLACEHOLDER COLOR FOR: Mozilla Firefox 4 to 18 */
   color: $color3;
   opacity: 1;
}

::-moz-placeholder { /* PLACEHOLDER COLOR FOR: Mozilla Firefox 19+ */
   color: $color3;
   opacity: 1;
}

:-ms-input-placeholder { /* PLACEHOLDER COLOR FOR: Internet Explorer 10-11 */
   color: $color3;
}



/*  S E A R C H   R E S U L T  */


.fdk-container-search-hit {
	background-color: $color0;
	color: $color1;
	border: 1px solid $color6;
	margin: 0 0 10px 0;
	padding: 25px 30px 30px 30px;
	border-radius: 5px;
	text-decoration: none;
}

a > .fdk-container-search-hit {
	color: $color1;
	text-decoration: none !important;
}

.fdk-container-access {
	width: 100%;
	margin-top: 0px;
}


.fdk-label-distribution {
	padding: 7px 9px;
	margin: 6px 2px 0px 0px;
	color: $color1;
	border-radius: 5px;
	size: 1.5rem;
	line-height: 1.5rem;
	size: auto;
	display: inline-block;
	border: 2px solid $color2;
}

.fdk-container-tilgang {
	width: 100%;
	margin: 0px 20px 10px 0px;
	vertical-align: middle;
}

.fdk-container-distr {
	width: auto;
}

.fdk-container-distributions {
	width: 100%;
	border-left: 10px solid $color1;
	padding-left: 10px;
}

.fdk-distributions-green {
	border-left: 10px solid $color-green;
}

.fdk-distributions-yellow {
	border-left: 10px solid $color-yellow;
}

.fdk-distributions-red {
	border-left: 10px solid $color-red;
}



.fdk-count {
    float: right;
}

/* FONTS */

.fdk-p-search-hit {
	margin-top: 20px;
}

.fdk-icon-tilgangsniva {
	font-size: 3.5rem !important;
	line-height: 3.5rem;
	margin-right: 15px;
	color: $color2;
}

.fdk-tilgangsniva {
	font-weight: 600;
}

.fdk-distribution-format {
	font-weight: 700;
	text-transform: uppercase;
	margin-right: 6px;
}


/*  P A G I N A T I O N  */

.fdk-container-pagination {
	margin: auto;
	margin-top: 30px;
	display: block;
	text-align: center;
}

.fdk-pagination {
    margin: -2px;
		padding: 7px 10px;
    text-align: center;
    display: inline-block;
}

.fdk-pagination:active, .fdk-pagination-selected {
    background-color: $color1;
		color: $color0;
}

.fdk-pagination:hover {
    background-color: $color5;
}

.fdk-pagination-selected:hover {
    background-color: $color1;
		text-decoration: none;
}

.fdk-pagination-previous {
    border-radius: 3px 0px 0px 3px;
}

.fdk-pagination-next {
    border-radius: 0px 3px 3px 0px;
}

a > .fdk-pagination {
	text-decoration: underline;
}

a > .fdk-pagination:hover {
	text-decoration: none;
}

/* fonts */

a > .fdk-pagination {
	color: $color1;
}

a > .fdk-pagination:hover {
	color: $color1;
}



/*  F I L T E R  */

.fdk-panel-group {
	margin-bottom: 10px;
	background: none;
	border-radius: 4px;
}

.fdk-panel {
	background-color: $color5;
	border: none;
	box-shadow: none;
	margin-bottom: 10px;
}

.fdk-panel-heading {
	background-color: $color5;
	border-radius: 4px;
	padding: 20px;
	color: $color1;
	font-size: 1.875rem;
	line-height: 1.875rem;
	font-weight: 400;
	text-decoration: none;
	box-shadow: none;
}

a > .fdk-panel-heading {
	text-decoration: none !important;
}

.fdk-panel-collapse {
	background-color: $color6;
	border-radius: 0px 0px 4px 4px;
	box-shadow: none;
}

.fdk-list-group {
	box-shadow: none;
}

.fdk-list-group-item {
	background-color: $color-cta;
	padding: 8px 20px;
	border-top: 1px solid $color4;
	margin-top: -4px;
	box-shadow: none;
}

.fdk-list-group-item:hover {
	background-color: $color4;
}

.fdk-list-group-item:first-child {
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
}

.fdk-list-group-item:last-child {
	border-radius: 0px 0px 4px 4px !important;
}


/* OBS! DENNE MÅ SKRIVES OM!!! */
.panel-default > .fdk-panel-heading {
	background-image: none;
	border: none;
}



/*  D E T A I L  P A G E  */

.fdk-container-detail {
	background-color: $color0;
	margin: 3px;
	padding: 28px 30px 30px 30px;
	border-radius: 4px;
	display: block;
}

.fdk-container-detail-header {
	background-color: $color1;
	color: $color0;
  	font-size: 2.25rem;
  	line-height: 2.25rem;
	padding-top: 20px;
	padding-bottom: 20px;
}

.fdk-container-detail-header > .fdk-fa-left {
	margin-right: 15px;
}

.fdk-container-detail-begrep {
	padding-top: 18px;
	padding-bottom: 20px;
}

.fdk-container-detail-begrep:hover {
	box-shadow: 0px 3px 12px $color4;
}

.fdk-container-detail-offentlig {
	border-left: 10px solid $color-green;
	padding-left: 20px;
}

.fdk-container-detail-begrenset {
	border-left: 10px solid $color-yellow;
	padding-left: 20px;
}

.fdk-container-detail-unntatt {
	border-left: 10px solid $color-red;
	padding-left: 20px;
}

.fdk-container-detail-text {
	margin: 0px;
}

.fdk-label-distribution {
	padding: 10px 12px;
	margin: 6px 2px 0px 0px;
	color: $color1;
	size: 1.4rem;
	line-height: 1.4rem;
	border-radius: 5px;
	size: auto;
	display: inline-block;
	border: 1px solid;
}

.fdk-label-distribution-offentlig {
	border-color: $color-green;
}

.fdk-label-distribution-begrenset {
	border-color: $color-yellow;
}

.fdk-label-distribution-skjermet {
	border-color: $color-red;
}

.fdk-label-distribution-testdata {
	border-color: $color1;
}

.fdk-row {
	padding: 0px 15px;
}

.fdk-col-detail {
	padding: 4px;
}

.fdk-detail-icon {
	display: block;
	float: left;
	font-size: 2.8rem;
	padding-top: 6px;
	color: $color-cta;
}

.fdk-detail-icon-oneline {
	padding-top: 0px;
}

.fdk-detail-text {
	display: block;
	padding-left: 5rem;
}



/*  C O M P A R E  */

.fdk-container-compare > hr {
	border-color: var(--color5);
	margin-top: 25px;
	margin-bottom: 25px;
}



/*  T Y P O G R A P H Y  */

.fdk-search-subheading {
    font-weight: 400;
    border-bottom: 1px solid $color3;
    padding: 0.4rem 0 0.8rem 0;
    margin-bottom: 0.6rem;
}

.fdk-icon-detail-big {
	color: $color-cta;
	font-size: 3rem;
}

.fdk-p-detail {
	color: $color4;
	size: 1.5rem;
	line-height: 1.5rem;
}

.fdk-icon-distribution {
	font-size: 3rem !important;
	line-height: 3rem;
	margin-right: 20px;
}

.fdk-distribution-format {
	font-weight: 700;
	text-transform: uppercase;
	margin-right: 6px;
}

.fdk-header-compare > h4 {
	color: var(--color0);
	font-weight: 400;
	margin: 0px;
	display: inline-block;
}

.fdk-header-compare > .fa {
	font-size: 1.85rem;
	color: $color0;
}

.fdk-container-compare > .fdk-strong-virksomhet {
	color: $color-cta;
}

.fdk-container-compare > .row > .col-md-6 > p {
	margin-bottom: 0px;
}

.fdk-container-compare > .row > .col-md-6 > h3 {
	margin-bottom: 6px;
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.fdk-search {
		font-size: 3rem;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}