@import '../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';

.react-tags {
  position: relative;
  padding: .4em 0 0 .4em;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  line-height: 1.2;
  /* clicking anywhere will focus the input */
  cursor: text;
  flex-grow: 1 !important;

  &:after {
    content: '\F002';
    color: $color-dark-2;
    font-family: FontAwesome;
    right: 1em;
    top: 15px;
    position: absolute;
  }
}

.react-tags.is-focused {
  color: #495057;
  background-color: #fff;
  border-color: #646E78;
  outline: 0;
  box-shadow: 0 0 0 0.4rem rgba(45, 55, 65, 0.25);
}

.react-tags__selected {
  display: inline;
}

.react-tags__selected-tag {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 .4em .4em 0;
  padding: 6px 8px;
  border: 1px solid $color-dark-2;
  border-radius: 2px;
  background: $color-grey-3;

  /* match the font styles */
  font-size: inherit;
  line-height: inherit;

  &:after {
    content: '\2715';
    color: $color-dark-2;
    margin-left: 8px;
  }
  &:hover, &:focus {
    border-color: #B1B1B1;
  }
}

.react-tags__search {
  display: inline-block;

  /* match tag layout */
  padding: 7px 2px;
  margin-bottom: 6px;

  /* prevent autoresize overflowing the container */
  max-width: 100%;
}


@media screen and (min-width: 30em) {

  .react-tags__search {
    /* this will become the offsetParent for suggestions */
    position: relative;
  }

}

.react-tags__search input {
  /* prevent autoresize overflowing the container */
  max-width: 100%;

  /* remove styles and layout from this element */
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;

  /* match the font styles */
  font-size: inherit;
  line-height: inherit;
}

.react-tags__search input::-ms-clear {
  display: none;
}

.react-tags__suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 2;
}

@media screen and (min-width: 30em) {

  .react-tags__suggestions {
    width: 440px;
  }

}

.react-tags__suggestions ul {
  margin: 4px -1px;
  padding: 0;
  list-style: none;
  background: white;
  border: 1px solid #D1D1D1;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.react-tags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 6px 8px;
}

.react-tags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}

.react-tags__suggestions li:hover {
  cursor: pointer;
  background: #eee;
}

.react-tags__suggestions li.is-active {
  background: #b7cfe0;
}

.react-tags__suggestions li.is-disabled {
  opacity: 0.5;
  cursor: auto;
}