@import './colors.scss';

/*  T Y P O G R A P H Y  */


h1 {
    color: $color1;
    font-size: 1.75rem;
    line-height: 2rem;
    font-weight: 300;
    margin: .5rem 0 0 0;
}

h2 {
    color: $color1;
    font-size: 1.5rem;
    line-height: 2.2rem;
    font-weight: 600;
}

.fdk-container-search-hit > h2 {
    margin: 0 0 10px 0;
}

h3 {
    color: $color1;
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0px;
}

h4 {
    color: $color1;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 600;
    margin: 0px;
}

h5 {
    color: $color1;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0px;
    line-height: 1.5rem;
}

.fdk-ingress {
    font-size: 2rem;
    line-height: 2.8rem;
    font-weight: 400;
    margin: 0 0 2.8rem 0;
}

.fdk-ingress-detail {
    margin: 0px;
    padding: 0px;
}

.fdk-list {
    padding-bottom: 2.3rem;
}

.fdk-list-short {
    padding-bottom: 1.15rem;
}

.fdk-list-number {
    list-style-type: decimal;
}

a {
    color: $color-cta2;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
    color: var(--color-cta2);
}

.fdk-p-header {
    font-size: 3rem;
    line-height: 3rem;
    padding-bottom: 8px;
    margin: 0px;
}

.fdk-p-header-sub {
    font-size: 1.6rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 1.3rem 0px 0px 0px;
    margin: 0px;
}

.fdk-p-footer {
    font-size: .9rem;
    line-height: 1.2rem;
    font-weight: 300;
    color: $color3;
    padding: 0;
    margin: 0;
}

.fdk-p-footer > a {
    color: $color3;
}

.fdk-textregular {
	font-weight: 400;
}

.fdk-text-white {
    color: #fff;
}

.fdk-text-right {
	text-align: right;
}

.fdk-text-center {
	text-align: center;
}

.fdk-text-regular {
	font-weight: 400;
}

.fdk-strong-virksomhet {
    color: $color-cta2;
    font-weight: 600;
    letter-spacing: 0.03rem;
    margin-right: 10px;
    font-size: 1.6rem;
}

.fdk-p-path {
    color: $color3;
    font-size: 1.3rem;
    font-weight: 300;
    margin: 0;
    padding: 0;
}
.fdk-p-path > a {
    text-decoration: none;
    color: $color3;
}

.fdk-p-path > a:hover {
    text-decoration: underline;
}

.fdk-text-size-small {
    font-size: .9rem;
}

.fdk-text-strong {
    font-weight: 500;
}

.fdk-text-extra-strong {
    font-weight: 600;
}

.fdk-text-size-medium {
    font-size: 1.2rem;
}

.fdk-text-line-medium {
    line-height: 1.5rem;
}


/*  F O N T   A W E S O M E  */

.fdk-fa-right {
	margin-left: 5px;
}

.fdk-fa-left {
	margin-right: 5px;
}

.fdk-fa-big {
    font-size: 1.875rem !important;
    line-height: 1.875rem !important;
    position: relative;
    top: 2px;
}

.fdk-lLabel-neutral:active > .fdk-fa-arrow-left {
	color: #fff;
}

.fdk-label-default:hover > .fdk-fa-button { /* Hovering for labels with font awesome icons */
	color: $color1;
}

.fdk-label-default:active > .fdk-fa-button { /* Hovering for labels with font awesome icons */
	color: #fff;
}

.fdk-fa-path {
    color: $color3;
    margin: 0px 8px;
    font-size: 1.4rem !important;
}

.fdk-fa-link {
    margin-right: 5px;
    color: $color-cta2;
}