@import '../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';


.scrollable {
  overflow: auto;

  .sticky th {
    background-color: $color-neutral-lightest;
    border-bottom: 0;
    border-top: 0;
    position: sticky;
    top: 0;
    z-index: 5;
  }

  .table.scrollable {
    display: block;
  }

  .table.scrollable tbody {
    display: table;
  }

  th, td {
    padding: 1em !important;
    min-width: 16em;
  }

  td:nth-child(1) {
    background-color: $color-neutral-lightest;
    position: sticky;
    left     : 0;
    z-index  : 10;
  }

  th:nth-child(1) {
    background-color: $color-neutral-lightest;
    position: sticky;
    left     : 0;
    top      : 0;
    z-index  : 200 !important;
  }

  thead tr:nth-child(1) th {
    position: sticky;
    top: 0;
    z-index: 10;
  }
}
