# recommended dev configuration

export REDUX_LOG=false
export LOG_LEVEL=DEBUG

export KEYCLOAK_USER=admin
export KEYCLOAK_PASSWORD=admin


# secrets - never commit in git

export DISQUS_SHORTNAME=CHANGE_ME
export IDPORTEN_CLIENT_ID=CHANGE_ME
export IDPORTEN_CLIENT_SECRET=CHANGE_ME
