target/
docker/.env
docker/git.properties
**/*.iml
.idea/
logs/
**/.env
*/git.properties
/test/*.zip
/test/elasticsearch-2.4.1/data/
/test/elasticsearch-2.4.1/logs/
/test/lib/
/portal/webapp/phantomjsdriver.log
**/phantomjsdriver.log
/test/zip/
/bddtest/data/
/data/
.DS_Store
