<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<div th:if="${param.error}">
    Feil brukernavn eller passord
</div>
<div th:if="${param.logout}">
    Du er logget ut.
</div>
<form th:action="@{/login}" method="post">
    <div><label> Brukernavn : <input type="text" name="username"/> </label></div>
    <div><label> Passord: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Logg inn"/></div>
</form>
</body>
</html>