@import '../../assets/css/colors.scss';
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*  SEARCHPAGE SEARCHBOX AND TEXT  */
.mb-60 {
  margin-bottom: 60px;
}

.sk-hits-stats__info {
  color: $color1;
  font-size: 2.25rem;
  line-height: 2.7rem;
  font-weight: 500;
  margin: 0px;
}

/* SEARCHPAGE FILTERS */

/*
.filter--theme{
  .sk-panel__header {
    &:before {
      content: "\F02E";
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      margin-right: .5em;
    }
  }
}

.filter--publisher {
  .sk-panel__header {
    &:before {
      content: "\F0F7";
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      margin-right: .5em;
    }
  }
}

.filter--accessRight {
  .sk-panel__header {
    &:before {
      content: "\F084";
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      margin-right: .5em;
    }
  }
}
*/

.filter--publisher .sk-item-list > input[type=checkbox]
.filter--theme .sk-item-list > input[type=checkbox]
.filter--accessRight .sk-item-list > input[type=checkbox] {
  position: absolute;
  left:-9999px;
}
.filter--publisher .sk-item-list > label
.filter--theme .sk-item-list > label
.filter--accessRight .sk-item-list > label {
  cursor: pointer;
}
.filter--publisher .sk-item-list > label:last-child
.filter--theme .sk-item-list > label:last-child
.filter--accessRight .sk-item-list > label:last-child {
  display: none;
}
.filter--publisher div.checkbox:nth-child(-n+5)
.filter--theme div.checkbox:nth-child(-n+5)
.filter--accessRight div.checkbox:nth-child(-n+5) {
  display: block;
}
.filter--publisher input[type=checkbox]:checked ~ div
.filter--theme input[type=checkbox]:checked ~ div
.filter--accessRight input[type=checkbox]:checked ~ div {
  display: block !important;
}
.filter--publisher input[type=checkbox]:checked ~ label
.filter--theme input[type=checkbox]:checked ~ label
.filter--accessRight input[type=checkbox]:checked ~ label {
  display: none !important;
}
.filter--publisher input[type=checkbox]:checked ~ label:last-child
.filter--theme input[type=checkbox]:checked ~ label:last-child
.filter--accessRight input[type=checkbox]:checked ~ label:last-child {
  display: inline-block !important;
}
.filter--publisher div.checkbox
.filter--theme div.checkbox
.filter--accessRight div.checkbox {
  display: none;
}

.level1 {

}
.level2.expanded, .level3.expanded, .level4.expanded {
  display: inline-block;
}
.level2 {
  margin-left: 20px;
  display: none;
}
.level3 {
  margin-left: 40px;
  display: none;
}
.level4 {
  margin-left: 60px;
  display: none;
}
/*  SEARCHPAGE PAGINATION  */

.sk-pagination-navigation .sk-toggle-option:first-child,
.sk-pagination-navigation .sk-toggle-option:last-child {
  flex: auto;
}

.sk-pagination-navigation {
  margin:10px auto;
}

.sk-pagination-select {
  margin: 10px auto;
  text-align:center;
}

.sk-toggle {
  display: flex;
  justify-content: center;
}
.sk-toggle-option {
  cursor: pointer;
  white-space: nowrap;
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding: 11px 12px 10px 12px;
  margin: 0px 0px 6px 0px;
  //display: inline-block;
  //background-image: none;
  //text-shadow: none;
  text-align: center;
  text-decoration: underline;
  &:hover {
    background-color: $color5;
    text-decoration: none;
  }
}

.sk-toggle-option.sk-toggle__item.is-disabled {
  color: $color4;
}


.sk-toggle-option__text {
  &:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.sk-pagination-navigation .sk-toggle-option:first-child, .sk-pagination-navigation .sk-toggle-option:last-child {
  flex: auto;
}
.sk-toggle-option.is-disabled {
  cursor: initial;
  color: #ddd;
}
.sk-toggle-option:first-child {
  .sk-toggle-option__text {
    &:before {
      content: "\F060";
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      margin-right: .5em;
    }
  }
}
.sk-toggle-option:last-child {
  .sk-toggle-option__text {
    &:after {
      content: "\F061";
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      margin-left: .5em;
    }
  }
}
.sk-toggle-option.is-active {
  background-color: $color1;
  color: $color0;
  text-decoration: none;
}

/* SEARCHPAGE REFINEMENT FILTER */

.sk-panel {
  background-color: $color5;
  padding: 2rem;
  margin: .5em auto;
  border-radius: 5px;
}

.sk-panel__header {
  color: $color1;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 500;
  margin: 0px;
}
