@import '../../assets/css/colors.scss';
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*  SEARCHPAGE SEARCHBOX AND TEXT  */
.mb-60 {
  margin-bottom: 60px;
}

.sk-hits-stats__info {
  color: $color1;
  font-size: 2.25rem;
  line-height: 2.7rem;
  font-weight: 500;
  margin: 0px;
}

/* SEARCHPAGE FILTERS */

.filter--theme{
  .sk-panel__header {
    &:before {
      content: "\F02E";
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      margin-right: .5em;
    }
  }
}

.filter--publisher {
  .sk-panel__header {
    &:before {
      content: "\F0F7";
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      margin-right: .5em;
    }
  }
}

.filter--accessRight {
  .sk-panel__header {
    &:before {
      content: "\F084";
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      margin-right: .5em;
    }
  }
}

/*  SEARCHPAGE PAGINATION  */

.sk-pagination-navigation .sk-toggle-option:first-child,
.sk-pagination-navigation .sk-toggle-option:last-child {
  flex: auto;
}

.sk-pagination-navigation {
  width:300px;
  margin:10px auto;
}

.sk-pagination-select {
  margin: 10px auto;
  text-align:center;
}

.sk-toggle {
  display: flex;
}
.sk-toggle-option {
  cursor: pointer;
  white-space: nowrap;
  font-size: 1.5rem;
  line-height: 1.5rem;
  border-radius: 6px;
  border: 3px solid $color6;
  padding: 11px 12px 10px 12px;
  margin: 0px 2px 6px 0px;
  display: inline-block;
  background-image: none;
  text-shadow: none;
  text-align: center;
  box-shadow: none;
  background-color: $color5;
  border-color: $color6;
  &:hover {
    border-radius: 3px;
    border: 3px solid $color5;
    background-color: $color5;
  }
}

.sk-toggle-option.sk-toggle__item.is-disabled {
  border: 1px dashed $color4;
  color: $color4;
  border-radius: 4px;
  margin: 0px 6px 6px 0px;
}


.sk-toggle-option__text {
  &:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.sk-pagination-navigation .sk-toggle-option:first-child, .sk-pagination-navigation .sk-toggle-option:last-child {
  flex: auto;
}
.sk-toggle-option.is-disabled {
  cursor: initial;
  color: #ddd;
}
.sk-toggle-option:first-child {
  border-radius: 3px 0 0 3px;
}
.sk-toggle-option:last-child {
  border-radius: 0 3px 3px 0;
  border-right: 1px solid #ccc;
}
.sk-toggle-option.is-active {
  background-color: #5A6778;
  color: #fff;
  &:hover {
    border-color: #5A6778;
  }
}

/* SEARCHPAGE REFINEMENT FILTER */

.sk-panel {
  background-color: $color5;
  padding: 10px 20px;
  margin: .5em auto;
  border-radius: 5px;
}

.sk-panel__header {
  color: $color1;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 500;
  margin: 0px;
}
