@import '../../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';

.schema-collapse--item {
  margin-bottom: -1px;
  background-color: $color-white;
  border-top: 1px solid $color-neutral-light;
  padding: 1em 0;
  flex-wrap: wrap !important;
  &:first-child {
    border-top: 0;
  }
  &:last-child {
    border-bottom: 0;
  }
}
