<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/security">
<head>
</head>
<body>

<div class="fdk-header-beta" th:fragment="version">
    <span th:text="#{beta.first}">Dette er en beta-versjon. Gi oss gjerne</span>
    <a class="white-link" th:href="'mailto:fellesdatakatalog@brreg.no?subject=Tilbakemelding Felles datakatalog'" th:text="#{beta.second}">tilbakemeldinger</a> <span th:text="#{beta.last}"> om hva du synes!</span>
</div>


<div class="fdk-header-menu" th:fragment="header">

    <!-- DROPDOWN MENU -->
    <div class="dropdown fdk-container-dropdown-menu">
        <div class="dropdown fdk-dropdown-toggle-menu">
            <a data-toggle="dropdown" href="#">&#9776;</a>
            <ul class="dropdown-menu fdk-dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><a href="#" th:text="#{about.title}">Om Felles Datakatalog</a></li>
                <li><a href="#" th:text="#{faq}">Spørsmål og svar</a></li>
                <li><a href="https://doc.difi.no/dcat-ap-no/">DCAT-AP-NO 1.1-Standarden</a></li>
                <li><a href="coverage.html" th:text="#{about.status}">Status implementasjon</a></li>
            </ul>
        </div>
    </div>

    <!-- DROPDOWN LANGUAGE -->
    <div class="dropdown fdk-container-dropdown-language">
        <button class="btn btn-default fdk-dropdown-toggle-language" type="button" id="chosenLanguage" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
            <img class="fdk-dropdown-language-flag" src="img/flag-norway.png"/>Bokmål
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu fdk-dropdown-language" aria-labelledby="dropdownMenu1">
            <li><a id="lang.en" href="?lang=en"><img class="fdk-dropdown-language-flag" src="img/flag-england.png"/>English</a></li>
            <li><a id="lang.nb" href="?lang=nb"><img class="fdk-dropdown-language-flag" src="img/flag-norway.png"/>Bokmål</a></li>
            <li><a id="lang.nn" href="?lang=nn"><img class="fdk-dropdown-language-flag" src="img/flag-norway.png"/>Nynorsk</a></li>
        </ul>
    </div>

</div>
</body>
</html>