<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="#{app.title}">Felles datakatalog</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="dcatQueryService" th:content="${session.dcatQueryService}"/>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" media="all"/>
    <link rel="stylesheet" href="css/main.css" media="all"/>

</head>
<body>
<div lang="en" th:replace="header :: version"/>

<div class="container" id="publisher">
    <div th:replace="header :: header"/>
    <div th:replace="search :: search"/>

    <div class="row publisher-directory">
        <div th:each="r : ${#numbers.sequence(0, publisher.size() - 1)}" class="publisher">
            <h4 th:if="${publisher.get(r).name != null}">
                <a data-toggle="collapse"
                   th:if="${publisher.get(r).aggrSubPublisher.size()} > 0" th:id="${publisher.get(r).name}"
                   th:href="${'#collaps_' + {r}}" aria-expanded="false" aria-controls="collapseExample">
                   <span class="glyphicon glyphicon-triangle-right"/>
                    <span name="publisher" th:text="${publisher.get(r).name}"/>
                    <span class="fdk-badge">(<span  th:text="${aggpublishercount.get(publisher.get(r).name)}"/>)</span>
                </a>

                <a th:if="${publisher.get(r).aggrSubPublisher.size()} == 0" th:id="${publisher.get(r).name}"
                   th:href="${'/datasets?publisher=' + {publisher.get(r).name}}">
                    <span name="publisher" th:text="${publisher.get(r).name}"/>
                    <span class="fdk-badge">(<span  th:text="${aggpublishercount.get(publisher.get(r).name)}"/>)</span>
                </a>
            </h4>
            <div th:id="${'collaps_' + {r}}" class="panel-collapse collapse"
                 th:if="${publisher.get(r).aggrSubPublisher.size()} > 0">
                <div th:each="c : ${#numbers.sequence(0, publisher.get(r).aggrSubPublisher.size() - 1)}">
                    <a class="fdk-sub-publisher" th:href="@{/datasets(publisher=${publisher.get(r).aggrSubPublisher.get(c).name})}"
                       th:id="${publisher.get(r).aggrSubPublisher.get(c).name}">
                        <span name="publisher" th:text="${publisher.get(r).aggrSubPublisher.get(c).name}"/>
                        <span class="fdk-badge">(<span th:text="${aggpublishercount.get(publisher.get(r).aggrSubPublisher.get(c).name)}"/>)</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div lang="en" th:replace="footer :: footer"/>

<script src="webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/header.js"></script>
<script>
    /*<![CDATA[*/
    $(document).ready(searchController());
    /*]]>*/
</script>
</body>
</html>
