<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="#{app.title}">Felles datakatalog</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="dcatQueryService" th:content="${session.dcatQueryService}"/>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" media="all"/>
    <style>
.publisher {
    position: absolute;
    top: 0;
    right: 0;
}

.overflow-text {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 120%; //1em;     /* fallback */
   max-height: 360%; // 3em;      /* fallback */
   -webkit-line-clamp: 3; /* number of lines to show */
   -webkit-box-orient: vertical;
}

    </style>
</head>
<body>
<!--div id="dcatQueryService" th:text="${session.dcatQueryService}" style="display:none"></div-->
<div id="versionInformation" class="text-muted small text-right" th:text="${session.versionInformation}"></div>

<div class="container-fluid">

    <header class="a-header" role="banner">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:text="#{app.title}">Felles datakatalog</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" th:attr="title=#{feedback.title}"><span class="glyphicon glyphicon-envelope"></span></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" th:attr="title=#{lang.choose}" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="false">
                            <span id="chosenLanguage" th:text="#{lang.chosenLanguage}">Norsk (bokmål)</span>
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu" id="language-list">
                            <li><a href="?lang=nb" lang="nb" th:text="#{lang.norwegian-nb}">Norsk (bokmål)</a></li>
                            <li><a href="?lang=nn" lang="nn" th:text="#{lang.norwegian-nn}">Norsk (nynorsk)</a></li>
                            <li><a href="?lang=en" lang="en" th:text="#{lang.english-en}">Engelsk</a></li>
                        </ul>
                    </li>
                    <li><a href="#" th:attr="title=#{login.title}"><span class="glyphicon glyphicon-user"></span></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" th:attr="title=#{about.title}" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="false">
                            <span th:text="#{about}">Om</span> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown" th:text="#{about.help}">Hjelp</li>
                            <ul class="dropdown-menu">
                                <li><a href="help/help.html" target="_blank">Språkstøtte</a></li>
                                <li><a href="help/ResulPageNavigation.html" target="_blank">Navigering i søkeresultat</a></li>
                            </ul>
                            <li><a href="coverage.html" target="_blank" th:text="#{about.status}">Status implementasjon</a></li>
                            <li><a href="https://doc.difi.no/dcat-ap-no/" target = "_blank" th:text="#{about.standard}">DCAT-AP-NO 1.1</a></li>
                            <li><a href="#" th:text="#{about.guide}">Veileder</a></li>
                            <li><a href="#" th:text="#{about.fordataowners}">For dataeiere</a></li>
                            <li><a href="#" th:text="#{about.fordatausers}">For databrukere</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#" th:text="#{about.technical}">Teknisk</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <form class="site-search" ation="#" th:action="@{/results}" th:object="${dataitemquery}"  method="post" >
        <div class="form-group a-form-group  col-sm-10">
            <div class="input-group  col-sm-10">

                <label for="search" id="searchLarge">
                    <span class="sr-only" th:text="#{query.intro}"> Søk etter datasett </span>
                </label>

                <div class="custom-search-input  col-sm-10">
                    <div class="input-group col-sm-10">
                        <input type="text" class="form-control" placeholder="#" th:attr="placeholder=#{query.intro}" th:field="*{q}" />
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class = "row">
        <th:block th:with="rowCount=${3}">
            <div th:each="r : ${#numbers.sequence(0, rowCount - 1)}"  class="col-sm-4">
                <h4 th:each="c : ${#numbers.sequence(r*(themes.size()/rowCount), themes.size() > (r + 2)*(themes.size()/rowCount) - 1? (r+1)*(themes.size()/rowCount) - 1 : themes.size()-1)}">
                    <a th:if="${r &lt; themes.size()}"
                       th:text="${themes.get(c).title.get('nb')} != null ? ${themes.get(c).title.get('nb')} : ${themes.get(c).title.get('nn')}"
                       href="#" th:href="${'/results?theme=' + {themes.get(c).code}}" class="span3" />
                </h4>
            </div>
        </th:block>
    </div>

</div>
</body>
</html>