<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="#{app.title}">Felles datakatalog</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="dcatQueryService" th:content="${session.dcatQueryService}"/>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" media="all"/>
    <style>
    </style>
</head>
<body>

<div lang="en" th:replace="header :: version" />

<div class="container-fluid">
    <div lang="en" th:replace="header :: header" />

    <div>
          <a href="/publisher" th:text="#{app.publisher}" style="float: right">Publisher</a>
    </div>

    <div lang="en" th:replace="search :: search" />

    <div class = "row">
        <th:block th:with="rowCount=${3}">
            <div th:each="r : ${#numbers.sequence(0, rowCount - 1)}"  class="col-sm-4">
                <h4 th:each="c : ${#numbers.sequence(r*(themes.size()/rowCount), themes.size() > (r + 2)*(themes.size()/rowCount) - 1? (r+1)*(themes.size()/rowCount) - 1 : themes.size()-1)}">
                    <a th:if="${r &lt; themes.size()}"
                       th:text="${lang == 'en' ? themes.get(c).title.get('en') : themes.get(c).title.get('nb')}"
                       th:href="${'/results?theme=' + {themes.get(c).code}}" />
                </h4>
            </div>
        </th:block>
    </div>

    <div lang="en" th:replace="footer :: footer" />
</div>
<script src="webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>