<div class="fdk-header-beta">
  <div class="container" style="padding-top: 1em">
    <span>Dette er en beta-versjon. Gi oss gjerne</span>
    <a class="white-link" href="mailto:fellesdatakatalog@brreg.no?subject=Tilbakemelding Felles datakatalog">tilbakemeldinger</a> <span>om hva du synes!</span>
  </div>
</div>
<div class="container body-container">
  <h1>
    {{title}}
  </h1>
  <router-outlet></router-outlet>
</div>
<footer class="footer">
  <div class="container" style="padding-top: 1em">
    <a href="http://www.brreg.no">
      <img src="//scf.brreg.no/bilder/brreg_logo.svg" alt="Brønnøysundregistrene logo" height="200" width="300" class="img-responsive" id="brreg-logo">
    </a>
  </div>
</footer>
