@import '../../../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';

.tree-view {
  overflow-x: hidden;
  .tree-view_item {
    white-space: nowrap;
  }
  .tree-view_children {
    margin-left: 32px;
  }
  .checkbox {
    label {
      margin-bottom: 0 !important;
    }
  }
  .checkbox.indent {
    margin-left: 19px;
  }
  .tree-view_arrow {
    font-size: 1.8rem;
    margin-left: 0.5rem;
    &:after {
      color: $color-link;
      content: '\F106';
      font-family: FontAwesome;
      font-size: 2rem;
    }
  }
  .tree-view_arrow-collapsed {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
}
