<!DOCTYPE html>
<html class="no-js" lang="no">
<head>
	<base href="/" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="author" content="Brønnøysundregistrene" />

	<meta property="og:url"                content="https://fellesdatakatalog.brreg.no" />
	<meta property="og:type"               content="website" />
	<meta property="og:title"              content="Felles datakatalog" />
	<meta property="og:description"        content="Felles Datakatalog er en oversikt over hvilke data de ulike offentlige virksomhetene har, hvordan de henger sammen og hva de betyr. Datakatalogen gjør det mulig for deg å søke i opplysningene hos offentlige virksomheter og bruke de til for eksempel analyseformål." />

	<title>Felles datakatalog</title>
	<link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
	<link media="screen" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Heebo:100,300,400,500,700,800,900">
	<link media="screen" rel="stylesheet" type="text/css" href="/static/styles.css">
</head>

<body>
	<script>
			if (navigator.userAgent.indexOf("MSIE") >= 0) {
				document.write('\
					<h1 style="text-align:center">\
					Beklager, men din versjon av Internet Explorer støttes ikke. Du kan forsøke å bruke denne nettsiden, men vi kan ikke garantere at alt fungerer :( \
					</h1>\
				');
			}
	</script>
	<div id='root'></div>
	<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	<script src="http://localhost:8084/auth/js/keycloak.js"></script>
    <script src="http://localhost:8084/auth/js/keycloak-authz.js"></script>
	<script src="/static/bundle.js"></script>
</body>

</html>
