@import '../../../../../node_modules/designsystemet/fdk-designsystem-bootstrap3/scss/colors.scss';

.fdk-a-search-hit {
  text-decoration: none;
}

.fdk-fa-circle {
  background-color: $color1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.toBeCompared {
  border: 2px solid $color1 !important;
}

.fdk-btn-compare {
  margin: 0 0 1.5em 0 !important;
}