<div class="panel panel-default">
  <div class="panel-heading">
    <div class="input-group">
      <input id="tittel-datakatalog" type="text" class="form-control" placeholder="Tittel" />
    </div>
  </div>
  <div class="panel-body">
    <h2>Registerenheten i Brønnøysund</h2>
    <textarea class="form-control" rows="5" id="beskrivelse-datakatalog" placeholder="Beskrivelse"></textarea>
  </div>

  <a routerLink="/catalogs/123/datasets/2"><button class="btn btn-success pull-right" > Nytt datasett </button></a>
</div>

