
<div class="col-md-12" *ngIf="catalog">
  <div class="panel fdk-panel" *ngIf="catalog">
    <div class="fdk-panel-big-heading">
      <div class="form-group">
          <h1>
            <input id="tittel-datakatalog" (ngModelChange)="valuechange()" type="text" class="fdk-register-h1" placeholder="Tittel" [(ngModel)]="catalog.title[language]" />
          </h1>
      </div>
    </div>
    <div>
      <h4>Eies av {{catalog.publisher.name}}</h4>
    </div>
    <div class="fdk-panel-big-body">
      <textarea class="fdk-register-h3" (ngModelChange)="valuechange()" rows="5" id="beskrivelse-datakatalog" placeholder="Beskrivelse" [(ngModel)]='catalog.description[language]'></textarea>
    </div>

    <div class="row">
        <div class="col-md-6 fdk-saved" *ngIf="saved">
            <i class="fa fa-check-circle" aria-hidden="true"></i> Sist lagret {{lastSaved}}
        </div>
        <div class="col-md-6" *ngIf="!saved">
            <i class="fa fa-circle" aria-hidden="true"></i> Endringer lagres automatisk
        </div>
    </div>
  </div>
</div>


<div class="col-md-12" *ngIf="catalog">
  <div class="panel fdk-panel">
      <button type="button" class="fdk-button fdk-button-cta" (click)="newDataset()" id="button_new_dataset">
          <i class="fa fa-plus-circle" aria-hidden="true"></i> Legg til ny datasettbeskrivelse
      </button>
      <button type="button" class="fdk-button fdk-button-default" (click)="back()">Tilbake</button>
      <button type="button" class="fdk-button fdk-button-default" (click)="modalimport.show()">Importer dataset</button>

      <app-modal #modalimport>
          <div class="app-modal-header">
              Importer datasett fra DCAT RDF ressurs
          </div>
          <div class="app-modal-body">
              Angi url:
              <input id="dataset-import-url" class="fdk-input" type="url" [(ngModel)]='datasetImportUrl'>
          </div>
          <div class="app-modal-footer">
              <button type="button" class="btn btn-default" (click)="modalimport.hide()">Avbryt</button>
              <button type="button" class="btn btn-primary" (click)="datasetImport(modalimport)">Importer!</button>
          </div>
      </app-modal>

    <div class="fdk-panel-heading">
      <table class="fdk-register">
        <tbody>
          <tr>
            <td class="fdk-register fdk-register-datacatalogue-1">
              <h4 class="fdk-text-white fdk-no-margin">Tittel på datasett</h4>
            </td>
            <td class="fdk-register fdk-register-datacatalogue-2 fdk-text-right">
              <h4 class="fdk-text-white fdk-text-right fdk-no-margin">Sist endret</h4>
            </td>
            <td class="fdk-register fdk-register-datacatalogue-2 fdk-text-right">
              <h4 class="fdk-text-white fdk-text-right fdk-no-margin">Slett</h4>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="">
      <table class="fdk-register fdk-table-hover" id="datasets_table">
        <tbody>
        <tr *ngFor="let dataset of datasets" id="datasets" class="fdk-row-padding"  >
          <td (click)="selectDataset(catalog, dataset)" class="fdk-register fdk-register-datacatalogue-1">{{getTitle(dataset)}}</td>
          <td (click)="selectDataset(catalog, dataset)" class="fdk-register fdk-register-datacatalogue-2">
            <div class="fdk-text-right">{{dataset._lastModified | date: 'short'}}</div>
          </td>
          <td class="fdk-register fdk-register-datacatalogue-2">
            <div id="button_delete_dataset_in_list" (click)="deleteDataset(catalog, dataset)" class="fdk-text-right" style="color:#f00;font-size:20px;cursor:pointer">X</div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>
