table {
    border-collapse: separate;
    border-spacing: 0 3px;
    margin-top: -3px; /* correct offset on first border spacing if desired */
}

input{
    border:none;
    margin-left:-10px;
    margin-top:2px;
    margin-bottom:2px;
    width:100%;
    background-color: var(--color6);
    padding: 9px 10px;
}



input:hover,input:focus{
    outline: none;
    border:solid;
    border-width: 2px;
    margin-left:-12px;
    margin-top:0px;
    margin-bottom:0px;
    background-color: var(--color0);
    border-radius: 3px;


}

td {
    border: solid 1px;
    border-style: solid none;
    padding: 11px 12px 10px 12px;
    font-size: 1.5rem;
}
td:first-child {
    border-left-style: solid;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

thead{
    background-color: var(--color1);
    color: var(--color0);
}

tbody > tr {
    background-color: var(--color0);
}

tbody > tr > td {
    border-color: var(--color0);
}

thead > tr > td {
    border-color: var(--color1);
}


textarea {
    width: 100%;
}
