@import '../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.top-section-search {
  background-color: $color-cta4;
}

.sk-hits-stats__info {
  color: $color1;
  font-size: 2rem;
  font-weight: 500;
}

.fdk-button-row {
  height: 2.8em;
}
/*  SEARCHPAGE PAGINATION  */
.pagination {
  li {
    &.break-me {
      cursor: default;
      &:hover {
        background-color: transparent;
      }
    }
    cursor: pointer;
    a, span {
      background-color: transparent !important;
      border: none !important;
      color: $color1 !important;
      font-size: 1.2rem;
      padding: .5em !important;
      &:hover {
        background-color: $color5 !important;
      }
    }
  }
  li.active {
    a {
      background-color: $color1 !important;
      color: $color0 !important;
    }
  }
  li.previous {
    a {
      &:before {
        content: "\F060";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin-right: .5em;
      }
    }
  }
  li.next {
    a {
      &:after {
        content: "\F061";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin-left: .5em;
      }
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .pagination {
    li {
      &.break-me {
        cursor: default;
        &:hover {
          background-color: transparent;
        }
      }
      a, span {
        background-color: transparent !important;
        border: none !important;
        color: $color1 !important;
        font-size: 1.5rem !important;
        padding: .5em 1em !important;
        &:hover {
          background-color: $color5 !important;
        }
      }
    }
    li.active {
      a {
        background-color: $color1 !important;
        color: $color0 !important;
      }
    }
    li.previous {
      a {
        &:before {
          content: "\F060";
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          margin-right: .5em;
        }
      }
    }
    li.next {
      a {
        &:after {
          content: "\F061";
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          margin-left: .5em;
        }
      }
    }
  }
}

/*==========  Media Queries  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}/* end min-width : 320px */


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}/* end min-width : 480px */

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .top-section-search--image {
    background-image: url(../../static/img/illustration-login.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50%;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
