@import '../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.top-section-search {
  min-height: 225px;
}
.theme-nap {
  .top-section-search {
    background-color: $color-neutral-lighter;
  }
}

.theme-fdk {
  .top-section-search {
    background-color: $color-primary-lighter;
  }
}

.sk-hits-stats__info {
  color: $color-neutral-darkest;
  font-size: 1.6rem;
  font-weight: 500;
}

.fdk-button.fdk-button-black-toggle {
  background-color: transparent;
  @include themify($themes) {
    color: themed('color-text-link') !important;
  }
  border-color: black;
  box-shadow: none;
  min-width:120px;
}
.fdk-button.fdk-button-black-toggle:first-child {
  border-right:none;
  border-top-right-radius:0;
  border-bottom-right-radius:0;
}
.fdk-button.fdk-button-black-toggle:nth-child(2) {
  border-left:none;
  border-top-left-radius:0;
  border-bottom-left-radius:0;
}
.fdk-button.fdk-button-black-toggle:hover, .fdk-button.fdk-button-black-toggle:not(.disabled):not(.disabled):active {
  background: transparent;
}
.fdk-button.fdk-button-black-toggle:focus {
    box-shadow: none;
}
.fdk-button.fdk-button-black-toggle.selected {
  color: $color-white !important;
  @include themify($themes) {
    background-color: themed('color-neutral-darker');
  }
}
/*  SEARCHPAGE PAGINATION  */
.pagination {
  li {
    &.break-me {
      cursor: default;
      &:hover {
        background-color: transparent;
      }
    }
    cursor: pointer;
    a, span {
      background-color: transparent !important;
      border: none !important;
      font-size: 1.2rem;
      padding: .5em !important;
      @include themify($themes) {
        color: themed('color-text-link') !important;
      }
      &:hover {
        @include themify($themes) {
          background-color: themed('color-neutral-lighter') !important;
        }
      }
    }
  }
  li.active {
    a {
      background-color: $color-neutral-darkest !important;
      color: $color-white !important;
      @include themify($themes) {
        background-color: themed('color-neutral-darkest') !important;
        color: themed('')
      }
    }
  }
  li.previous {
    a {
      &:before {
        content: "\F060";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin-right: .5em;
      }
    }
  }
  li.next {
    a {
      &:after {
        content: "\F061";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin-left: .5em;
      }
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .pagination {
    li {
      &.break-me {
        cursor: default;
        &:hover {
          background-color: transparent;
        }
      }
      a, span {
        background-color: transparent !important;
        border: none !important;
        @include themify($themes) {
          color: themed('color-text-link') !important;
        }
        font-size: 1.5rem !important;
        padding: .5em 1em !important;
        &:hover {
          @include themify($themes) {
            background-color: themed('color-neutral-lighter') !important;
          }
        }
      }
    }
    li.active {
      a {
        color: $color-white !important;
        @include themify($themes) {
          background-color: themed('color-neutral-darkest') !important;
        }
      }
    }
    li.previous {
      a {
        &:before {
          content: "\F060";
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          margin-right: .5em;
        }
      }
    }
    li.next {
      a {
        &:after {
          content: "\F061";
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          margin-left: .5em;
        }
      }
    }
  }
}
.disabled.previous, .disabled.next {
  display: none;
}

/*==========  Media Queries  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}/* end min-width : 320px */


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}/* end min-width : 480px */

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .theme-nap {
    .top-section-search--image {
      background-image: url(../../img/illustration-search-nap.svg);
    }
  }
  .theme-fdk {
    .top-section-search--image {
      background-image: url(../../img/illustration-search.svg);
      background-size: 105%;
    }
  }
  .top-section-search--image {
    background-repeat: no-repeat;
    background-position: right;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

.twitter {
  padding: 40px 2em;
  background: #fff;
  width: 728px;
  border-radius: 5px;
}
.twitter-container h2 {
  padding-bottom: 30px;
}
