@import '../../../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';

.fdk-filter-pill {
  cursor: pointer;
  &:after {
    content: '\2715';
    color: $color-white;
    margin-left: 8px;
  }
}
