<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Registrer datakatalog</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link href="styles.176e4d821cc3a21887b2.bundle.css" rel="stylesheet"/></head>
<body data-reg-api-url="<%- regApiUrl %>" data-query-service-url="<%- queryServiceUrl %>">
  <app-root>Loading...</app-root>
  <base href="/"/>


<script type="text/javascript" src="inline.776dc42969553e9727ba.bundle.js"></script><script type="text/javascript" src="polyfills.e994befc988f1edeb355.bundle.js"></script><script type="text/javascript" src="vendor.f623007bc9350d3e843a.bundle.js"></script><script type="text/javascript" src="main.6a8ec1c3d223032b8682.bundle.js"></script></body>
</html>
