@import '../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';

.fdk-subtitle {
  font-size: 2rem;
  margin-bottom: .5em;
  margin-top: .5em;
}

.fdk-box {
  padding: 1.5em;
  margin-bottom: 2em;
  @at-root #{&}--noMargin {
    margin: 0;
  }
  @at-root #{&}--mt1 {
    margin-top: 2em;
  }
  @at-root #{&}--flex {
    display: flex;
  }
  @at-root #{&}--white {
    background-color: $color-white;
  }
  @at-root #{&}--yellow {
    background-color: $color-warning;
  }

  @at-root #{&}--border {
    border-left: 1px solid $color-neutral-light;
    border-right:  1px solid $color-neutral-light;
    border-bottom:  1px solid $color-neutral-light;
  }

  @at-root #{&}--italic {
    font-style: italic;
    font-size: 1.5rem;
  }

  @at-root #{&}__icon {
    margin-right: .5em;
  }

  @at-root #{&}__rowItem {
    line-height: normal;
    margin-bottom: 2em;
    @at-root #{&}__number {
      font-size: 5rem;
      margin-right: .5em;
    }
    @at-root #{&}__text {
      flex: 1;
      margin-right: 1.5em;
    }
    @at-root #{&}--big {
      flex: 2;
    }
  }

  @at-root #{&}__feedback {
    border-top: 2px solid $color-neutral-light;
    @at-root #{&}__left {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: space-between;
      min-height: 250px;
    }
    @at-root #{&}__right {
      flex: 2;
    }
  }

  img {
    width: 100%;
  }
}

