<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<section>

  <div class="fdk-header-beta">
    Dette er en betaversjon. Gi oss gjerne <a href="designsystem.html" href="mailto:fellesdatakatalog@brreg.no">tilbakemeldinger</a> om hva du synes.
  </div>
</section>


<section class="fdk-header">
  <div class="container">
    <div class="row fdk-header-flex">
      <div class="col-md-4">
          <a href="/">
            <img class="fdk-logo" src="/assets/img/fdk-logo@2x.png" />
          </a>
      </div>

      <div class="col-md-4 text-center fdk-header-title">
        <span><strong>Registrering</strong></span>
      </div>

      <div class="col-md-4 fdk-header-flex fdk-header-flex-end">
          <div *ngIf="!isAuthenticated()" class="fdk-margin-right-double"><a (click)="login()" href="#">Logg inn</a></div>
          <div *ngIf="isAuthenticated()" class="fdk-header-flex" style="white-space: nowrap">
            <div class="fdk-margin-right-double"><i class="fa fa-user fdk-fa-left fdk-color-icon-cta"></i>{{getUsername()}}</div>
            <div class="fdk-margin-right-double"><a (click)="logout()" href="#">Logg ut</a></div>
          </div>

        <div dropdown class="btn-group dropdown fdk-dropdown-toggle-menu">
                <div dropdownToggle class="fdk-button fdk-button-default fdk-button-on-white btn"><i class="fa fa-bars fdk-fa-dark fdk-fa-left"></i> <span>Meny</span></div>
                <ul *dropdownMenu class="dropdown-menu fdk-dropdown-menu" style="right:0px; left:auto" role="menu" aria-labelledby="dLabel">
                  <li><a href=" https://doc.difi.no/data/veileder-for-beskrivelse-av-datasett/" target="_blank">Veileder</a></li>
                  <li><a href="https://doc.difi.no/dcat-ap-no/" target="_blank">Standard</a></li>
                  <li><a href="https://fellesdatakatalog.brreg.no/" target="_blank">Felles datakatalog</a></li>
                </ul>
        </div>

      </div>
    </div>
  </div>
</section>


<section>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</section>
<section>
  <div class="container">

    <footer class="fdk-footer  hidden-sm hidden-xs">
      <div class="row">
        <div class="col-md-3" style="text-align: left">
          <a href="https://www.brreg.no/personvernerklaering/">Informasjonskapsler</a>
        </div>
        <div class="col-md-6">
                <span>
                    Dette er et samarbeidsprosjekt mellom Brønnøysundregistrene og Difi og øvrige SKATE-etater.
                </span>
        </div>
        <div class="col-md-3" style="text-align:right">
          <a href="mailto:fellesdatakatalog@brreg.no">fellesdatakatalog@brreg.no</a>
        </div>
      </div>
    </footer>

    <footer class="fdk-footer hidden-md hidden-lg ">
      <div class="row">
        <div class="col-md-12" style="text-align: center">
          <a style="text-align: center" href="https://www.brreg.no/personvernerklaering/">Informasjonskapsler</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" style="text-align: center">
                <span class="center-block">
                    Dette er et samarbeidsprosjekt mellom Brønnøysundregistrene og Difi og øvrige SKATE-etater.
                </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" style="text-align: center">
          <a class="" href="mailto:fellesdatakatalog@brreg.no">fellesdatakatalog@brreg.no</a>
        </div>
      </div>

    </footer>
  </div>

</section>
