@import 'designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';

.search-hit__title-link {
  text-decoration: none;
  @include themify($themes) {
    color: themed('color-text-link');
  }
}

.fdk-label {
  @include themify($themes) {
    background-color: themed('color-neutral-lightest');
    color: themed('color-neutral-dark');
  }
  font-size: 1.4rem !important;
  border-radius: .9em !important;
  padding: .0em .6em .0em .6em !important;
  display: inline-block !important;
  line-height: 1.5em !important;
}

.fdk-national-component {
  @include themify($themes) {
    background-color: themed('color-neutral-darkest');
    color: themed('color-neutral-lightest');
  }
  font-size: 1.4rem !important;
  border-radius: .9em !important;
  padding: .0em .6em .0em .6em !important;
  display: inline-block !important;
  line-height: 1.5em !important;
}

.fdk-label-details {
  @include themify($themes) {
    background-color: themed('color-neutral-light');
    color: themed('color-neutral-darkest');
  }
  font-size: 1.4rem !important;
  border-radius: .9em !important;
  padding: .0em .6em .0em .6em !important;
  display: inline-block !important;
  line-height: 1.5em !important;
}

.fdk-national-component-icon {
  background-image: url("/img/icon-authoritative-sm.svg");
  width: 1em; 
  height: 1em;
  display: inline-block;
}
