{
    "REGISTRATION_LANGUAGE":"$REGISTRATION_LANGUAGE",
    "SEARCH_HOST":"$SEARCH_HOST",
    "SEARCH_API_HOST":"$SEARCH_API_HOST",
    "SEARCH_API_AUTHORIZATION":"$SEARCH_API_AUTHORIZATION",
    "REDUX_LOG":"$REDUX_LOG",
    "REFERENCE_DATA_HOST":"$REFERENCE_DATA_HOST",
    "CONCEPT_REGISTRATION_API_HOST":"$CONCEPT_REGISTRATION_API_HOST",
    "CONCEPT_REGISTRATION_HOST":"$CONCEPT_REGISTRATION_HOST",
    "SSO_HOST":"$SSO_HOST",
    "REGISTRATION_API_HOST":"$REGISTRATION_API_HOST",
    "ORGANIZATION_API_HOST":"$ORGANIZATION_API_HOST",
    "USE_DEMO_LOGO":"$USE_DEMO_LOGO"
}