@import '../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';

.fdk-panel--filter, .fdk-filter-tree {
  background-color: $color5;
  margin-bottom: .5em;
  border-radius: 5px;
  .fdk-panel__header {
    border-bottom: 1px solid $color6;
    color: $color1;
    line-height: 2em;
    margin-bottom: .5em;
    padding: 1em 1.5em;
    button {
      border: none;
      background-color: transparent;
      cursor: pointer;
      font-size: 1.875rem;
      font-weight: 500;
      i {
        color: $color-blue-dark;
        font-size: 2rem;
      }
    }
  }
  .fdk-panel__content {
    font-size: 1.5rem;
    padding: .5em 1.5em;

    .fdk-items-list {
      button {
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
      }
      .fdk-toggleList {
        color: $color-blue-dark;
      }
    }
  }
}