@import '../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';

.fdk-panel--filter, .fdk-filter-tree {
  @include themify($themes) {
    background-color: themed('color-neutral-light');
  }
  margin-bottom: .5em;
  border-radius: 5px;
  .fdk-panel__header {
    @include themify($themes) {
      border-bottom: 1px solid themed('color-neutral-lightest');
    }
    line-height: 2em;
    margin-bottom: .5em;
    padding: 1em 1.5em;
    button {
      border: none;
      background-color: transparent;
      cursor: pointer;
      font-size: 1.875rem;
      font-weight: 500;
      i {
        @include themify($themes) {
          color: themed('color-text-link');
        }
        font-size: 2rem;
      }
    }
  }
  .fdk-panel__content {
    font-size: 1.5rem;
    padding: .5em 1.5em;

    .fdk-items-list {
      button {
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
      }
      .fdk-toggleList {
        @include themify($themes) {
          color: themed('color-text-link');
        }
      }
    }
  }
}
