<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Registrer datakatalog</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="styles.7c25a02a137df81c1ced.bundle.css" rel="stylesheet"/></head>
<body>
  <app-root>Loading...</app-root>
  <base href="/"/>

<script type="text/javascript" src="inline.76921339d7973557fea0.bundle.js"></script>

<script type="text/javascript" src="polyfills.4575d902ea0beb9464d8.bundle.js"></script>

<script type="text/javascript" src="vendor.1a07aac5013b58656ca5.bundle.js"></script>

<script type="text/javascript" src="main.97ab815f79c7d7d36493.bundle.js"></script>

</body>
</html>
