<h1>
  {{title}}
</h1>


<div class="col-md-12">
  <h2>Kataloger</h2>

  <div class="alert alert-danger" role="alert" *ngIf="errorGettingCatalogs">
    Det var en feil ved henting av katalogene! Er du logget inn?
  </div>


  <table class="table table-striped table-hover" id="datacatalogs">
    <thead>
    <tr>
      <th>Id</th>
      <th>Tittel</th>
      <th>Beskrivelse</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let catalog of catalogs" (click)="selectCatalog(catalog)" >
      <td>{{catalog.id}}</td>
      <td>{{catalog.title.nb}}</td>
      <td>{{catalog.description.nb}}</td>
    </tr>
    </tbody>
  </table>
</div>
