.fdk-label-item {
  display: inline-block;
}

.fdk-label-item:not(:last-child)::after {
  display: inline-block;
  white-space: pre;
  content: ", ";
}

.fdk-icon-catalog-concept {
  background-image: url("/img/icon-catalog-concept-lg.svg");
  width: 3.5em; 
  height: 3.5em;
  display: inline-block;
}
