<h1>
  {{title}}
</h1>
<div class="well col-md-6">
    <div class="alert alert-info">
      Brukernavn: initialer<br />
      Passord: 123
    </div>
    <h3>Logg inn for å redigere</h3>
    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
        <label for="username">Brukernavn</label>
        <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
        <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
      </div>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
        <label for="password">Passord</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
        <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
      </div>
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Logg inn</button>
      </div>
      <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    </form>

</div>

<div class="col-md-12">
  <h2>Kataloger</h2>

  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>Id</th>
      <th>Tittel</th>
      <th>Beskrivelse</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let catalog of catalogs" (click)="selectCatalog(catalog)" >
      <td>{{catalog.id}}</td>
      <td>{{catalog.title.nb}}</td>
      <td>{{catalog.description.nb}}</td>
    </tr>
    </tbody>
  </table>
</div>
