/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@media screen and (min-width: 768px) {
    .jumbotron .h1, .jumbotron h1 {
        font-size: 36px;
    }
}

.glyphicon-search-frontpage {
    position: absolute;
    right: 26px;
    top: 92px;
    font-size: 32px;
    z-index: 1;
    color: #213B4C;
}
.sk-search-box .glyphicon-search-frontpage{
  top: 153px;
}
.frontpage-themes * {
    display: inline-block;
}

.frontpage-themes {
    text-align: center;
}

.sk-item-list-option a.list-group-item {
  display: block;
}


.list-group-item .fdk-badge {
    float: right;
}

.list-group-item .glyphicon {
    float: right;
}

.center-block {
    margin-left:auto;
    margin-right:auto;
    display:block;
}

/*  H E A D E R   &   F O O T E R  */

.fdk-header-beta {
    background-color: #5A6778;
    padding: 8px;
    margin: 0px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

.fdk-header-menu {
    background-color: #fff;
    width: 100%;
    height: 60px;
    padding: 10px 0px;
}

footer.fdk-footer {
    border-top: 1px solid #C8CDD4;
    background-color: #fff;
    padding: 0px 0px 10px 0px;
    margin-top: 100px;
    text-align: center;
}

.fdk-footer-logo {
    align-content: center;
    margin: 0px 20px 0px 20px;
}

.container {
    position: relative;
}

/*  B U T T O N S   &   D R O P D O W N S   &   I N P U T  */

input.fdk-search {
    color: #5A6778;
    border: 1px solid #5A6778;
    border-radius: 5px;
    width: 100%;
    padding: 10px 15px 10px 15px;
    font-size: 28px;
    margin: 20px 0px 20px 0px;
}

::-webkit-input-placeholder { /* PLACEHOLDER COLOR FOR: WebKit, Blink, Edge */
    color: #C8CDD4;
}

:-moz-placeholder { /* PLACEHOLDER COLOR FOR: Mozilla Firefox 4 to 18 */
    color: #C8CDD4;
    opacity: 1;
}

::-moz-placeholder { /* PLACEHOLDER COLOR FOR: Mozilla Firefox 19+ */
    color: #C8CDD4;
    opacity: 1;
}

:-ms-input-placeholder { /* PLACEHOLDER COLOR FOR: Internet Explorer 10-11 */
    color: #C8CDD4;
}

/*  L A B E L S   &   B U T T O N S  */

.list-group-item.fdk-label-default, .fdk-label-default, a.fdk-label-default:focus, .fdk-label-default:active {
    background-color: #fff;
    color: #5A6778;
    border: 1px solid #5A6778;
    border-radius: 20px;
    padding: 8px 13px 8px 15px;
    margin-bottom: 10px;
    display: inline-block;
    min-width: 100%;
}

.list-group-item.fdk-label-default:hover, .fdk-label-default:hover {
    background-color: #5A6778;
    color: #fff;
}

.fdk-label {
    color: #5A6778;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.btn-default {
    text-shadow: none;
    border: 1px solid #5A6778;
}

.btn-default.active {
    text-shadow: none;
    border: 1px solid #5A6778;
}

.btn-default:hover {
    text-shadow: none;
    color: #5A6778;
    border: 1px solid #5A6778;
}

/*  D R O P D O W N   U N I V E R S A L  */

.dropdown-menu {
    min-width: auto;
    padding: 0px;
    border: none;
    right: 0;
    left: auto;
}

.dropdown-menu > li > a {
    padding: 10px 15px;
    background-image: none;
}

/*  D R O P D O W N   M E N U  */

.fdk-dropdown-toggle-menu {
    position: relative;
    right: 0;
    z-index: 2;
    float: right;
    margin-left: 15px;
}

.fdk-dropdown-toggle-menu > a {
    color: #213B4C;
    font-size: 34px;
    line-height: 34px;
    text-decoration: none;
}

.fdk-dropdown-toggle-menu > a:hover {
    color: #5A6778;
}

.fdk-dropdown-toggle-menu > a:active {
    text-decoration: none;
}

.fdk-dropdown-menu {
    margin-top: 5px;
}

.fdk-dropdown-menu li {
    font-size: 14px;
    background-color: #213B4C;
}

.fdk-dropdown-menu > li > a {
    color: #fff;
}
.fdk-dropdown-menu > li > a:hover {
  background-color: #5A6778;
  color: #fff;
}
a.list-group-item:hover {
  background-color: #F2F3F7;
}
.list-group-item.active, .list-group-item.is-active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color: #5A6778 !important;
    border-color: #5A6778 !important;
    color: #fff !important;
}
#resultPanel .fdk-dropdown-language {
  background-color: transparent;
}
a.row.list-group-item.dataset {
    border: 0;
    background-color: #F2F3F7;
    margin: 12px 0px;
    padding: 20px 15px;
}
.dataset .overflow-text {
    border-top: 1px solid #C8CDD4;
    padding-top: 15px;
}
.dataset h4 {
  margin-bottom:6px
}
.dataset h4 label:first-child::before {
  display: none;
}
.dataset h4 label::before {
    content: ',';
    position: relative;
    top: 0px;
    left: -4px;
}
.publisher a {
    color: #000;
    font-size: 86%;
    margin-left: 15px;
}
.publisher .panel-collapse {
    margin-left: 30px;
    margin-bottom: 20px;
}
.dataset h4 label {
  font-weight: normal;
  display: inline;
}

.fdk-dropdown-menu:after {
    position: absolute;
    top: -6px;
    right: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #213B4C;
    border-left: 6px solid transparent;
    content: '';
}

/*  D R O P D O W N   L A N G U A G E  */

.fdk-container-dropdown-language {
    position: relative;
    float: right;
    z-index: 2;
    margin-right: 144px;
}

.fdk-dropdown-toggle-language {
    background-image: none;
    background-color: #fff;
    border: 1px solid #C8CDD4;
    border-radius: 20px;
    padding: 8px 10px 8px 10px;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 14px;
    color: #5A6778;
    margin-bottom: 5px;
}

.fdk-dropdown-toggle-language:hover {
    color: #5A6778;
    background-color: #F2F3F7;
    border: 1px solid #C8CDD4;
}
.fdk-dropdown-toggle-language:enabled {
    color: #5A6778;
}

.fdk-dropdown-language {
    color: #5A6778;
    width: auto;
    background-color: #F2F3F7;
}

.fdk-dropdown-language > ul {
    background-color: #F2F3F7;
    color: #5A6778;
}

.fdk-dropdown-language > li > a {
    color: #5A6778;
    font-size: 12px;
}

.fdk-dropdown-language-flag {
    margin-right: 5px;
    width: 18px;
}

/*  F O N T S  */

h1 {
    font-size: 36px;
    line-height: 40px;
    color: #213B4C;
    margin: 0px 0px 18px 0px;
    font-weight: bold;
}

h1.fdk-heading {
    text-align: center;
    font-weight: bold;
}
.fdk-heading a {
  color:inherit;
}
h2 {
    font-size: 22px;
    line-height: 26px;
    color: #213B4C;
    margin: 0px 0px 11px 0px;
    font-weight: bold;
}

h3 {
    font-size: 22px;
    line-height: 26px;
    font-weight: 300;
    color: #213B4C;
    margin: 0px 0px 13px 0px;
    font-weight: bold;
}

h4 {
    font-size: 16px;
    line-height: 24px;
    color: #213B4C;
    margin: 0px 0px 12px 0px;
    font-weight: bold;
}

p {
    color: #5A6778;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0px 0px 12px 0px;
}

a.white-link {
    color: #fff;
    text-decoration: underline;
}

a.white-link:hover {
    color: #C8CDD4;
}

.sk-item-list__item * {
    display: inline;
}
.sorting-control {
  padding:0;
}
.sorting-control select {
    border: 0;
    background: none transparent;
    height: 35px;
    padding: 0;
}
.flex-move-first-item-to-bottom {
    flex-direction: column-reverse;
    display: flex;
    border: 1px solid #ddd;
}
.sk-panel__header {
  padding: 5px 0;
}
.sk-results-list__action-bar * {

}
.sk-results-list__action-bar > *, .sk-action-bar-row > * {
  margin:0 10px;
  display: inline-block;
}
.sk-action-bar {
  position: relative;
  height: 60px;
}

.fdk-dropdown-toggle-language {
  position: absolute;
  left: 0;
}
.fdk-dropdown-toggle-language:last-child {
  position: absolute;
  right: 0;
  left: auto;
}
.sk-hits-stats {
  position: absolute;
  left: 37%;
  top: 24px;
}

.sk-pagination-navigation .sk-toggle-option:first-child,
.sk-pagination-navigation .sk-toggle-option:last-child {
    flex: 4;
}

.sk-pagination-navigation {
  width:300px;
  margin:10px auto;
}
.sk-pagination-navigation.is-numbered {
    width:600px;
  }

.sk-pagination-select {
  margin: 10px auto;
  text-align:center;
}

.sk-hits-grid, .sk-hits-list {
  margin:0 15px 20px;
}
.sk-toggle {
    display: flex;
    align-content: center;
    text-align: center;
    border-radius: 3px;
    max-height: 30px;
}
.sk-toggle-option {
    flex: 1;
    border: 1px solid #ccc;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    padding: 5px 10px;
    border-right: none;
    text-decoration: none;
    white-space: nowrap;
}

.sk-toggle-option:hover {
    background-color: #5A6778;
    color: #fff;
    border-color: #5A6778;
}
.sk-pagination-navigation .sk-toggle-option:first-child, .sk-pagination-navigation .sk-toggle-option:last-child {
    flex: 4;
}
.sk-toggle-option.is-disabled {
    cursor: initial;
    color: #ddd;
}
.sk-toggle-option:first-child {
    border-radius: 3px 0 0 3px;
}
.sk-toggle-option:last-child {
    border-radius: 0 3px 3px 0;
    border-right: 1px solid #ccc;
}
.sk-toggle-option.is-active {
    background-color: #5A6778;
    color: #fff;
    border-color: #5A6778;
}
a {
  color: #5A6778;
}
a:hover {
  color: #000;
}
.fdk-label.pull-left {
  min-width: initial;
}
