/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.glyphicon-search-frontpage {
    position: absolute;
    right: 26px;
    top: 92px;
    font-size: 32px;
    z-index: 1;
}

.frontpage-themes * {
    display: inline-block;
}

.frontpage-themes {
    text-align: center;
}

.list-group-item > ul > a {
    width: 100%;
}

.list-group-item .fdk-badge {
    float: right;
}

.list-group-item .glyphicon {
    float: right;
}

.center-block {
    margin-left:auto;
    margin-right:auto;
    display:block;
}

/*  H E A D E R   &   F O O T E R  */

.fdk-header-beta {
    background-color: #5A6778;
    padding: 8px;
    margin: 0px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

.fdk-header-menu {
    background-color: #fff;
    width: 100%;
    height: 60px;
    padding: 10px 0px;
}

footer.fdk-footer {
    border-top: 1px solid #C8CDD4;
    background-color: #fff;
    padding: 0px 0px 10px 0px;
    margin-top: 100px;
    text-align: center;
}

.fdk-footer-logo {
    align-content: center;
    margin: 0px 20px 0px 20px;
}

.container {
    position: relative;
}

/*  B U T T O N S   &   D R O P D O W N S   &   I N P U T  */

input.fdk-search {
    color: #5A6778;
    border: 1px solid #5A6778;
    border-radius: 5px;
    width: 100%;
    padding: 10px 15px 10px 15px;
    font-size: 28px;
    margin: 20px 0px 20px 0px;
}

::-webkit-input-placeholder { /* PLACEHOLDER COLOR FOR: WebKit, Blink, Edge */
    color: #C8CDD4;
}

:-moz-placeholder { /* PLACEHOLDER COLOR FOR: Mozilla Firefox 4 to 18 */
    color: #C8CDD4;
    opacity: 1;
}

::-moz-placeholder { /* PLACEHOLDER COLOR FOR: Mozilla Firefox 19+ */
    color: #C8CDD4;
    opacity: 1;
}

:-ms-input-placeholder { /* PLACEHOLDER COLOR FOR: Internet Explorer 10-11 */
    color: #C8CDD4;
}

/*  L A B E L S   &   B U T T O N S  */

.fdk-label-default {
    background-color: #fff;
    color: #5A6778;
    border: 1px solid #5A6778;
    border-radius: 20px;
    padding: 8px 13px 8px 15px;
    margin-bottom: 10px;
    display: inline-block;
}

.fdk-label-default:hover {
    background-color: #5A6778;
    color: #fff;
}

.fdk-label {
    color: #5A6778;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.btn-default {
    text-shadow: none;
    border: 1px solid #5A6778;
}

.btn-default.active {
    text-shadow: none;
    border: 1px solid #5A6778;
}

.btn-default:hover {
    text-shadow: none;
    color: #5A6778;
    border: 1px solid #5A6778;
}

/*  D R O P D O W N   U N I V E R S A L  */

.dropdown-menu {
    min-width: auto;
    padding: 0px;
    border: none;
    right: 0;
    left: auto;
}

.dropdown-menu > li > a {
    padding: 10px 15px;
    background-image: none;
}

/*  D R O P D O W N   M E N U  */

.fdk-dropdown-toggle-menu {
    position: relative;
    right: 0;
    z-index: 2;
    float: right;
    margin-left: 15px;
}

.fdk-dropdown-toggle-menu > a {
    color: #213B4C;
    font-size: 34px;
    line-height: 34px;
    text-decoration: none;
}

.fdk-dropdown-toggle-menu > a:hover {
    color: #5A6778;
}

.fdk-dropdown-toggle-menu > a:active {
    text-decoration: none;
}

.fdk-dropdown-menu {
    margin-top: 5px;
}

.fdk-dropdown-menu li {
    font-size: 14px;
    background-color: #213B4C;
}

.fdk-dropdown-menu > li > a {
    color: #fff;
}
.fdk-dropdown-menu > li > a:hover {
  background-color: #5A6778;
  color: #fff;
}
a.list-group-item:hover {
  background-color: #F2F3F7;
}
.fdk-dropdown-menu:after {
    position: absolute;
    top: -6px;
    right: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #213B4C;
    border-left: 6px solid transparent;
    content: '';
}

/*  D R O P D O W N   L A N G U A G E  */

.fdk-container-dropdown-language {
    position: relative;
    float: right;
    z-index: 2;
}

.fdk-dropdown-toggle-language {
    background-image: none;
    background-color: #fff;
    border: 1px solid #C8CDD4;
    border-radius: 20px;
    padding: 8px 10px 8px 10px;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 14px;
    color: #5A6778;
    margin-bottom: 5px;
}

.fdk-dropdown-toggle-language:hover {
    color: #5A6778;
    background-color: #F2F3F7;
    border: 1px solid #C8CDD4;
}
.fdk-dropdown-toggle-language:enabled {
    color: #5A6778;
}

.fdk-dropdown-language {
    color: #5A6778;
    width: auto;
    background-color: #F2F3F7;
}

.fdk-dropdown-language > ul {
    background-color: #F2F3F7;
    color: #5A6778;
}

.fdk-dropdown-language > li > a {
    color: #5A6778;
    font-size: 12px;
}

.fdk-dropdown-language-flag {
    margin-right: 5px;
    width: 18px;
}

/*  F O N T S  */

h1 {
    font-size: 36px;
    line-height: 40px;
    color: #213B4C;
    margin: 0px 0px 18px 0px;
}

h1.fdk-heading {
    text-align: center;
}

h2 {
    font-size: 22px;
    line-height: 26px;
    color: #213B4C;
    margin: 0px 0px 11px 0px;
}

h3 {
    font-size: 22px;
    line-height: 26px;
    font-weight: 300;
    color: #213B4C;
    margin: 0px 0px 13px 0px;
}

h4 {
    font-size: 16px;
    line-height: 24px;
    color: #213B4C;
    margin: 0px 0px 12px 0px;
}

p {
    color: #5A6778;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0px 0px 12px 0px;
}

a.white-link {
    color: #fff;
    text-decoration: underline;
}

a.white-link:hover {
    color: #C8CDD4;
}
