.fdk-reg-datepicker {
    display: block;
    padding: .05rem .75rem;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
