$datepicker__day-margin: .3rem;
$datepicker__font-size: 1.2rem !default;
$datepicker__item-size: 2.7rem;
$datepicker__margin: 0.6rem;
@import 'react-datepicker/src/stylesheets/datepicker.scss';

.fdk-reg-datepicker {
    display: block;
    padding: .8em 1.2em;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: .4em;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
