@import '../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';

.fdk-icon-catalog-dataset {
  width: 3.5em; 
  height: 3.5em;
  display: inline-block;
  margin: auto;
  background-repeat: no-repeat;
}

.theme-fdk {
  .fdk-icon-catalog-dataset {
    background-image: url("/img/icon-catalog-dataset-lg.svg");
  }
}

.theme-nap {
  .fdk-icon-catalog-dataset {
    background-image: url("/img/icon-catalog-dataset-nap-md.svg");
  }
}

.dataset-description-nowrap {
  white-space: nowrap;
}

.color-neutral-darker {
  @include themify($themes) {
    color: themed('color-neutral-darker') !important;
  }
}