@import '../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';

.box-regular {
  background-color: #ffffff;
  border: 0;
  padding: 1em 2em;
  word-wrap: break-word;
  margin-right: .15em;
  margin-top: .15em;
  &:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  &:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-right: 0;
  }
}
