/*
.fdk-form-check {
     input {
          display: none;
     }
     .fdk-form-check-label {
          &:before {
               content: "";
               display: block;
               position: absolute;
               width: 16px;
               height: 16px;
               left: 0;
               top: 50%;
               margin-top: -8px;
               border: 1px solid #000000;
               border-radius: 8px;
          }
          &:after {
               content: "";
               display: block;
               position: absolute;
               width: 0;
               height: 0;
               top: 50%;
               left: 8px;
               margin-top: 0;
               background: #000;
               border-radius: 4px;
               transition: .2s ease-in-out;
          }
     }
}

.fdk-form-check input:checked +  .fdk-form-check-label{
      &:after {
               height: 8px;
               width: 8px;
               margin-top: -4px;
               left: 4px;
     }
}
*/
.fdk-form-check {
  input {
    display: none;
  }
  .fdk-form-check-label {
    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 50%;
      margin-top: -8px;
      border: 1px solid #000000;
      border-radius: 8px;
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      top: 50%;
      left: 8px;
      margin-top: 0;
      background: #000;
      border-radius: 4px;
      transition: .2s ease-in-out;
    }
  }
}

.fdk-form-check input:checked +  .fdk-form-check-label{
  &:after {
    height: 8px;
    width: 8px;
    margin-top: -4px;
    left: 4px;
  }
}