@import '../../assets/css/colors';

.search-filter-publisher {

  .tree-view {
    .tree-view_item {
      color: $color1;
      white-space: nowrap;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}