@import '../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';

.fdk-reg-input-tags {
  display: block;
  width: 100%;
  padding: .05rem .75rem;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  position: relative;

  span {
    .react-tagsinput-input {
      input[type="text"] {
        border: none;
        outline: none;
        min-width: 100%;
      }
    }
  }

  .react-tagsinput--focused {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  }

  .react-tagsinput-tag {
    background-color: $color-neutral-lightest;
    border: 1px solid $color-neutral-dark;
    border-radius: 2px;
    color: $color-neutral-darkest;
    display: inline-block;
    font-weight: 400;
    margin-right: 5px;
    margin-top: 5px;
    padding: 1px 5px;
  }

  .react-tagsinput-remove {
    cursor: pointer;
    font-weight: bold;
  }

  .react-tagsinput-tag a::before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f00d";
    margin-left: 5px;
  }

  .react-tagsinput-input {
    background: transparent;
    border: 0;
    margin-top: 1px;
    outline: none;
    padding: 5px;
    width: 100px;
  }

  .react-autosuggest__container {
    display: inline;

    .react-autosuggest__suggestions-list {
      padding: 0;
      list-style: none;

      .react-autosuggest__suggestion--highlighted {
        background-color: $color-neutral-lighter;
      }
    }
  }

  .react-autosuggest__suggestions-container {
    display: none;
  }

  .react-autosuggest__suggestions-container--open {
    display: block;
    z-index: 10;
    box-shadow: 0 3px 12px rgba(35, 55, 65, 0.55);
    margin-top: 8px;
    border-top: 1px solid $color-neutral-light;
    padding: 1em;

    .react-autosuggest__suggestion {
      padding: 0.5em;
    }
  }

  .react_autosuggest__suggestions-heading {
    .first {
      padding-left: 0.5em;
    }
  }
}


