
<div *ngIf="distribution" id="{{distribution.id}}" class="form-group">
    <div class="row form-group">
        <label for="dist-format" class="col-md-1 control-label">Format:</label>
        <div class="col-md-11">
            <input id="dist-format" type="text" (ngModelChange)="valuechange(this)"
                   class="form-control"
                   [(ngModel)]='distribution.format'/>
        </div>
    </div>
    <div class="row form-group">
        <label for="dist-description" class="col-md-1 control-label">Kommentar:</label>
        <div class="col-md-11">
            <input id="dist-description" type="text" (ngModelChange)="valuechange(this)"
                   class="form-control"
                   [(ngModel)]='distribution.description'/>
        </div>
    </div>
    <div class="row form-group">
        <label for="dist-accessUrl" class="col-md-1 control-label">TilgangsURL:</label>
        <div class="col-md-11">
            <input id="dist-accessUrl" type="email" (ngModelChange)="valuechange(this)"
                   class="form-control" [(ngModel)]='distribution.accessUrl'/>
        </div>
    </div>
    <div class="row form-group">
        <label for="dist-lisence" class="col-md-1 control-label">Lisens:</label>
        <div class="col-md-11">
            <input id="dist-lisence" type="email" (ngModelChange)="valuechange(this)"
                   class="form-control" [(ngModel)]='distribution.license'/>
        </div>
    </div>

    <div class="row form-group">
        <label for="dist-downloadUrl" class="col-md-1 control-label">NedlastingsURL:</label>
        <div class="col-md-11">
            <input id="dist-downloadUrl" type="email" (ngModelChange)="valuechange(this)"
                   class="form-control" [(ngModel)]='distribution.downloadUrl'/>
        </div>
    </div>
</div>
