
.sk-search-box .glyphicon-search-frontpage{
  top: 153px;
}

.glyphicon-search-frontpage {
  position: absolute !important;
  right: 26px ;
  top: 92px;
  font-size: 32px ;
  z-index: 1 ;
  color: #213B4C ;
}


