input.more-help-checkbox:focus + span + label,
input.more-help-checkbox:focus + span + label + span label,
input[type=checkbox]:focus + label.checkbox-replacement,
input[type=checkbox]:focus + label.expand-label,
.fdk-radio input[type=checkbox]:focus + label
{
  outline: 2px solid #197DAF !important;
  outline: -webkit-focus-ring-color auto 5px;
}


.fdk-logo {
  width: 201px;
  height: 60px;
  margin: -8px 0px;
}

.fdk-header-flex {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.fdk-header-menu {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}
