/*  P A N E L S  */


.fdk-panel {
	border: none;
}

.fdk-panel-heading-big {
	background-color: var(--color1);
	padding: 15px 25px;
	color: #fff;
	border-radius: 5px 5px 0 0;
}

.fdk-panel-body-big {
	background-color: var(--color5);
	padding: 20px 25px 20px 25px;
	border-radius: 0 0 5px 5px;
}

.fdk-panel-heading {
	background-color: var(--color1);
	padding: 12px 15px 8px 15px;
	color: #fff;
	border-radius: 5px 5px 0 0
}

.fdk-panel-body {
	background-color: var(--color5);
	padding: 15px;
	border-top: 1px solid var(--color5);
	border-radius: 0 0 5px 5px;
}


/*  T A B L E  */

table.fdk-dataset {
	width: 100%;
	margin: 0;
	padding: 0;
}

td.fdk-dataset-label {
	width: 140px;
	font-weight: 700;
	padding: 5px 0;
}

td.fdk-dataset-description {
	width: auto;
	padding: 5px 0;
}


/*  O T H E R  */

.fdk-vertical-align {
	vertical-align: middle;
}