.language-picker {
  margin-bottom: 40px;

  p {
    margin-bottom: 10px;
    font-size: 110%;
  }

  .language-button-group {
    display: flex;

    :nth-of-type(n + 2) {
      margin-left: 10px;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 18px;
        width: 18px;
        margin-right: 5px;
      }

      &.no-shadow {
        box-shadow: none;
      }
    }
  }
}
