<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="ch.qos.logback" level="WARN"/>
    <logger name="org.springframework.web" level="WARN"/>
    <logger name="org.apache.http.wire" level="WARN"/>
    <logger name="org.apache.jena" level="ERROR"/>
	<logger name="org.elasticsearch" level ="WARN"/>
	<logger name="no.dcat" level ="DEBUG"/>

    <timestamp key="datetime" datePattern="yyyy-MM-dd HH:mm:ss"/>

</configuration>