@import '../../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';

.fdk-reg-catalogs {
  button {
    background-color: transparent;
    border: none;
  }
  .fdk-title-input {
    input {
      border: none;
      border-radius: 5px;
      padding: 1em;
      width: 100%;
    }
  }
  .fdk-edit {
    text-decoration: underline;
  }

  .fdk-reg-datasets-publisher {
    font-size: 1.8rem;
  }

  .fdk-datasets-description {
    margin: 0 !important;
    &:focus, &:active, &:hover {
      box-shadow: 0 3px 12px rgba(35, 55, 65, 0.55);
    }
  }
}