@import '../../../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';

.fdk-modal {
  width: 90% !important;
  top: 10%;
}
.modal-header {  
  background-color: $color-neutral-darkest; 
  color: $color-white;
  padding-left: 2em !important;
  padding-right: 2em !important;
  h4 {    
    color: inherit;
  }
  h4:hover {
    cursor: pointer
  }
}

.modal-body {
  background-color: $color-white; 
  color: $color-neutral-darkest;
  padding: 1.5em !important;
  h5 {
    color: inherit;
  }
}

.fdk-modal-button {
  font-weight: 600;
}

.bottom-modal-label {
  position: fixed !important;
  width: 76%;
  height: 3.5em;
  left: 12%;
  bottom: 0;
  z-index: 100;
  margin-bottom: 0 !important;
  border-bottom: 0 !important;
}
