/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*  H E A D E R   &   F O O T E R  */

.fdk-header-beta {
    background-color: #5A6778;
    padding: 8px;
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

footer.fdk-footer {
    border-top: 1px solid #C8CDD4;
    background-color: #fff;
    padding: 30px 0px 10px 0px;
    margin-top: 100px;
    text-align: center;
}

.fdk-footer-logo {
    align-content: center;
    margin: 0px 20px 0px 20px;
}

.container {
    position: relative;
}

/*  I N P U T  */

input.fdk-search {
    color: #5A6778;
    border: 1px solid #5A6778;
    border-radius: 5px;
    width: 100%;
    padding: 10px 15px 10px 15px;
    font-size: 28px;
    margin: 40px 0px 40px 0px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #C8CDD4;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #C8CDD4;
   opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #C8CDD4;
   opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #C8CDD4;
}

/*  L A B E L S   &   B U T T O N S  */

.fdk-label-default {
    background-color: #fff;
    color: #5A6778;
    border: 1px solid #5A6778;
    border-radius: 20px;
    padding: 10px 15px 10px 15px;
    margin-bottom: 10safasfapx;
    display: inline-block;
}

.fdk-label-default:hover {
    background-color: #5A6778;
    color: #fff;
}    

.fdk-label {
    color: #5A6778;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}

.btn-default {
    text-shadow: none;
    border: 1px solid #5A6778;
}

.btn-default.active {
    text-shadow: none;
    border: 1px solid #5A6778;
}

.btn-default:hover {
    text-shadow: none;
    color: #5A6778;
    border: 1px solid #5A6778;
}

/*  D R O P D O W N   L A N G U A G E  */

.fdk-dropdown-language {
    top: 45px;
    position: absolute;
    right: 100px;
    z-index: 2;   
}

.fdk-dropdown-toggle-language {
    background-image: none;
    background-color: #fff;
    border: 1px solid #5A6778;
    border-radius: 20px;
    padding: 8px 10px 8px 15px;
    font-size: 15px;
    line-height: 18px;
    color: #5A6778;
}

.fdk-dropdown-toggle-language:hover {
    color: #5A6778;
    background-color: #fff;
}

.fdk-dropdown-toggle-language:enabled {
    color: #5A6778;
    background-color: #fff;
}

.fdk-dropdown-toggle-language:a {
    color: #5A6778;
    background-color: #678;
}

.fdk-dropdown-menu-language:before {
    position: absolute;
    top: -7px;
    right: 14px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.fdk-dropdown-menu-language:after {
    position: absolute;
    top: -6px;
    right: 14px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #5A6778;
    border-left: 6px solid transparent;
    content: '';
}

.fdk-dropdown-menu-language>li>a {
    color: #5A6778;
    font-size: 16px;
    line-height: 1.2px;
    padding: 20px 20px 5px 20px;
}

.fdk-dropdown-menu-language>li:hover {
    background-color: #fff;
    background-image: none;
    color: #5A6778;
    font-size: 16px;
    line-height: 1.2px;
}


/*  D R O P D O W N   M E N U  */

.fdk-dropdown {
    color: #213B4C;
    position: absolute;
    right: 0;
    width: 90px;
    z-index: 2;
}
.fdk-dropdown > a {
    color: #213B4C;
    font-size: 60px;
    text-decoration: none;
}
.fdk-dropdown > a:hover {
    color: #5A6778;
}
.fdk-dropdown > a:active {
    text-decoration: none;
}
.fdk-dropdown .dropdown-menu {
    right:0;
    left:auto;
    background-color: #213B4C;
    color:#fff;
    min-width: 200px;
}
.fdk-dropdown .dropdown-menu li {
    border-top: 1px solid #5A6778;
    font-size: 16px;
    color: #fff;
}
.fdk-dropdown .dropdown-menu li:first-child {
    border: 0;
    padding: 0;
}

.dropdown-menu:before {
    position: absolute;
    top: -7px;
    right:14px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.dropdown-menu:after {
    position: absolute;
    top: -6px;
    right: 14px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #5A6778;
    border-left: 6px solid transparent;
    content: '';
}

.dropdown-menu>li>a {
    color: #5A6778;
    line-height: 1.2px;
    padding: 20px 20px 5px 20px;
}

.fdk-flag {
    margin-right: 5px;
    width: 20px;
}

.fdk-menu {
    padding: 0;
}

/*  F O N T S  */

h1 {
    font-size: 40px;
    line-height: 46px;
    color: #213B4C;
}

h1.fdk-heading {
    text-align: center;
}

h2 {
    font-size: 22px;
    line-height: 26px;
    color: #213B4C;
}

h3 {
    font-size: 22px;
    line-height: 26px;
    font-weight: 300;
    color: #213B4C;
}

h4 {
    font-size: 18px;
    line-height: 26px;
    color: #213B4C;
}

p {
    color: #5A6778;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 12px;
}

a.white-link {
    color: #fff;
    text-decoration: underline;
}

a.white-link:hover {
    color: #C8CDD4;
}