@import '../../../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';

.search-hit {
  background-color: $color-white;
  border-radius: 5px;
  color: $color-neutral-darkest;
  padding: 1.5em 2em;
  margin-bottom: 1em;
}
