@import '../../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';

.fdk-filter-tree {

  .tree-view {
    overflow-x: hidden;
    .tree-view_item {
      border-top: none;
      @include themify($themes) {
        color: themed('color-text-default');
      }
      white-space: nowrap;
      margin-top: 0;
      margin-bottom: 0;
    }
    .tree-view_children {
      margin-left: 12px;
    }

    .tree-view_children-collapsed {
      height: 0px;
    }
  }
  .tree-view_arrow {
    cursor: pointer;
    @include themify($themes) {
      color: themed('color-text-link');
    }
    font-size: 2rem;
    font-family: FontAwesome;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:after {
      content: "\F106";
    }
  }
  .checkbox {
   width: 100%;
    .checkbox_label {
      max-width: 90%;
    }
  }
  /* rotate the triangle to close it */
  .tree-view_arrow-collapsed {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }

  .pre-scrollable {
    max-height: 1000px !important;
  }
}
