@import '../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';

.fdk-search-flex {
  display: flex;
  align-items: flex-start;
  font-size: 2rem;

  .fdk-search-box {
    width: 100%;
    .glyphicon-search-frontpage {
      top: 20px;
    }
    label {
      width: 100%
    }
    input.fdk-search {
      color: $color1;
      border: none;
      border-radius: 0;
      box-shadow: 0 4px 8px rgba(45, 55, 65, 0.2);
      font-weight: 400;
      height: 54px;
      width: 100%;
      padding: 12px 16px;
      margin: 0 0 10px 0px;
    }
  }

  .fdk-button-filter {
    background-color: $color1;
    color: $color0;
    height: 54px;
    margin: 0;
    border-radius: 5px 0 0 5px;
    box-shadow: 0 4px 8px rgba(45, 55, 65, 0.2);
    &:hover, &:focus {
      color: $color0;
      border-color: $color1;
    }
  }

  .fdk-button-search {
    background-color: $color1;
    color: $color0;
    margin: 0;
    border-radius: 0 5px 5px 0;
    border-color: $color1;
    box-shadow: 0 4px 8px rgba(45, 55, 65, 0.2);
    height: 54px;
    &:hover, &:focus {
      color: $color0;
      border-color: $color1;
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

  .fdk-search-flex {
    .fdk-search-box {
      input.fdk-search {
        border-radius: 5px 0 0 5px;
        font-size: 3rem;
        height: 68px;
      }
    }

    .fdk-button-search {
      font-size: 2.5rem;
      height: 68px;
    }
  }

  .glyphicon-search-frontpage {
    border-radius: 5px;
    right: 26px ;
    top: 92px;
    font-size: 3rem;
  }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}