@import '../../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';



/*  Search box clear-icon for mobile devices */
.clear-icon:after {
  content: '';
  background-image: url('../../../static/img/icon-add.svg');
  display: block;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
  position: absolute;
  z-index: 1;

  width: 0.5em;
  height: 0.5em;
  right: 85px;
  top: 22px;
}

.fdk-search-flex {
  display: flex;
  align-items: flex-start;
  font-size: 2rem;

  .fdk-search-box {
    width: 100%;
    .glyphicon-search-frontpage {
      top: 20px;
    }
    label {
      width: 100%
    }
    input.fdk-search {
      color: $color1;
      border: none;
      border-radius: 0;
      box-shadow: 0 4px 8px rgba(45, 55, 65, 0.2);
      font-weight: 400;
      height: 54px;
      width: 100%;
      padding: 12px 16px;
      margin: 0 0 10px 0;
    }
  }

  .fdk-button-filter {
    background-color: $color-blue-dark;
    color: $color0;
    height: 54px;
    margin: 0;
    border-radius: 5px 0 0 5px;
    border-color: $color-blue-dark;
    box-shadow: 0 4px 8px rgba(45, 55, 65, 0.2);
    border: 0;
    &:hover, &:focus {
      color: $color0;
      border-color: $color-blue-dark;
    }
  }

  .fdk-button-search {
    background-color: $color-blue-dark;
    color: $color0;
    margin: 0;
    border-radius: 0 5px 5px 0;
    border-color: $color-blue-dark;
    box-shadow: 0 4px 8px rgba(45, 55, 65, 0.2);
    height: 54px;
    &:hover, &:focus {
      color: $color0;
      border-color: $color-blue-dark;
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

  /*  Search box clear-icon for desktops */
  .clear-icon:after {
    width: 1em;
    height: 1em;
    right: 120px;
    top: 24px;
  }

  .fdk-search-flex {
    .fdk-search-box {
      input.fdk-search {
        border-radius: 5px 0 0 5px;
        font-size: 3rem;
        height: 68px;
      }
    }

    .fdk-button-search {
      font-size: 2.5rem;
      height: 68px;
    }
  }

  .glyphicon-search-frontpage {
    border-radius: 5px;
    right: 26px ;
    top: 92px;
    font-size: 3rem;
  }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}