@import '../../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';

/*  Search box clear-icon for mobile devices */
.theme-fdk {
  .clear-icon:after {
    background-image: url('../../../img/icon-clear.svg');
  }
}

.theme-nap {
  .clear-icon:after {
    background-image: url('../../../img/icon-clear-nap.svg');
  }
}

.clear-icon:after {
  content: '';
  display: block;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  width: 0.7em;
  height: 0.7em;
  right: 15px;
  top: 20px;
}

.fdk-search-flex {
  display: flex;
  align-items: flex-start;
  font-size: 2rem;

  .fdk-search-box {
    position: relative;
    .glyphicon-search-frontpage {
      top: 20px;
    }
    label {
      width: 100%
    }
    input.fdk-search {
      @include themify($themes) {
        color: themed('color-neutral-darkest');
      }
      border: none;
      border-radius: 0;
      box-shadow: 0 4px 8px rgba(45, 55, 65, 0.2);
      font-weight: 400;
      height: 54px;
      width: 100%;
      padding: 12px 16px;
      margin: 0 0 10px 0;
    }
  }

  .fdk-button-filter {
    height: 54px;
    margin: 0;
    border-radius: 5px 0 0 5px;
    box-shadow: 0 4px 8px rgba(45, 55, 65, 0.2);
    border: 0;
    @include themify($themes) {
      background-color: themed('color-button-primary-1');
      color: themed('color-button-text-primary');
      border-color: themed('color-button-primary-1');
    }
    &:hover, &:focus {
      @include themify($themes) {
        color: themed('color-button-text-primary');
        border-color: themed('color-button-primary-1');
      }
    }
  }

  .fdk-button-search {
    margin: 0;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 4px 8px rgba(45, 55, 65, 0.2);
    height: 54px;
    @include themify($themes) {
      background-color: themed('color-button-primary-1');
      color: themed('color-button-text-primary');
      border-color: themed('color-button-primary-1');
    }
    &:hover, &:focus {
      @include themify($themes) {
        color: themed('color-button-text-primary');
        border-color: themed('color-button-primary-1');
      }
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

  /*  Search box clear-icon for desktops */
  .clear-icon:after {
    width: 1em;
    height: 1em;
    right: 20px;
    top: 24px;
  }

  .fdk-search-flex {
    .fdk-search-box {
      input.fdk-search {
        border-radius: 5px 0 0 5px;
        font-size: 3rem;
        line-height: 68px;
        height: 68px;
      }
    }

    .fdk-button-search {
      font-size: 2.5rem;
      height: 68px;
    }
  }

  .glyphicon-search-frontpage {
    border-radius: 5px;
    right: 26px ;
    top: 92px;
    font-size: 3rem;
  }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
