.fdk-form-checkbox {
  margin-bottom: 0;
  input {
    display: none;
  }
  .fdk-form-check-label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    height: 18px;
    width: 18px;
    border: 1px solid #2D3741;
    border-radius: 3px;
    position: relative;
    left: -5px;
    top: 8px;
    &:after {
      top: 2px;
      left: 2px;
    }

  }
}


.fdk-form-checkbox input:checked +  .fdk-form-check-label{
  &:after {
    position: absolute;
    width: 12px;
    height: 12px;
    background: #2D3741;
    border-radius: 3px;
    content: '';
  }
}

