@import '../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';

.fdk-header {
  @include themify($themes) {
    background-color: themed('color-header-bg') !important;
  }
  .nav {
    a {
      @include themify($themes) {
        color: themed('color-header') !important;
      }
    }
  }
  .fdk-button-menu {
    @include themify($themes) {
      background-color: themed('color-button-primary-1');
      color: themed('color-button-text-primary');
    }
  }
}

.fdk-button-lang {
  font-size: 1.5rem !important;
  background-color: transparent !important;
  border-color: transparent !important;
  text-shadow: none !important;
  box-shadow: none !important;
  background-image: none !important;
  text-decoration: none !important;
  margin-right: .5em !important;
  @include themify($themes) {
    color: themed('color-header') !important;
  }
  font-size: 1.5rem;
  &:focus, &:active, &:hover {
    @include themify($themes) {
      color: themed('color-header') !important;
    }
    background-color: transparent !important;
    border-color: transparent !important;
  }
}
