*
!.gitignore
!fdk
fdk/*

!fdk/login
fdk/login/*

!fdk/login/login-reset-password.ftl
!fdk/login/login.ftl
!fdk/login/register.ftl
!fdk/login/template.ftl

!fdk/login/messages
fdk/login/messages/*

!fdk/login/messages/messages_no.properties

!fdk/login/resources
fdk/login/resources/*

!fdk/login/resources/css
fdk/login/resources/css/*

!fdk/login/resources/css/login.css

!fdk/login/resources/img
fdk/login/resources/img/*

!fdk/login/resources/img/illustration-login.svg
!fdk/login/resources/img/logo-registrering.svg

!fdk-choose-provider
fdk-choose-provider/*

!fdk-choose-provider/login
fdk-choose-provider/login/*

!fdk-choose-provider/login/login.ftl
!fdk-choose-provider/login/template.ftl

!fdk-choose-provider/login/resources
fdk-choose-provider/login/resources/*

!fdk-choose-provider/login/resources/css
fdk-choose-provider/login/resources/css/*

!fdk-choose-provider/login/resources/css/login.css

!fdk-choose-provider/login/resources/img
fdk-choose-provider/login/resources/img/*

!fdk-choose-provider/login/resources/img/illustration-login.svg
!fdk-choose-provider/login/resources/img/logo-registrering.svg
