@import '../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';

.fdk-reg-helptext {
  background-color: $color-primary-lighter;
  border-radius: 5px;
  font-size: 1.4rem;
  strong {
    font-size: 1.8rem;
  }
  .fdk-reg-helptext-more {
    text-decoration: underline;
    white-space: nowrap;
  }
}

.fdk-obligatorisk {
  font-size: 1.1rem;
  color: #ffffff;
  background-color: #4B555F;
  padding: .1em .6em;
  border-radius: 2px;
  position: relative;
  top: -2px;
}
