<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.springframework.web" level="ERROR"/>
    <!--logger name="org.apache.http.wire" level="WARN"/-->
    <logger name="org.apache.http" level="ERROR"/>
    <logger name="org.apache.jena" level="ERROR"/>
	<logger name="org.elasticsearch" level ="WARN"/>
	<logger name="no.difi.dcat" level ="WARN"/>

	<logger name="no.dcat" level="INFO"/>


</configuration>