@import '../../../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';

.fdk-a-search-hit {
  text-decoration: none;
}

.theme-fdk {
  .fdk-icon-public {
    background-image: url("/img/icon-dataset-public-md.svg");
  }
}

.theme-nap {
  .fdk-icon-public {
    background-image: url("/img/icon-dataset-public-nap-md.svg");
  }
}

.fdk-icon-public {
  background-image: url("/img/icon-dataset-public-md.svg");
  width: 2em; 
  height: 2em;
}

.fdk-icon-non-public {
  background-image: url("/img/icon-dataset-not-public-md.svg");
  width: 2em; 
  height: 2em;
}

.fdk-icon-restricted {
  background-image: url("/img/icon-dataset-restricted-md.svg");
  width: 2em; 
  height: 2em;
}

.fdk-color-restricted {
  color: $color-warning-darker !important;
}