@import '../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';

.list-regular {
  background-color: $color0;
  border-radius: 5px;
  border: 1px $color0;
  padding: 2em 3em;
  word-wrap: break-word;
  .list-regular--item {
    margin-bottom: -1px;
    background-color: $color-white;
    border-top: 1px solid $color-grey-1;
    border-bottom: 1px solid $color-grey-1;
    padding: 1em 0;
    &:first-child {
      border-top: 0;
    }
    &:last-child {
      border-bottom: 0;
    }
  }
}