{
    "REDUX_LOG":"$REDUX_LOG",
    "CONTAINER_IMAGE":"$CONTAINER_IMAGE",
    "SEARCH_API_HOST": "$SEARCH_API_HOST",
    "SEARCH_API_AUTHORIZATION": "$SEARCH_API_AUTHORIZATION",
    "NAP_HOST": "$NAP_HOST",
    "USE_DEMO_LOGO":"$USE_DEMO_LOGO"
}

