@import '../../assets/css/colors.scss';
.sk-search-box .glyphicon-search-frontpage {
  top: 20px;
}

.glyphicon-search-frontpage {
  position: absolute !important;
  right: 26px ;
  top: 92px;
  font-size: 2rem;
  z-index: 1 ;
  color: #213B4C ;
}

.fdk-search {
  margin-bottom: 10px !important;
  box-shadow: 0px 3px 12px $color4;
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .glyphicon-search-frontpage {
    right: 26px ;
    top: 92px;
    font-size: 3rem;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
