
.sk-search-box .glyphicon-search-frontpage {
  top: 20px;
}

.glyphicon-search-frontpage {
  position: absolute !important;
  right: 26px ;
  top: 92px;
  font-size: 32px ;
  z-index: 1 ;
  color: #213B4C ;
}

.fdk-search {
  margin-bottom: 10px !important;
  box-shadow: 0px 3px 12px var(--color4);
}


