.fdk-checkbox {
  position: absolute;
  display: none;
}

/* Usikker på om denne er nødvendig */
.fdk-checkbox[disabled] {
  cursor: not-allowed;
}

.fdk-checkbox + label {
  position: relative;
  display: block;
  padding-left: 30px;
  cursor: pointer;
  vertical-align: middle;
}

.fdk-checkbox + label:hover:before {
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-name: hover-color;
}

.fdk-checkbox + label:before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  content: '';
  border: 1px solid #213B4C;
}

.fdk-checkbox + label:after {
    position: absolute;
    display: none;
    content: '';
}

.fdk-checkbox[disabled] + label {
  cursor: not-allowed;
  color: #e4e4e4;
}

.fdk-checkbox[disabled] + label:hover,
.fdk-checkbox[disabled] + label:before,
.fdk-checkbox[disabled] + label:after {
  cursor: not-allowed;
}

.fdk-radio[disabled] + label:hover:before,
.fdk-checkbox[disabled] + label:hover:before {
  border: 1px solid #e4e4e4;
  animation-name: none;
  }

.fdk-checkbox[disabled] + label:before {
  border-color: #e4e4e4;
}

.fdk-checkbox:checked + label:before {
  animation-name: none;
}

.fdk-checkbox:checked + label:after {
  display: block; }

.fdk-checkbox + label:before {
  border-radius: 3px;
}

.fdk-checkbox + label:after {
  top: 2px;
  left: 7px;
  box-sizing: border-box;
  width: 6px;
  height: 12px;
  transform: rotate(45deg);
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  border-top: 0;
  border-left: 0;
}

.fdk-checkbox:checked + label:before {
  border: #3e97eb;
  background: #213B4C;
}

.fdk-checkbox:checked[disabled] + label:before {
  border: #c9e2f9;
  background: #c9e2f9;
}
