<alert type="success" *ngIf="saved">
  Sist lagret {{lastSaved}}
</alert>
<alert type="info" *ngIf="!saved">
  Endringer lagres automatisk
</alert>

<div class="col-md-12" *ngIf="catalog">
  <div class="panel fdk-panel" *ngIf="catalog">
    <div class="fdk-panel-big-heading">
      <div class="form-group">
        <input id="tittel-datakatalog" (ngModelChange)="valuechange()" type="text" class="fdk-register-h1" placeholder="Tittel" [(ngModel)]="catalog.title[language]" />
      </div>
    </div>
    <div class="fdk-panel-big-body">
      <h2>{{catalog.publisher.name}}</h2>
      <textarea class="fdk-register-h3" (ngModelChange)="valuechange()" rows="5" id="beskrivelse-datakatalog" placeholder="Beskrivelse" [(ngModel)]='catalog.description[language]'></textarea>
    </div>
  </div>
</div>

<div class="col-md-12" *ngIf="catalog">
  <div class="panel fdk-panel">
    <div class="fdk-panel-heading">
      <table class="fdk-register">
        <tbody>
          <tr>
            <td class="fdk-register fdk-register-datacatalogue-1">
              <h4 class="fdk-text-white fdk-no-margin">Datasett</h4>
            </td>
            <td class="fdk-register fdk-register-datacatalogue-2 fdk-text-right">
              <h4 class="fdk-text-white fdk-text-right fdk-no-margin">Sist endret</h4>
            </td>
            <td class="fdk-register fdk-register-datacatalogue-2 fdk-text-right">
              <h4 class="fdk-text-white fdk-text-right fdk-no-margin">Slett</h4>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="fdk-panel-body">
      <table class="fdk-register fdk-table-hover" id="datasets_table">
        <tbody>
        <tr *ngFor="let dataset of datasets" id="datasets" class="fdk-row-padding"  >
          <td (click)="selectDataset(catalog, dataset)" class="fdk-register fdk-register-datacatalogue-1">{{getTitle(dataset)}}</td>
          <td (click)="selectDataset(catalog, dataset)" class="fdk-register fdk-register-datacatalogue-2">
            <div class="fdk-text-right">{{dataset._lastModified | date: 'short'}}</div>
          </td>
          <td class="fdk-register fdk-register-datacatalogue-2">
            <div id="button_delete_dataset_in_list" (click)="deleteDataset(catalog, dataset)" class="fdk-text-right" style="color:#f00;font-size:20px;cursor:pointer">X</div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <button type="button" class="btn btn-default fdk-label fdk-label-default" (click)="newDataset()" id="button_new_dataset">Nytt datasett</button>
  <button type="button" class="btn btn-default fdk-label fdk-label-default" (click)="back()">Tilbake</button>
</div>
