@import '../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';

.detailBox {
  background-color: $color0;
  border-radius: 5px;
  border: 1px $color0;
  padding: 2em;
  word-break: break-word;
}

.sticky-menu {
  ul {
    list-style: none;
    li a.active {
      &:after {
        content: "\f105";
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin-right: 2.5em;
      }
    }
  }
  a.smoothScroll {
    &:hover,&:active,&:focus {
      font-weight: 500;
    }
  }
  a.smoothScroll.active {
    font-weight: 500;
  }
}