@import '../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';

.fdk-icon-catalog-api {
    background-image: url("/img/icon-catalog-api-lg.svg");
    width: 3.5em; 
    height: 3.5em;
    display: inline-block;
}

.api-details-section {
    .access-icon {
        background-color: $color-white;;
        border-radius: 5px;
        border: 1px $color-white;;
        padding: 1em 2em;
        margin-right: 0.5em;
    }

    .access-icon:last-child {
        margin-right: 0;
    }
}
