@import '../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';

.api-details-section {
    .access-icon {
        background-color: $color-white;;
        border-radius: 5px;
        border: 1px $color-white;;
        padding: 1em 2em;
        margin-right: 0.5em;
    }

    .access-icon:last-child {
        margin-right: 0;
    }
}
