@import '../../../../../node_modules/react-select/dist/react-select.css';
@import '../../../../../node_modules/designsystemet/fdk-designsystem-bootstrap3/scss/colors.scss';

.fdk-report-search-publishers {
  background-color: $color5;
  padding: 1.2em;
  margin: .5em auto;
  border-radius: 5px;
  .fdk-report-search-publishers__header {
    color: $color1;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 500;
    margin: 0;
  }
}

.Select-arrow-zone {
  display: none !important;
}

.Select-clear-zone {
  padding-right: .5rem;
}