logging:
  level.: ERROR
  level.no.brreg: ERROR
  level.no.difi: ERROR
  level.no.dcat: INFO
  level.org.springframework: ERROR
application:
  elasticsearchHost: elasticsearch
  elasticsearchPort: 9300
  elasticsearchCluster: elasticsearch
  fusekiHost: http://fuseki:8080
  harvesterHost: http://fdk-dataset-harvester:8080

---
spring:
  profiles: prod
application:
  elasticsearchCluster: fellesdatakatalog

---
#Utv-miljø lokalt på egen PC
spring:
  profiles: develop
application:
  elasticsearchHost: localhost
  elasticsearchPort: 9300
  elasticsearchCluster: elasticsearch
  fusekiHost: http://localhost:3030
  harvesterHost: http://localhost:8081
server:
  port: 8074
