
$color0: #ffffff; /* hvit */
$color1: #2D3741; /* mørkest blågrå – heading */
$color2: #A0A5AA; /* medium blågrå – store ikoner */
$color3: #646E78; /* medium blågrå – lysere tekst */
$color4: #D2D7DC; /* mellomlys blågrå –  */
$color5: #DEE3E8; /* bakgrunn til filter */
$color6: #EEF0F2; /* lys blågrå – bakgrunner */
$color7: #F2F4F6; /* ultralys – til bakgrunn på hjelpetekst i nytt designforslag */

$color-cta: #00C3FF; /* blå themefarge */
$color-cta2: #0069A5; /* blå for liten tekst */
$color-cta3: #009BD7; /* blå for stor tekst */
$color-cta4: #AAE6FF; /* lys blå */

$color-green: #00CD96; /* grønn */
$color-green2: #D7FAF0; /* lys grønn*/

$color-yellow: #FFC800; /* gul */
$color-yellow2: #FFFAE1; /* lys gul */

$color-red: #FF4682; /* rød */
$color-red2: #FFE1EB; /* lys rød */
$color-red3: #C80041; /* mørk rød */

$color-shadow: rgba(35, 55, 65, 0.55);

.fdk-color0 {
    color: $color0;
}

.fdk-color1 {
    color: $color1;
}

.fdk-color2 {
    color: $color2;
}

.fdk-color3 {
    color: $color3;
}
.fdk-color4 {
    color: $color4;
}

.fdk-color5 {
    color: $color5;
}

.fdk-color6 {
    color: $color6;
}

.fdk-color-cta {
    color: $color-cta;
}

.fdk-color-cta2 {
    color: $color-cta2;
}

.fdk-color-cta3 {
    color: $color-cta3;
}

.fdk-color-cta4 {
    color: $color-cta4;
}

.fdk-color-offentlig {
    color: $color-green !important;
}

.fdk-color-begrenset {
    color: $color-yellow !important;
}

.fdk-color-unntatt {
    color: $color-red !important;
}

.fdk-color-unknown {
    color: $color2 !important;
}

.fdk-color-green {
    color: $color-green;
}

.fdk-color-yellow {
    color: $color-yellow;
}

.fdk-color-red {
    color: $color-red;
}

.fdk-color-icon-cta {
    color: $color1;
}
