
$color0: #ffffff; /* hvit */
$color1: #2D3741; /* mørkest blågrå – heading */
$color2: #4B555F; /* mørk blågrå – tekst */
$color3: #646E78; /* medium blågrå – lysere tekst */
$color4: #C2C8CE; /* mellomlys blågrå –  */
$color5: #D7DDE3; /* ultralys blågrå – inputfelter */
$color6: #EEF0F2; /* lys blågrå – bakgrunner */
$color7: #F6F8FA; /* ultralys blågrå – inputfelter */
$color-cta: #00B4E6; /* blå themefarge – call to actions og "krydder" */
$color-cta2: #197DAF; /* blå themefarge mot lys bakgrunn - for økt kontrast på fargede ikoner */
$color-cta3: #009BCD; /* blå themefarge mot lys bakgrunn - for økt kontrast på fargede ikoner */
$color-cta4: #AAE6FF; /* lys blå themefarge */
$color-green: #00DCA0; /* grønn */
$color-green2: #DCFFF5; /* lys grønn */
$color-yellow: #FFD200; /* gul */
$color-yellow2: #FFFAD7; /* lys gul */
$color-red: #FF3C64; /* rød */
$color-red2: #FAE6EB; /* lys rød */


.fdk-color0 {
    color: $color0;
}

.fdk-color1 {
    color: $color1;
}

.fdk-color2 {
    color: $color2;
}

.fdk-color3 {
    color: $color3;
}
.fdk-color4 {
    color: $color4;
}

.fdk-color5 {
    color: $color5;
}

.fdk-color6 {
    color: $color6;
}

.fdk-color-cta {
    color: $color-cta;
}

.fdk-color-cta2 {
    color: $color-cta2;
}

.fdk-color-cta3 {
    color: $color-cta3;
}

.fdk-color-cta4 {
    color: $color-cta4;
}

.fdk-color-green {
    color: $color-green;
}

.fdk-color-yellow {
    color: $color-yellow;
}

.fdk-color-red {
    color: $color-red;
}

.fdk-color-icon-cta {
    color: $color-cta3;
}
