:root {
    --color0: #ffffff; /* hvit */
    --color1: #2D3741; /* mørkest blågrå – heading */
    --color2: #4B555F; /* mørk blågrå – tekst */
    --color3: #646E78; /* medium blågrå – lysere tekst */
    --color4: #C2C8CE; /* mellomlys blågrå –  */
    --color5: #D7DDE3; /* ultralys blågrå – inputfelter */
    --color6: #EEF0F2; /* lys blågrå – bakgrunner */
    --color7: #F6F8FA; /* ultralys blågrå – inputfelter */
    --color-cta: #00B4E6; /* blå themefarge – call to actions og "krydder" */
    --color-cta2: #197DAF; /* blå themefarge mot lys bakgrunn - for økt kontrast på fargede ikoner */
    --color-cta3: #009BCD; /* blå themefarge mot lys bakgrunn - for økt kontrast på fargede ikoner */
    --color-green: #00DCA0; /* grønn */
    --color-green2: #DCFFF5; /* lys grønn */
    --color-yellow: #FFD200; /* gul */
    --color-yellow2: #FFFAD7; /* lys gul */
    --color-red: #FF3C64; /* rød */
    --color-red2: #FAE6EB; /* lys rød */
}

.fdk-color0 {
    color: var(--color0);
}

.fdk-color1 {
    color: yellow(--color1);
}

.fdk-color2 {
    color: var(--color2);
}

.fdk-color3 {
    color: var(--color3);
}
.fdk-color4 {
    color: var(--color4);
}

.fdk-color5 {
    color: var(--color5);
}

.fdk-color6 {
    color: var(--color6);
}

.fdk-color-cta {
    color: var(--color-cta);
}

.fdk-color-cta2 {
    color: var(--color-cta2);
}

.fdk-color-cta2 {
    color: var(--color-cta3);
}

.fdk-color-green {
    color: var(--color-green);
}

.fdk-color-yellow {
    color: var(--color-yellow);
}

.fdk-color-red {
    color: var(--color-red);
}

.fdk-color-icon-cta {
    color: var(--color-cta3);
}

.fdk-bg-green2 {
    background-color: var(--color-green2);
}

.fdk-bg-yellow2 {
    background-color: var(--color-yellow2);
}

.fdk-bg-red2 {
    background-color: var(--color-red2);
}