
$color0: #ffffff; /* hvit */
$color1: #2D3741; /* mørkest blågrå – heading */
$color2: #4B555F; /* mørk blågrå – tekst */
$color3: #646E78; /* medium blågrå – lysere tekst */
$color4: #CDD2D7; /* mellomlys blågrå –  */
$color5: #DADFE4; /* lys blågrå – inputfelter */
$color6: #EEF0F2; /* lys blågrå – bakgrunner */
$color7: #F6F8FA; /* ultralys blågrå – inputfelter */
$color-cta: #00C3FF; /* blå themefarge – call to actions og "krydder" */
$color-cta2: #007CBE; /* blå themefarge mot lys bakgrunn - for økt kontrast på fargede ikoner */
$color-cta3: #009BD7; /* blå themefarge mot lys bakgrunn - for økt kontrast på fargede ikoner */
$color-cta4: #AAE6FF; /* lys blå themefarge */
$color-green: #00F5C8; /* grønn */
$color-yellow: #FFDC64; /* gul */
$color-red: #FF4682; /* rød */
$color-shadow: rgba(35, 55, 65, 0.55);


.fdk-color0 {
    color: $color0;
}

.fdk-color1 {
    color: $color1;
}

.fdk-color2 {
    color: $color2;
}

.fdk-color3 {
    color: $color3;
}
.fdk-color4 {
    color: $color4;
}

.fdk-color5 {
    color: $color5;
}

.fdk-color6 {
    color: $color6;
}

.fdk-color-cta {
    color: $color-cta;
}

.fdk-color-cta2 {
    color: $color-cta2;
}

.fdk-color-cta3 {
    color: $color-cta3;
}

.fdk-color-cta4 {
    color: $color-cta4;
}

.fdk-color-green {
    color: $color-green;
}

.fdk-color-yellow {
    color: $color-yellow;
}

.fdk-color-red {
    color: $color-red;
}

.fdk-color-icon-cta {
    color: $color-cta3;
}
