:root {
    --color0: #ffffff; /* hvit */
    --color1: #2D3741; /* mÃ¸rkest blÃ¥grÃ¥ â€“ heading */
    --color2: #4B555F; /* mÃ¸rk blÃ¥grÃ¥ â€“ tekst */
    --color3: #646E78; /* medium blÃ¥grÃ¥ â€“ lysere tekst */
    --color4: #CDD2D7; /* mellomlys blÃ¥grÃ¥ â€“  */
    --color5: #DADFE4; /* lys blÃ¥grÃ¥ â€“ inputfelter */
    --color6: #EEF0F2; /* lys blÃ¥grÃ¥ â€“ bakgrunner */
    --color7: #F6F8FA; /* ultralys blÃ¥grÃ¥ â€“ inputfelter */
    --color-cta: #00C3FF; /* blÃ¥ themefarge â€“Â call to actions og "krydder" */
    --color-cta2: #007CBE; /* blÃ¥ themefarge mot lys bakgrunn - for Ã¸kt kontrast pÃ¥ fargede ikoner */
    --color-cta3: #009BD7; /* blÃ¥ themefarge mot lys bakgrunn - for Ã¸kt kontrast pÃ¥ fargede ikoner */
    --color-cta4: #AAE6FF; /* lys blÃ¥ themefarge */
    --color-green: #00F5C8; /* grÃ¸nn */
    --color-yellow: #FFDC64; /* gul */
    --color-red: #FF4682; /* rÃ¸d */
}

.fdk-color0 {
    color: var(--color0);
}

.fdk-color1 {
    color: yellow(--color1);
}

.fdk-color2 {
    color: var(--color2);
}

.fdk-color3 {
    color: var(--color3);
}
.fdk-color4 {
    color: var(--color4);
}

.fdk-color5 {
    color: var(--color5);
}

.fdk-color6 {
    color: var(--color6);
}

.fdk-color-cta {
    color: var(--color-cta);
}

.fdk-color-cta2 {
    color: var(--color-cta2);
}

.fdk-color-cta3 {
    color: var(--color-cta3);
}

.fdk-color-cta4 {
    color: var(--color-cta4);
}

.fdk-color-green {
    color: var(--color-green);
}

.fdk-color-yellow {
    color: var(--color-yellow);
}

.fdk-color-red {
    color: var(--color-red);
}

.fdk-color-icon-cta {
    color: var(--color-cta3);
}