@import './colors.scss';

body {
    background-color: $color6 !important;
    font-family: "heebo", "helvetica", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.1rem;
    color: $color1;
}


/*  C O N T A I N E R   &   H E A D E R   &   F O O T E R   */

.fdk-container {
    background-color: $color0;
    border-radius: 4px;
    margin: 0px 0px 10px 0px;
}

.fdk-container:hover {
	box-shadow: 0px 3px 12px $color4;
}

.fdk-header-beta {
    width: 100%;
    padding: 10px 0px 10px 0px;
    background-color: $color1;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: $color0;
}

.fdk-header {
    background-color: $color0;
    border-bottom: 1px solid $color5;
    padding: 20px 0px;
    margin: 0;
}

.fkd-header-right {
    text-align: right;
}

.fdk-header-padding {
    padding-top: 10px;
}

.fdk-container-path {
    padding: 10px 0px;
    margin: 0px 0px 50px 0px;
}

.fdk-logo {
    width: 201px;
    height: 60px;
    margin: -8px 0px;
}


/*  D R O P D O W N   U N I V E R S A L  */

.fdk-dropdown-caret {
	margin-left: 15px !important;
}



/* * * * *   B U T T O N S   * * * * */

.fdk-button {
	font-size: 1.5rem;
    line-height: 1.5rem;
    border-radius: 6px;
    border: 3px solid $color6;
    padding: 11px 12px 10px 12px;
    margin: 0px 2px 6px 0px;
    display: inline-block;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
}

.fdk-button-default {
    background-color: $color-cta4;
    border-color: $color6;
}

.fdk-button-default:hover, .fdk-button-default:focus .fdk-button-default:active .open>.fdk-button-default {
    border-radius: 3px;
    border: 3px solid $color-cta4;
}

.fdk-button-cta {
    background-color: $color-cta;
    border: 3px solid $color6;
}

.fdk-button-cta:hover {
    border-radius: 3px;
    background-color: $color-cta;
    border: 3px solid $color-cta;
}

.fdk-button-inactive {
    background-color: $color5;
    color: $color4;
    border-radius: 4px;
    margin: 0px 6px 6px 0px;
}

.fdk-button-format {
	font-size: 15px;
    line-height: 15px;
	font-weight: 300;
    border-radius: 6px;
    border: 3px solid $color6;
    padding: 11px 12px 10px 12px;
    margin: 0px 0px 6px 0px;
    display: inline-block;
    background-image: none;
    background-color: $color1;
    color: $color0;
    text-shadow: none;
    box-shadow: none;
}



/* fonts */

a > .fdk-button {
    text-decoration: none;
    font-weight: 400;
    color: $color1;
}

.fdk-button-format > i {
    color: $color0;
}

.fdk-button-format-inactive > i {
    color: $color1;
}

.fdk-button-on-white {
    border-color: $color0;
}



/* * * * *   L A B E L S   * * * * */

.fdk-label {
    background-color: $color5;
    color: $color1;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4rem;
    border-radius: 2px;
    padding: 6px 8px 5px 8px;
    display: inline-block;
    margin: -1px 0px -1px 2px;
}

.fdk-label-on-grey {
    background-color: $color4;
}



/* fonts */

a > .fdk-label {
    color: $color1;
    text-decoration: none;
    font-size: 1.4rem
}



/*  G E N E R A L   C S S  */

.fdk-margin-right {
    margin-right: 10px;
}

.fdk-margin-right-double {
    margin-right: 20px;
}

.fdk-float-right {
    float: right;
}

.fdk-float-none {
    float: none;
}



/*  S P A C E  */

.fdk-padding-no {
    padding: 0px;
}

.fdk-margin-no {
    margin: 0px;
}

.fdk-margin-top-no {
    margin-top: 0px;
}

.fdk-margin-top {
    margin-top: 20px;
}

.fdk-margin-top-double {
    margin-top: 40px;
}

.fdk-margin-top-triple {
    margin-top: 60px;
}

.fdk-margin-bottom-no {
    margin-bottom: 0px;
}

.fdk-margin-bottom {
    margin-bottom: 20px;
}

.fdk-margin-bottom-double {
    margin-bottom: 40px;
}

.fdk-margin-bottom-triple {
    margin-bottom: 60px;
}



/*  O V E R R I D E S  */

.btn-default {
	text-shadow: none;
}
