// this link is invalid for IDE, but works for webpack
@import './node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';

.publisher {
  position: absolute;
  top: 0;
  right: 0;
}

.fdk-dropdown-menu button{
  font-size:1.5rem
}

/* TODO move to designsystemet*/

.nav a {
  font-size: 1.5rem;
  text-decoration: none;
  color: $color1;
  &:focus, &:active, &:hover {
    color: $color1 !important;
  }
}

.fdk-button-language {
  background-color: transparent !important;
  border-color: transparent;
  text-shadow: none;
  box-shadow: none;
  background-image: none;
  text-decoration: none;
  margin-right: .5em;
  color: $color1 !important;
  font-size: 1.5rem;
  &:focus, &:active, &:hover {
    color: $color1 !important;
    background-color: transparent !important;
    border-color: transparent !important;
  }
}

.fdk-dropdownmenu {
  font-size: .88em;
  margin-top: .5em;
}

.btn-group .fdk-button-menu {
  &:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    content: "\f0c9";
    margin-right: .2em;
  }
}

.modal-header {
  h5 {
    color: $color0;
  }
  button {
    span {
      font-size: 2rem;
      color: $color-red;
    }
  }
}