/*  D I V I D E R S   &   B O X E S  */

.designsystemDivider {
    border-color: var(--color5);
    width: 100%;
    margin: 20px 0px;
}

.designsystemDividerSection {
    width: 100%;
    border-top: 2px solid var(--color5);
    margin: 80px 0px 80px 0px;
}

.designsystemInfobox {
    width: 100%;
    padding: 10px;
    margin: 0px;
    background-color: var(--color6);
    border: 1px dashed var(--color1);
    border-radius: 2px;
    display: inline-block;
}

.designsystemIconbox {
    width: 160px;
    height: auto;
    vertical-align: middle;
    margin: 0px 10px 20px 0px;
    padding: 0px;
    float: left;
}

.designsystemSpaceAbove {
    margin: 20px 0px 0px 0px;
}

.designsystemSpaceBelow {
    margin: 0px 0px 20px 0px;
}

.fdk-footer {
    border-top: 1px solid var(--color5);
    padding: 20px 0px;
    margin: 60px 0px 0px 0px;
}



/*  H E A D I N G S  */

.designsystemNumber {
    font-family: "heebo";
    font-weight: 600;
    padding: 10px 5px 9px 5px;
    margin-right: 10px;
    background-color: var(--color-cta);
    color: var(--color1);
    width: 40px;
    height: auto;
    border-radius: 2px;
    text-align: center;
    float: left;
}

.designsystemH1 {
    font-family: "heebo";
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--color1);
    padding: 10px 3px 9px 3px;
    margin: 0px 0px 50px 0px;
    height: auto;
}



/*  C O L O R   P A L E T T E  */

.designsystemColorPalette {
    width: 120px;
    height: 120px;
    margin: 10px;
    padding: 35px 5px 5px 5px;
    text-align: center;
    float: left;
    border-radius: 60px;
}

.designsystemColor1 {
    background-color: var(--color1);
    color: #fff;
    font-weight: 300;
}

.designsystemColor2 {
    background-color: var(--color2);
    color: #fff;
    font-weight: 300;
}

.designsystemColor3 {
    background-color: var(--color3);
    color: #fff;
    font-weight: 300;
}

.designsystemColor4 {
    background-color: var(--color4);
    color: var(--color1);
}

.designsystemColor5 {
    background-color: var(--color5);
    color: var(--color1);
}

.designsystemColor6 {
    background-color: var(--color6);
    color: var(--color1);
    border: 1px solid var(--color4);
}

.designsystemColor7 {
    background-color: var(--color7);
    color: var(--color1);
}

.designsystemColorCta {
    background-color: var(--color-cta);
    color: var(--color1);
}

.designsystemColorCta2 {
    background-color: var(--color-cta2);
    color: var(--color1);
}

.designsystemColorCta3 {
    background-color: var(--color-cta3);
    color: var(--color1);
}

.designsystemColorCta4 {
    background-color: var(--color-cta4);
    color: var(--color1);
}

.designsystemColorGreen {
    background-color: var(--color-green);
    color: var(--color1);
}

.designsystemColorGreen2 {
    background-color: var(--color-green2);
    color: var(--color1);
}

.designsystemColorYellow {
    background-color: var(--color-yellow);
    color: var(--color1);
}

.designsystemColorYellow2 {
    background-color: var(--color-yellow2);
    color: var(--color1);
}

.designsystemColorRed {
    background-color: var(--color-red);
    color: var(--color1);
}

.designsystemColorRed2 {
    background-color: var(--color-red2);
    color: var(--color1);
}

.designsystemColorWhite {
    background-color: #ffffff;
    color: var(--color1);
}



/* F O N T S */

.designsystemLinks {
    color: var(--color0);
}

.designsystemLinks:hover {
    color: var(--color-cta);
}