@import './bootstrap.min.css';
@import './bootstrap-theme.min.css';
@import './colors.scss';
@import './portal.scss';
@import './typo.scss';
@import './common.scss';
@import './animations.scss';
@import './font-awesome.min.css';


.publisher {
    position: absolute;
    top: 0;
    right: 0;
}

.container {
    position: relative;
}

.btn-group {
    .fdk-button-language {
        background-color: transparent !important;
        border-color: transparent;
        text-shadow: none;
        box-shadow: none;
        background-image: none;
        text-decoration: underline;
        margin-right: .5em;
        &:focus, &:active, &:hover {
            color: $color1 !important;
            background-color: transparent !important;
            border-color: transparent !important;
        }
    }
}

.fdk-button-menu {
    &:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f0c9";
        margin-right: .2em;
    }
}

/*
  GENERAL MARGINS AND PADDINGS
*/

.mt-1 {
    margin-top: .25rem !important;
}

.mt-3 {
    margin-top: 1rem !important;
}

.mt-5 {
    margin-top: 3rem !important;
}

.mt-6 {
    margin-top: 4em;
}

.mr-2 {
    margin-right: .5rem !important;
}

.mb-2 {
    margin-bottom: 0.5rem !important;
}

.fdk-p-0 {
    padding: 0 !important;
}

.fdk-p-3 {
    padding: 1em !important;
}

.block          { display: block; }
.inline         { display: inline; }
.inline-block   { display: inline-block; }

.uu-invisible {
    background:0 0;
    color:transparent;
    border:0;
    clip:rect(0 0 0 0);
    height:1px;
    width:1px;
    margin:-1px;
    padding:0;
    overflow:hidden;
    position:absolute!important
}

#skip-link-wrap {
    a {
        color: $color-cta2;
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
        &:focus, &:active {
            background-color: lime;
            position: static;
            top: 0;
            left: 0;
            width: auto;
            height: auto;
            margin: 0;
            overflow: visible;
            clip: auto;
        }
    }
}

/*
 TOP-HEADER
 */

.btn-group-default .dropdown-menu {
    left: auto;
    right: 0;
}

.fdk-header-flex {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.fdk-header-menu {
    display: flex;
    justify-content: flex-end;
    width: 6em;
}

/*
 FOOTER
 */
.fdk-footer {
    border-top: 1px solid $color5;
    margin: 60px 0px 0px 0px;
    padding: 1.2em 0;
}

/*
SEARCHPAGE SORTING DROPDOWN
*/

.btn-group {
    .fdk-button-default {
        &:focus, &:active, &:hover {
            background-color: $color-cta4;
            border-color: transparent;
            box-shadow: 0 4px 8px rgba(45, 55, 65, 0.2);
        }
    }
    .fdk-button-dropdown {
        &:focus, &:active, &:hover {
            background-color: $color0;
            border-color: transparent;
            box-shadow: 0 4px 8px rgba(45, 55, 65, 0.2);
        }
    }
}

.open.btn-group {
    .fdk-button-default {
        background-color: $color-cta4;
        border-color: transparent;
        box-shadow: none;
    }
    .fdk-button-dropdown {
        &:focus, &:active, &:hover {
            background-color: $color0;
            border-color: transparent;
            box-shadow: none;
        }
    }
}

.checkbox label {
    padding-left:0;
    white-space: normal;
}
.checkbox-replacement {
    height: 16px;
    width: 16px;
    border: 1px solid #2D3741;
    border-radius: 3px;
    margin-right: 4px;
    vertical-align: middle;
    background: #fff;
    display: inline-block;
    &:after {
        top: 2px;
        left: 2px;
    }
}

input:checked ~ .checkbox-replacement::after {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #2D3741;
    left: 3px;
    top: 7px;
    border-radius: 3px;
    content:'';
}
.checkbox label input[type="checkbox"]{
    position: absolute;
    left:-9999px;
}
.sk-hits-grid {
    margin-top: 7px;
}

.fdk-button-language:focus {
    outline: auto !important;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .row-eq-height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .fdk-footer {
        margin: 60px 0px 0px 0px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}