@import './bootstrap.min.css';
@import './bootstrap-theme.min.css';
@import './designsystem.scss';
@import './colors.scss';
@import './portal.scss';
@import './typo.scss';
@import './common.scss';
@import './font-awesome.min.css';

$sk-bold-weight: 700 !default;
$sk-medium-weight: 500 !default;
$sk-light-weight: 300 !default;

$sk-font-family: -apple-system, BlinkMacSystemFont,
"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
"Fira Sans", "Droid Sans", "Helvetica Neue",
sans-serif !default;

$sk-layout-background: #f4f4f4 !default;
$sk-layout-panel-background: white !default;
$sk-primary-theme-color: #bce6fa !default;
$sk-active-bg-color: #bce6fa !default;
$sk-border-color: #ccc !default;
$sk-title-color: black !default;
$sk-text-color: #444 !default;
$sk-text-secondary-color: #777 !default;
$sk-list-text-color: #666 !default;
$sk-list-secondary-text-color: #ccc !default;
$sk-action-text-color: #08c !default;
$sk-action-active-color: #000 !default;
$sk-disabled-text-color: #ddd !default;
$sk-remove-action-color: #fa2a00 !default;

$sk-selector-background: white !default;
$sk-selector-active-background: #08c !default;
$sk-selector-border-color: #ccc !default;
$sk-selector-text-color: black !default;
$sk-selector-active-text-color: white !default;

$sk-selected-filters-background: #f4f4f4 !default;

$sk-heading-font-size: 14px !default;
$sk-text-font-size: 14px !default;
$sk-list-font-size: 14px !default;
$sk-action-font-size: 14px !default;
$sk-list-secondary-font-size: 12px !default;

$sk-border-radius: 3px !default;

.publisher {
    position: absolute;
    top: 0;
    right: 0;
}

.container {
    position: relative;
}


.btn-group {
    .fdk-button-language {
        background-color: transparent !important;
        border-color: transparent;
        text-shadow: none;
        box-shadow: none;
        background-image: none;
        text-decoration: underline;
        &:focus, &:active, &:hover {
            color: $color1 !important;
            background-color: transparent !important;
            border-color: transparent !important;
        }
    }
}

.fdk-header-padding {
    padding-top: 5px;
}

.fdk-button-menu {
    &:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f0c9";
        margin-right: .2em;
    }
}

.ml-2 {
    margin-left: 0.5rem !important;
}

.ml-3 {
    margin-left: 1rem !important;
}

.mr-2 {
    margin-right: 0.5rem !important;
}

.mt-1 {
    margin-top: 0.25rem !important;
}

.mt-2 {
    margin-top: 0.5rem !important;
}

.mt-3 {
    margin-top: 1rem !important;
}

.mt-60 {
    margin-top: 4em;
}

.mb-2 {
    margin-bottom: 0.5rem !important;
}

.p-3 {
    padding: 1em !important;
}

.block          { display: block; }
.inline         { display: inline; }
.inline-block   { display: inline-block; }

.uu-invisible {
    background:0 0;
    color:transparent;
    border:0;
    clip:rect(0 0 0 0);
    height:1px;
    width:1px;
    margin:-1px;
    padding:0;
    overflow:hidden;
    position:absolute!important
}

/*
 TOP-HEADER
 */

.btn-group-default .dropdown-menu {
    left: auto;
    right: 0;
}

.fdk-btn-language-div {
    position: absolute;
    right: 120px;
}

.fdk-header-flex {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.fdk-header-menu {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

/*
SEARCHPAGE SORTING DROPDOWN
*/


.btn-group {
    .fdk-button-default {
        &:focus, &:active, &:hover {
            background-color: $color-cta4;
            border-color: transparent;
            box-shadow: 0 4px 8px rgba(45, 55, 65, 0.2);
        }
    }
    .fdk-button-dropdown {
        &:focus, &:active, &:hover {
            background-color: $color0;
            border-color: transparent;
            box-shadow: 0 4px 8px rgba(45, 55, 65, 0.2);
        }
    }

}

.open.btn-group {
    .fdk-button-default {
        background-color: $color-cta4;
        border-color: transparent;
        box-shadow: none;
    }
    .fdk-button-dropdown {
        &:focus, &:active, &:hover {
            background-color: $color0;
            border-color: transparent;
            box-shadow: none;
        }
    }
}

/*
 FILTER BUTTON
 */

.fdk-button-filter {
    height: 55px;
    margin: 0;
    border-radius: 5px 0 0 5px;
}

    /*
     FILTER CHECKBOX
     */
    .checkbox-replacement {
        height: 16px;
        width: 16px;
        border: 1px solid #2D3741;
        border-radius: 3px;
    }
    .checkbox label {
        padding-left:0;
    }
    .checkbox label label {
        margin-right: 4px;
        vertical-align: middle;
        background: #fff;
        min-height: auto;
    }
    input:checked ~ .checkbox-replacement::after {
        position: absolute;
        width: 10px;
        height: 10px;
        background: #2D3741;
        left: 3px;
        top: 6px;
        border-radius: 3px;
        content:'';
    }
    .checkbox label input[type="checkbox"]{
        position: absolute;
        left:-9999px;
    }
    .sk-hits-grid {
        margin-top: 7px;
    }

    .fdk-button-language:focus {
        outline: auto !important;
    }

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .row-eq-height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .fdk-footer {
        margin: 60px 0px 0px 0px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}