/*  C O N T A I N E R  */

.fd-column-search-left {
	height: auto;
	border: 1px solid var(--color4);
	border-radius: 2px;
	margin: 0;
	padding: 15px 15px 20px 15px;
}


/*  I N P U T  */


.fdk-search {
    color: var(--color1);
    border: 1px solid var(--color1);
    border-radius: 5px;
    font-size: 3rem;
    line-height: 3rem;
    width: 100%;
    padding: 12px 16px;
    margin: 0 0 60px 0px;
}

::-webkit-input-placeholder { /* PLACEHOLDER COLOR FOR: WebKit, Blink, Edge */
    color: var(--color3);
}

:-moz-placeholder { /* PLACEHOLDER COLOR FOR: Mozilla Firefox 4 to 18 */
   color: var(--color3);
   opacity: 1;
}

::-moz-placeholder { /* PLACEHOLDER COLOR FOR: Mozilla Firefox 19+ */
   color: var(--color3);
   opacity: 1;
}

:-ms-input-placeholder { /* PLACEHOLDER COLOR FOR: Internet Explorer 10-11 */
   color: var(--color3);
}


/*  S E A R C H   R E S U L T  */


.fdk-container-search-hit {
  background-color: var(--color0);
	border: 1px solid var(--color6);
  margin: 0 0 10px 0;
  padding: 10px 30px 35px 30px;
  border-radius: 5px;
}


.fdk-container-distributions {
	width: 100%;
	border-left: 10px solid var(--color1);
	padding-left: 10px;
}

.fdk-distributions-green {
	border-left: 10px solid var(--color-green);
}

.fdk-distributions-yellow {
	border-left: 10px solid var(--color-yellow);
}

.fdk-distributions-red {
	border-left: 10px solid var(--color-red);
}

.fdk-count {
    float: right;
}

/* FONTS */

.fdk-p-search-hit {
	margin-top: 20px;
}



/*  D E T A I L  P A G E  */

.fdk-container-detail {
	background-color: var(--color0);
	margin: 3px;
	padding: 28px 30px 30px 30px;
	border-radius: 4px;
	display: block;
}

.fdk-container-detail-header {
	background-color: var(--color1);
	color: var(--color0);
  font-size: 2.25rem;
  line-height: 2.25rem;
	margin-top: 60px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.fdk-container-detail-header > .fdk-fa-left {
	margin-right: 15px;
}

.fdk-container-detail-begrep {
	padding-top: 18px;
	padding-bottom: 20px;
}

.fdk-container-detail-begrep:hover {
	box-shadow: 0px 3px 12px var(--color4);
}

.fdk-container-detail-offentlig {
	border-left: 10px solid var(--color-green);
	padding-left: 20px;
}

.fdk-container-detail-begrenset {
	border-left: 10px solid var(--color-yellow);
	padding-left: 20px;
}

.fdk-container-detail-unntatt {
	border-left: 10px solid var(--color-red);
	padding-left: 20px;
}

.fdk-container-detail-text {
	margin: 0px;
}

.fdk-label-distribution {
	padding: 10px 12px;
	margin: 6px 2px 0px 0px;
	color: var(--color1);
	size: 1.4rem;
	line-height: 1.4rem;
	border-radius: 5px;
	size: auto;
	display: inline-block;
	border: 1px solid;
}

.fdk-label-distribution-offentlig {
	border-color: var(--color-green);
}

.fdk-label-distribution-begrenset {
	border-color: var(--color-yellow);
}

.fdk-label-distribution-skjermet {
	border-color: var(--color-red);
}

.fdk-label-distribution-testdata {
	border-color: var(--color1);
}

.fdk-row {
	padding: 0px 15px;
}

.fdk-col-detail {
	padding: 4px;
}

.fdk-detail-icon {
	display: block;
	float: left;
	font-size: 2.8rem;
	padding-top: 6px;
	color: var(--color-cta);
}

.fdk-detail-icon-oneline {
	padding-top: 0px;
}

.fdk-detail-text {
	display: block;
	padding-left: 5rem;
}


.fdk-button-page {
	width: 50px;
}


/*  T Y P O G R A P H Y  */

.fdk-search-subheading {
    font-weight: 400;
    border-bottom: 1px solid var(--color3);
    padding: 0.4rem 0 0.8rem 0;
    margin-bottom: 0.6rem;
}

.fdk-icon-detail-big {
	color: var(--color-cta);
	font-size: 3rem;
}

.fdk-p-detail {
	color: var(--color4);
	size: 1.5rem;
	line-height: 1.5rem;
}

.fdk-distribution-format {
	font-weight: 700;
	text-transform: uppercase;
	margin-right: 6px;
}
.search-filters .sk-item-list > input[type=checkbox] {
	position: absolute;
	left:-9999px;
}
.search-filters .sk-item-list > label {
	cursor: pointer;
}
.search-filters .sk-item-list > label:last-child {
	display: none;
}
.search-filters div.checkbox:nth-child(-n+5) {
    display: block;
}
.search-filters input[type=checkbox]:checked ~ div {
    display: block !important;
}
.search-filters input[type=checkbox]:checked ~ label {
    display: none !important;
}
.search-filters input[type=checkbox]:checked ~ label:last-child {
    display: block !important;
}
.search-filters div.checkbox {
    display: none;
}
