@import '../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';

.fdk-filter-pill {
  padding: 0.25em 0 0.25em 0.4em;
  font-weight: 400;
  border-radius: 0.25rem;
  max-width: 100%;
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
