<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>IDPorten test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<p th:text="'ID-porten virker ' + ${itworks} + '!'" />
<p>Properties:</p>
<p th:text="'Fnr ' + ${fnr} + ' '" />
<p th:text="'SecurityLevel ' + ${SecurityLevel} + ' '" />
<p th:text="'Culture ' + ${Culture} + ' '" />
<p th:text="'AuthMethod ' + ${AuthMethod} + ' '" />
<p th:text="'OnBehalfOf ' + ${OnBehalfOf} + ' '" />
<p th:text="'epostadresse ' + ${epostadresse} + ' '" />
<p th:text="'mobiltelefonnummer ' + ${mobiltelefonnummer} + ' '" />
<p th:text="'reservasjon ' + ${reservasjon} + ' '" />
<p th:text="'status ' + ${status} + ' '" />
</body>
</html>