<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <title tiles:fragment="title">Messages : Create</title>
</head>
<body>
<div tiles:fragment="content">
    <form name="f" th:action="@{/login}" method="post">
        <fieldset>
            <legend>Logg inn</legend>
            <div th:if="${param.error}" class="alert alert-error">
                Feil brukernavn og/eller passord.
            </div>
            <div th:if="${param.logout}" class="alert alert-success">
                Du har blitt logget ut.
            </div>
            <label for="username">Brukernavn</label>
            <input type="text" id="username" name="username"/>
            <label for="password">Passord</label>
            <input type="password" id="password" name="password"/>
            <div class="form-actions">
                <button type="submit" class="btn">Logg inn</button>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>