@import '../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';

.show-more__cropped-box-measure {
  position:relative;
  max-height:12rem;
  overflow-y:hidden;
}

.show-more__cropped-box {
  position:relative;
  height:12rem;
  overflow-y:hidden;
  margin-bottom:0.3em;
}

.show-more__cropped-box:before {
  content:'';
  vertical-align:bottom;
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  top:0;
  background:linear-gradient(rgba(255,255,255,0) calc( 100% - 5rem - 2.3rem ), $color6);
}
