@import '../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';

.fdk-p-path {
  i, span {
    @include themify($themes) {
      color: themed('color-neutral-dark') !important;
    }
  }
  a {
    @include themify($themes) {
      color: themed('color-text-link') !important;
    }
  }
}
.fdk-fa-path {
  margin: 0 .5em;
  font-size: 1.4rem !important;
}
