@import '../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';

.sticky-menu {
  background-color: $color6;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  ul {
    list-style: none;
    li {
      color: $color-cta2;
      a {
        cursor: pointer;
        &.active {
          color: $color1;
          font-weight: 500;
        }
      }
    }
  }
}