/*  C O N T A I N E R S  */

.fdk-container-register-switch {
	height: 32px;
	margin-bottom: 20px;
}

.fdk-container-register {
	width: 60%;
	padding: 0px 15px 0px 0px;
	margin: 0px;
	float: left;
}

/*  P A N E L S  */

.fdk-panel {
	border: none;
}

.fdk-panel-big-heading {
	background-color: #213B4C;
	padding: 12px;
	color: #fff;
	border-radius: 5px 5px 0px 0px;
}

.fdk-panel-big-body {
	background-color: #F2F3F7;
	padding: 20px 25px 15px 25px;
	border-radius: 0px 0px 5px 5px;
}

.fdk-panel-heading {
	background-color: #213B4C;
	padding: 12px 15px 8px 15px;
	color: #fff;
	border-radius: 5px 5px 0px 0px
}

.fdk-panel-body {
	background-color: #F2F3F7;
	padding: 15px;
	border-top: 1px solid #213B4C;
	border-radius: 0px 0px 5px 5px;
}

.fdk-panel-button {
  background-color: #F2F3F7;
  padding: 15px;
  border-radius: 0px 0px 5px 5px;
}

/*  T A B L E  */

table.fdk-register {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

td.fdk-register {
	height: auto;
	vertical-align: top;
	padding: 0px 0px 6px 5px;
}

td.fdk-register-dataset-1 {
	width: 26%;
	font-weight: 700;
	padding: 8px 0px 0px 0px;
}

td.fdk-register-dataset-2 {
	width: 68%;
	padding: 0px 0px 6px 0px;
}

td.fdk-register-dataset-3 {
	width: 6%;
	padding: 2px 0px 0px 0px;
}

td.fdk-register-datacatalogue-1 {
	width: 70%;
	padding: 2px 0px 0px 0px;
}

td.fdk-register-datacatalogue-1 {
	width: 30%;
	padding: 0px;
}

.fdk-register-divider {
	border-top: 1px solid red;
}

.fdk-table-hover > tbody > tr:hover {
  background-color: #C8CDD4;
}

tr.fdk-row-padding > td {
  padding-top: 5px;
  padding-bottom: 5px;
}

/*  I N P U T   F I E L D   &   T E X T   A R E A  */

input.fdk-register-h1 {
    background-color: #213B4C;
		border: 1px solid #213B4C;
		font-size: 36px;
		color: #fff;
    width: 100%;
    padding: 2px 10px 0px 10px;
		margin: 0px;
}

input.fdk-register-h1:hover {
	border: 1px solid #fff;
	border-radius: 5px;
}

input.fdk-register-h1:focus {
	border: 1px solid #fff;
	border-radius: 5px;
}

textarea.fdk-register-h3 {
    background-color: #F2F3F7;
    border: 1px solid #F2F3F7;
		border-radius: 5px;
		font-size: 20px;
		font-weight: 300;
		color: #213B4C;
    width: 100%;
		height: 130px;
		margin: 0px;
		padding: 5px;
}

textarea.fdk-register-h3:hover{
	border: 1px solid #5A6778;
	background-color: #fff;
}

textarea.fdk-register-h3:focus{
	border: 1px solid #5A6778;
	background-color: #fff;
}

input.fdk-register-p {
    background-color: #F2F3F7;
    border: 1px solid #F2F3F7;
    border-radius: 5px;
    width: 100%;
    padding: 5px 5px 5px 5px;
		margin: 0px;
}

input.fdk-register-p:hover {
	border: 1px solid #5A6778;
	background-color: #fff;
}

input.fdk-register-p:focus {
	border: 1px solid #5A6778;
	background-color: #fff;
}

textarea.fdk-register-h4 {

}

/*  I C O N S  */

img.fdk-register-icon {
	height: 28px;
	width: 28px;
	float: right;
	border: none;
}

img.fdk-icon-check-dark {
	background-image: url("/assets/img/icons/icon-check-dark.png");
}

img.fdk-icon-attention-dark {
	background-image: url("/assets/img/icons/icon-attention-dark.png");
}

img.fdk-icon-warning-dark {
	background-image: url("/assets/img/icons/icon-warning-dark.png");
}

/*  F O N T S  */

p.register {
	padding: 0px;
}

/*  O T H E R  */

.fdk-vertical-align {
	vertical-align: middle;
}

ng-select {
  background-color: #fff;
}
ng-select > div > div.multiple > div.option {
  background-color: #ccc;
}
ng-select > div > div.multiple {
	padding: 0 10px 0 3px !important;
}
.modal-footer .btn+.btn {
	margin-bottom: 6px;
}

rl-tag-input[placeholder] {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 0;
    padding-left: 0;
}
rl-tag-input[placeholder] form[ng-reflect-form] {
	line-height: 1.6;
}
rl-tag-input[placeholder] form[ng-reflect-form] input[type] {
	padding:0;
}
.ng2-tag-input-focus[placeholder] {
	box-shadow: none !important;
}
.ng2-tag-input-item-selected[ng-reflect-selected][ng-reflect-index] {
	background-color: #999;
	color:#000;
}

body > app-root > section:nth-child(3) > div > app-dataset > div:nth-child(3) > div.fdk-panel-body  rl-tag-input-item > span {
    height: 18px;
    width: 18px;
    line-height: 18px;
    font-size: 24px;
    font-family: SansSerif;
    background: #eee;
    color: #aaa;
}
distribution h4 {
  cursor: pointer;
	margin-left:13px;
}
distributions > div > div > div {
	position:relative;
}
.delete-distribution-wrapper {
	position: absolute;
	right:0;
	top:411px;
}
.sub-form label {
	display: block;
	float:none;
	margin: 0px 15px 9px 0px;
}
.distribution-form .sub-form{
	padding:0 15px;
}
rl-tag-input[formcontrolname], .sub-form textarea, .sub-form input[type="text"].form-control {
	display: block;
	float: none;
	margin: 0px 0px 9px 0;
	height: 34px;
	box-shadow: none;
}
rl-tag-input[formcontrolname] .ng2-tag-input-form {
	display: inline-block;
	margin: 3px;
}
rl-tag-input[formcontrolname] textarea, rl-tag-input[formcontrolname] input {
	width: auto !important;
	padding:0 !important;
}

rl-tag-input-item[ng-reflect-selected], rl-tag-input-item[_nghost-c9] {
	    height: 19px;
	    border-radius: 4px;
	    border: 1px solid #aaa;
	    background-color: #eee;
	    font-size: 14px;
	    padding: 5px 3px 19px 20px;
	    margin: 3px;
	    line-height: 1.2;
	    position: relative;
	    color: #000;
	    top: 0px;
			font-family: sans-serif;
}
rl-tag-input-item.ng2-tag-input-item-selected {
	color: #000 !important;
	background-color: #eee !important;
}

rl-tag-input[formcontrolname] .ng2-tag-input-remove[class], rl-tag-input .ng2-tag-input-remove[class][_nghost-c9] {
  height: 17px;
  width: 18px;
  vertical-align: top;
  padding: 0px 0px 0px 0px;
  margin: 3px 0px 5px 0px;
  line-height: 1;
  left: 0;
  color: transparent;
  position: absolute;
  background: none transparent;
  top: 4px;
}
rl-tag-input[formcontrolname] .ng2-tag-input-remove[class]::after {
  content: '\2715';
  font-size: 14px;
  width: 20px;
  height: 20px;
  color: #aaa;
  position: absolute;
  left: -1px;
  top: -1px;
}
rl-tag-input[formcontrolname] .ng2-tag-input-remove[class]:hover::after {
	color:#000
}
