@import '../../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';

.search-results-tabs {
  margin-bottom: 0;
  padding-left: 0;
  li {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-color: $color-danger;
    list-style-type: none;
    button, a {
      background: none;
      border: 0;
      box-sizing: border-box;
      color: $color-link;
      padding: .4em 1em;
      font-weight: 500;
      text-decoration: none;
    }
  }

  .li-active {
    color: $color-link;
    background-color: $color-neutral-lightest;
    font-size: 1.8rem;

    &.beta {
      background-image: url("/img/banner-beta.svg");
      background-repeat: no-repeat;
      background-position: right;
      background-size: 2.4em;
    }

    button, a {
      color: $color-neutral-darkest !important;
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

  .search-results-tabs {

    li {
      line-height: 1em;
      min-width: 10em;
      button, a {
        padding: 0.6em 0.8em;
      }
    }

    .li-active {
      font-size: 1.8rem;

      &.beta {
        background-image: url("/img/banner-beta.svg");
        background-repeat: no-repeat;
        background-position: right;
        background-size: 2.7em;
      }

      
    }
  }
}
.search-results-tab-dataset {
  background-image: url("/img/icon-catalog-dataset-md.svg");
  width: 1.5em; 
  height: 1.5em;
  display: inline-block;
}

.search-results-tab-api {
  background-image: url("/img/icon-catalog-api-md.svg");
  width: 1.5em; 
  height: 1.5em;
  display: inline-block;
}

.search-results-tab-term {
  background-image: url("/img/icon-catalog-concept-md.svg");
  width: 1.5em; 
  height: 1.5em;
  display: inline-block;
}

.search-results-tab-infomodel {
  background-image: url("/img/icon-catalog-infomodel-md.svg");
  width: 1.5em; 
  height: 1.5em;
  display: inline-block;
}
