@import '../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';

.fdk-header-text_items {
  white-space: nowrap;
}

.fdk-auth-link {
  a {
    color: $color-neutral-darkest;
    font-size: 1.4rem;
  }
}

.dropdown-menu {
  .dropdown-item {
    &:focus, &:active {
      background-color: $color-white;
    }
    a {
      &:hover {
        color: $color-primary02;
      }
    }
  }
}

.fdk-breadcrumb {
  color: $color-neutral-darkest;
  font-size: 1.4rem;
  padding: 2em 2.4em;
  margin-bottom: 2.4em;
}
.fdk-header {
  padding:0.2em 1.2em;
}
.fdk-logo {
  height: 90px;
}
