@import '../../assets/style/colors';

.fdk-header-text_items {
  font-size: 0.9rem;
  white-space: nowrap;
}

.fdk-auth-link {
  a {
    color: $color1;
    font-size: .9rem;
  }
}

.dropdown-menu {
  button.dropdown-item {
    &:focus, &:active {
      background-color: $color0;
    }
    a {
      &:hover {
        color: $color-cta2;
      }
    }
  }
}

.fdk-breadcrumb {
  color: $color1;
  font-size: .9rem;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
}