{
  "root": true,
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "plugins": [
    "@typescript-eslint",
    "react",
    "html",
    "json",
    "markdown",
    "prettier",
    "react-hooks",
    "eslint-comments",
    "import"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "semi": true,
        "singleQuote": true,
        "jsxSingleQuote": false
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "webpack/*.js",
          "test/**/*.{js,jsx,ts,tsx}",
          "**/*test.{js,jsx,ts,tsx}"
        ]
      }
    ],
    "import/extensions": [
      "error",
      {
        "extensions": [
          ".js",
          ".jsx",
          ".json",
          ".ts",
          ".tsx"
        ]
      }
    ],
    "no-console": [
      "error",
      {
        "allow": [
          "warn",
          "error"
        ]
      }
    ],
    "@typescript-eslint/no-var-requires": "warn",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/no-inferrable-types": "off",
    "@typescript-eslint/member-delimiter-style": "off",
    "@typescript-eslint/no-empty-function": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-props-no-spreading": "off",
    "react/no-array-index-key": "off",
    "react/no-unused-state": "off",
    "react/jsx-curly-newline": "off",
    "no-restricted-globals": "off",
    "no-param-reassign": "off",
    "class-methods-use-this": "off",
    "import/prefer-default-export": "off",
    "no-irregular-whitespace": "off",
    "react/prop-types": "off",
    "react/no-render-return-value": "off",
    "no-unused-expressions": "off",
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [
          ".jsx",
          ".tsx"
        ]
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "eslint-comments/no-unused-disable": "error",
    "jsx-a11y/label-has-for": "off",
    "no-underscore-dangle": ["error", { "allow": ["_embedded", "_source"] }]
  }
}
