@import '../../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';

.fdk-container-detail-sample {
  border-left: 10px solid #000000;
}

.dataset-distributions {
  .fdk-distribution-item {
    background-color: $color_white;
    padding: 0 2em;
    word-wrap: break-word;

    &:last-child {
      margin-bottom: 3rem !important;
    }

    button {
      border: none;
      background-color: transparent;
      cursor: pointer;
      .list-regular--item {
        &:last-child {
          border-bottom: 1px solid $color-grey-1 !important;
        }
        &.closedCollapse {
          &:last-child {
            border-bottom: none !important;
          }
        }
      }
      i.fa {
        position: absolute;
        right: 3em;
      }
    }
    .list-regular {
      padding: 1em !important;
    }
    .show-more__cropped-box {
      &:before {
        background: linear-gradient(rgba(255, 255, 255, 0) calc(100% - 5rem - 2.3rem), $color_white) !important;
      }
    }
  }
}