@import '../../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';

.fdk-datasets-list-header {
  background-color: $color-neutral-dark;
  color: $color-white;
  margin-bottom: .5em;
  border-radius: 3px;
  padding: .5em 1em;

  .header-item {
    font-weight: 500;
  }
  .sortButton {
    padding: 0 .5em;
    i {
      line-height: .5em;
    }
  }
}

button {
  cursor: pointer;
}
.transparentButton {
  background-color: transparent;
  border: none;
}
