<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>DCAT Harvester Admin</title>
    <!--link rel="stylesheet"
          href="${pageContext.request.contextPath}/css/bootstrap.min.css"
          -->
    <link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" media="all"/>
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>DCAT Harvester Admin</h1>

            <p>
                You are logged in as <b th:text="${username}"/>. <a class="btn btn-default"
                                                            th:href="@{/login}?logout"
                                                            role="button">
                Log out </a>
                <a th:if="${isAdmin}" class="btn btn-primary"
                       th:href="@{/admin/users}" role="button">
                        Users Admin</a>
            </p>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert" id="errors"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3" th:with="editDcatSource=${editDcatSource}">

            <input type="hidden" id="inputId" th:attr="value=${editDcatSource?.id}"/>

            <div class="form-group">
                <label for="inputDescription">Description</label> <input type="text"
                                                                         class="form-control" id="inputDescription"
                                                                         placeholder="Description"
                                                                         th:attr="value=${editDcatSource?.description}"/>
            </div>
            <div class="form-group">
                <label for="inputUrl">URL</label> <input type="text"
                                                         class="form-control" id="inputUrl" placeholder="URL"
                                                         th:attr="value=${editDcatSource?.url}"/>
            </div>
            <div class="form-group">
                <label for="inputUrl">Orgnumber</label> <input type="text"
                                                               class="form-control" id="inputOrgnumber"
                                                               placeholder="Orgnumber"
                                                               th:attr="value=${editDcatSource?.orgnumber}"/>
            </div>
            <!--  hidden> fjernet-->
            <input type="hidden"
                    id="inputUsername"
                   th:attr="value=${editDcatSource?.user}"/>

            <button class="btn btn-default" type="button" onclick="saveDcatSource();">
			<span class="glyphicon glyphicon-floppy-save" aria-hidden="true">
				Save</span>
            </button>

            <a class="btn btn-default" th:href="@{/admin}" role="button">Clear</a>
        </div>

        <div class="col-md-9">
            <table th:if="${!dcatSources.empty}" class="table table-striped">
                <thead>
                <tr>
                    <th th:if="${isAdmin}">Username</th>
                    <th>Description</th>
                    <th>URL</th>
                    <th>Orgnumber</th>
                    <th>Time</th>
                    <th>Status</th>
                    <th>Harvest</th>
                    <th>Edit</th>
                    <th>Remove</th>
                </tr>
                </thead>
                <tbody th:each="dcatSource : ${dcatSources}">
                    <tr>
                        <td th:if="${isAdmin}" th:text="${dcatSource.user}"/>
                        <td th:text="${dcatSource.description}"/>
                        <td th:text="${dcatSource.url}"/>
                        <td th:text="${dcatSource.orgnumber}"/>
                        <td th:if="${dcatSource.getLastHarvest().isPresent()}"
                                th:text="${dcatSource.getLastHarvest().get().getCreatedDateFormatted()}"/>
                        <td th:if="${dcatSource.getLastHarvest().isPresent()}">
                            <a th:href="@{/dcatSource(id=${dcatSource.id})}"
                               data-toggle="tooltip" title="${dcatSource.getLastHarvest().get().message}"
                                th:text="${dcatSource.getLastHarvest().get().status.getLocalName()}"/>
                        </td>
                        <td><a class="btn btn-default" role="button"
                               th:href="@{/admin/harvestDcatSource(id=${dcatSource.id})}"> <span
                                class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
                        </a></td>
                        <td><a class="btn btn-default"
                               th:href="@{/admin(edit=${dcatSource.id})}"
                               role="button"> <span
                                class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a></td>
                        <td><a class="btn btn-default" th:onclick="deleteDcatSource([[${dcatSource.id}]]);"
                               role="button"> <span
                                class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a></td>
                        <input type="hidden" id="dcatSourceId" th:attr="value=${dcatSource?.id}"/>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<script th:src="@{/js/scripts.js}" type="text/javascript"></script>
<script th:inline="javascript">
    var contextRoot = /*[[@{/}]]*/;
    var saveDcatSource = function () {
        var id = document.getElementById('inputId').value;
        var description = document.getElementById('inputDescription').value;
        var url = document.getElementById('inputUrl').value;
        var orgnumber = document.getElementById('inputOrgnumber').value;
        var username = document.getElementById('inputUsername').value;


        if(username == null || username == ""){
            username = /*[[${username}]]*/;
        }

        var data = {
            'id': id,
            'description': description,
            'url': url,
            'user': username,
            'orgnumber': orgnumber
        };

        sendRequest('POST', contextRoot  + 'api/admin/dcat-source' , data);
    };

    var deleteDcatSource = function (dcatSourceId) {
        sendRequest('DELETE',  contextRoot + 'api/admin/dcat-source?delete=' + dcatSourceId , null);
    };

    clearErrors();
</script>


</body>
</html>