<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>DCAT Source</title>
    <!--link rel="stylesheet"
          href="${pageContext.request.contextPath}/css/bootstrap.min.css"
    -->
    <link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" media="all"/>
</head>

<body>
<div th:if="${dcatSource != null}" class="container-fluid">
    <div class="row">
        <div class="col-md-12">


            <h1>DCAT Source</h1>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Description</th>
                    <th>URL</th>
                </tr>
                </thead>
                <tbody>
                <td th:text="${dcatSource.id}"/>
                <td th:text="${dcatSource.description}"/>
                <td th:text="${dcatSource.url}"/>
                </tbody>
            </table>

            <div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <h3>Harvest History (100 last harvests)</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Message</th>
                </tr>
                </thead>
                <tbody th:each="harvest : ${dcatSource.getHarvestedLast100()}">
                    <tr>
                        <td style="min-width: 120px" th:text="${harvest.getCreatedDateFormatted()}"/>
                        <td th:text="${harvest.status.getLocalName()}"/>
                        <td th:text="${harvest.getMessageOrEmpty()}"/>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<script th:src="@{/js/scripts.js}" type="text/javascript"></script>
<script type="text/javascript">
    var saveDcatSource = function () {
        var id = document.getElementById('inputId').value;
        var description = document.getElementById('inputDescription').value;
        var url = document.getElementById('inputUrl').value;

        var data = {
            'id': id,
            'description': description,
            'url': url,
            'user': '${username}'
        };

        sendRequest('POST', '@{/api/admin/dcat-source}', data);
    };

    var deleteDcatSource = function (dcatSourceId) {
        sendRequest('DELETE', '@{/api/admin/dcat-source?delete=}' + dcatSourceId, null);
    };

    clearErrors();
</script>

</body>
</html>