@import '../../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors';

.fdk-container-stats {
  background-color: $color-white;
  border-left: 1px solid $color-neutral-lightest;
  border-right: 1px solid $color-neutral-lightest;
  border-bottom: 1px solid $color-neutral-lightest;
  margin-bottom: .9em;
  padding: .9em 2em;
  border-radius: 0 0 5px 5px;

  h2 {
    font-weight: 300;
  }
}

.fdk-container-stats-total {
  background-color: transparent;
  padding: 2em 0 2em 0;
  text-align: center;

  h1 {
    font-size: 5rem;
    font-weight: 300;
    padding-bottom: 1em;
  }

  strong {
    line-height: 2.5;
  }

  img {
    width: 60px
  }

  a {
    font-size: 1.1em;
  }
}

.fdk-container-stats-accesslevel {
  cursor: pointer;
  color: $color-neutral-darkest !important;
  padding: 0 10px 0 10px;
  margin: 1em 0;
  text-align: center;
  text-decoration: none !important;

  p {
    font-weight: 400;
    margin: .8em 0 0 0;
    font-size: 1.45rem;

    strong {
      font-size: 3rem;

      i {
        margin-right: .5em;
        font-size: 3.5rem;
      }
    }
  }
}

.fdk-container-stats-accesslevel-title {
  h2 {
    margin-bottom: 1.5em;
  }
}

.fdk-container-stats-vr {
  border-right: 1px solid $color-neutral-lighter;
}

.fdk-container-stats-changes {
  padding: .5em 1.5em;

  h2 {
    padding: 0 0 1.8em 0;
  }

  strong {
    font-size: 5rem;
  }

  p {
    text-align: center;
    font-weight: 400;
    margin: 0;
    font-size: 1.45rem;
    padding: 0 0 1em 0;
  }

  a {
    color: $color-neutral-darkest !important;
    text-decoration: none !important;
  }
}

.fdk-container-stats-changes-left {
  padding: 0 .4em 0 0 !important;
}

.fdk-container-stats-changes-middle {
  padding: 0 .2em !important;
}

.fdk-container-stats-changes-right {
  padding: 0 0 0 .4em !important;
}

.fdk-container-stats-concepts {
  padding: 0 0 2em 0 !important;

  p {
    margin: 1em 0 0 0;
    text-align: center;

    strong {
      font-size: 5rem;
    }
  }
}

.fdk-container-stats-concepts-title {
  h2 {
    padding-bottom: 1em;
  }
}

.fdk-deleted-strong {
  padding-bottom: 22px !important;

  strong {
    font-size: 3rem !important;
  }
}

.fdk-report-tabs {
  .nav-tabs {
    .nav-item {
      background-color: $color-neutral-lighter;
      margin-right: 0.5em;
      text-align: center;

      .nav-link {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-link;
        font-size: 1.8rem;
        height: 2.5em;
        padding: 0 2em;

        &.active {
          color: $color-neutral-darkest;
          font-weight: 500;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
