{
  "id": "0e5246c8-1273-4245-bb87-5a586f2f17af",
  "catalogId": "910244132",
  "apiSpecUrl": "https://apim-navpreprod.portal.azure-api.net/docs/services/echo-api/export?DocumentFormat=Swagger",
  "nationalComponent": false,
  "openApi": {
    "openapi": "3.0.1",
    "info": {
      "title": "Echo API",
      "description": "<strong>Dette</strong> er en fin beskrivelse.<script src='http://spy.com'/>",
      "termsOfService": null,
      "contact": null,
      "license": null,
      "version": "1.0",
      "extensions": {}
    },
    "externalDocs": null,
    "servers": [{
      "url": "https://apim-navpreprod.azure-api.net/echo",
      "description": null,
      "variables": null,
      "extensions": null
    }
    ],
    "security": [{
      "apiKeyHeader": []
    }, {
      "apiKeyQuery": []
    }
    ],
    "tags": [],
    "paths": {
      "/resource": {
        "summary": null,
        "description": null,
        "get": {
          "tags": null,
          "summary": "Retrieve resource",
          "description": "A demonstration of a GET call on a sample resource. It is handled by an \"echo\" backend which returns a response equal to the request (the supplied headers and body are being returned as received).",
          "externalDocs": null,
          "operationId": "retrieve-resource",
          "parameters": [{
            "name": "param1",
            "in": "query",
            "description": "A sample parameter that is required and has a default value of \"sample\".",
            "required": true,
            "deprecated": null,
            "allowEmptyValue": null,
            "$ref": null,
            "style": null,
            "explode": null,
            "allowReserved": null,
            "schema": {
              "title": null,
              "multipleOf": null,
              "maximum": null,
              "exclusiveMaximum": null,
              "minimum": null,
              "exclusiveMinimum": null,
              "maxLength": null,
              "minLength": null,
              "pattern": null,
              "maxItems": null,
              "minItems": null,
              "uniqueItems": null,
              "maxProperties": null,
              "minProperties": null,
              "required": null,
              "type": "string",
              "not": null,
              "properties": null,
              "additionalProperties": null,
              "description": null,
              "format": null,
              "$ref": null,
              "nullable": null,
              "readOnly": null,
              "writeOnly": null,
              "example": null,
              "externalDocs": null,
              "deprecated": null,
              "xml": null,
              "extensions": {},
              "discriminator": null,
              "enum": ["sample"],
              "default": "sample"
            },
            "examples": null,
            "example": null,
            "content": null,
            "extensions": {}
          }, {
            "name": "param2",
            "in": "query",
            "description": "Another sample parameter, set to not required.",
            "required": null,
            "deprecated": null,
            "allowEmptyValue": null,
            "$ref": null,
            "style": null,
            "explode": null,
            "allowReserved": null,
            "schema": {
              "title": null,
              "multipleOf": null,
              "maximum": null,
              "exclusiveMaximum": null,
              "minimum": null,
              "exclusiveMinimum": null,
              "maxLength": null,
              "minLength": null,
              "pattern": null,
              "maxItems": null,
              "minItems": null,
              "uniqueItems": null,
              "maxProperties": null,
              "minProperties": null,
              "required": null,
              "type": "number",
              "not": null,
              "properties": null,
              "additionalProperties": null,
              "description": null,
              "format": null,
              "$ref": null,
              "nullable": null,
              "readOnly": null,
              "writeOnly": null,
              "example": null,
              "externalDocs": null,
              "deprecated": null,
              "xml": null,
              "extensions": {},
              "discriminator": null,
              "enum": null,
              "default": null
            },
            "examples": null,
            "example": null,
            "content": null,
            "extensions": {}
          }
          ],
          "requestBody": null,
          "responses": {
            "200": {
              "description": "Returned in all cases.",
              "headers": null,
              "content": {},
              "links": null,
              "extensions": {},
              "$ref": null
            }
          },
          "callbacks": null,
          "deprecated": null,
          "security": null,
          "servers": null,
          "extensions": {}
        },
        "put": {
          "tags": null,
          "summary": "Modify Resource",
          "description": "A demonstration of a PUT call handled by the same \"echo\" backend as above. You can now specify a request body in addition to headers and it will be returned as well.",
          "externalDocs": null,
          "operationId": "modify-resource",
          "parameters": null,
          "requestBody": null,
          "responses": {
            "200": {
              "description": "",
              "headers": null,
              "content": {},
              "links": null,
              "extensions": {},
              "$ref": null
            }
          },
          "callbacks": null,
          "deprecated": null,
          "security": null,
          "servers": null,
          "extensions": {}
        },
        "post": {
          "tags": null,
          "summary": "Create resource",
          "description": "A demonstration of a POST call based on the echo backend above. The request body is expected to contain JSON-formatted data (see example below). A policy is used to automatically transform any request sent in JSON directly to XML. In a real-world scenario this could be used to enable modern clients to speak to a legacy backend.",
          "externalDocs": null,
          "operationId": "create-resource",
          "parameters": null,
          "requestBody": {
            "description": null,
            "content": {
              "application/json": {
                "schema": {
                  "title": null,
                  "multipleOf": null,
                  "maximum": null,
                  "exclusiveMaximum": null,
                  "minimum": null,
                  "exclusiveMinimum": null,
                  "maxLength": null,
                  "minLength": null,
                  "pattern": null,
                  "maxItems": null,
                  "minItems": null,
                  "uniqueItems": null,
                  "maxProperties": null,
                  "minProperties": null,
                  "required": null,
                  "type": "object",
                  "not": null,
                  "properties": null,
                  "additionalProperties": null,
                  "description": null,
                  "format": null,
                  "$ref": null,
                  "nullable": null,
                  "readOnly": null,
                  "writeOnly": null,
                  "example": "{\r\n\t\"vehicleType\": \"train\",\r\n\t\"maxSpeed\": 125,\r\n\t\"avgSpeed\": 90,\r\n\t\"speedUnit\": \"mph\"\r\n\t\t}",
                  "externalDocs": null,
                  "deprecated": null,
                  "xml": null,
                  "extensions": null,
                  "discriminator": null,
                  "enum": null,
                  "default": null
                },
                "examples": null,
                "example": null,
                "encoding": null,
                "extensions": null
              }
            },
            "required": false,
            "extensions": null,
            "$ref": null
          },
          "responses": {
            "200": {
              "description": "",
              "headers": null,
              "content": {},
              "links": null,
              "extensions": {},
              "$ref": null
            }
          },
          "callbacks": null,
          "deprecated": null,
          "security": null,
          "servers": null,
          "extensions": {}
        },
        "delete": {
          "tags": null,
          "summary": "Remove resource",
          "description": "A demonstration of a DELETE call which traditionally deletes the resource. It is based on the same \"echo\" backend as in all other operations so nothing is actually deleted.",
          "externalDocs": null,
          "operationId": "remove-resource",
          "parameters": null,
          "requestBody": null,
          "responses": {
            "200": {
              "description": "",
              "headers": null,
              "content": {},
              "links": null,
              "extensions": {},
              "$ref": null
            }
          },
          "callbacks": null,
          "deprecated": null,
          "security": null,
          "servers": null,
          "extensions": {}
        },
        "options": null,
        "head": {
          "tags": null,
          "summary": "Retrieve header only",
          "description": "The HEAD operation returns only headers. In this demonstration a policy is used to set additional headers when the response is returned and to enable JSONP.",
          "externalDocs": null,
          "operationId": "retrieve-header-only",
          "parameters": null,
          "requestBody": null,
          "responses": {
            "200": {
              "description": "",
              "headers": null,
              "content": {},
              "links": null,
              "extensions": {},
              "$ref": null
            }
          },
          "callbacks": null,
          "deprecated": null,
          "security": null,
          "servers": null,
          "extensions": {}
        },
        "patch": null,
        "trace": null,
        "servers": null,
        "parameters": null,
        "$ref": null,
        "extensions": {}
      },
      "/resource-cached": {
        "summary": null,
        "description": null,
        "get": {
          "tags": null,
          "summary": "Retrieve resource (cached)",
          "description": "A demonstration of a GET call with caching enabled on the same \"echo\" backend as above. Cache TTL is set to 1 hour. When you make the first request the headers you supplied will be cached. Subsequent calls will return the same headers as the first time even if you change them in your request.",
          "externalDocs": null,
          "operationId": "retrieve-resource-cached",
          "parameters": [{
            "name": "param1",
            "in": "query",
            "description": "A sample parameter that is required and has a default value of \"sample\".",
            "required": true,
            "deprecated": null,
            "allowEmptyValue": null,
            "$ref": null,
            "style": null,
            "explode": null,
            "allowReserved": null,
            "schema": {
              "title": null,
              "multipleOf": null,
              "maximum": null,
              "exclusiveMaximum": null,
              "minimum": null,
              "exclusiveMinimum": null,
              "maxLength": null,
              "minLength": null,
              "pattern": null,
              "maxItems": null,
              "minItems": null,
              "uniqueItems": null,
              "maxProperties": null,
              "minProperties": null,
              "required": null,
              "type": "string",
              "not": null,
              "properties": null,
              "additionalProperties": null,
              "description": null,
              "format": null,
              "$ref": null,
              "nullable": null,
              "readOnly": null,
              "writeOnly": null,
              "example": null,
              "externalDocs": null,
              "deprecated": null,
              "xml": null,
              "extensions": {},
              "discriminator": null,
              "enum": ["sample"],
              "default": "sample"
            },
            "examples": null,
            "example": null,
            "content": null,
            "extensions": {}
          }, {
            "name": "param2",
            "in": "query",
            "description": "Another sample parameter, set to not required.",
            "required": null,
            "deprecated": null,
            "allowEmptyValue": null,
            "$ref": null,
            "style": null,
            "explode": null,
            "allowReserved": null,
            "schema": {
              "title": null,
              "multipleOf": null,
              "maximum": null,
              "exclusiveMaximum": null,
              "minimum": null,
              "exclusiveMinimum": null,
              "maxLength": null,
              "minLength": null,
              "pattern": null,
              "maxItems": null,
              "minItems": null,
              "uniqueItems": null,
              "maxProperties": null,
              "minProperties": null,
              "required": null,
              "type": "string",
              "not": null,
              "properties": null,
              "additionalProperties": null,
              "description": null,
              "format": null,
              "$ref": null,
              "nullable": null,
              "readOnly": null,
              "writeOnly": null,
              "example": null,
              "externalDocs": null,
              "deprecated": null,
              "xml": null,
              "extensions": {},
              "discriminator": null,
              "enum": null,
              "default": null
            },
            "examples": null,
            "example": null,
            "content": null,
            "extensions": {}
          }
          ],
          "requestBody": null,
          "responses": {
            "200": {
              "description": "",
              "headers": null,
              "content": {},
              "links": null,
              "extensions": {},
              "$ref": null
            }
          },
          "callbacks": null,
          "deprecated": null,
          "security": null,
          "servers": null,
          "extensions": {}
        },
        "put": null,
        "post": null,
        "delete": null,
        "options": null,
        "head": null,
        "patch": null,
        "trace": null,
        "servers": null,
        "parameters": null,
        "$ref": null,
        "extensions": {}
      }
    },
    "components": {
      "schemas": null,
      "responses": null,
      "parameters": null,
      "examples": null,
      "requestBodies": null,
      "headers": null,
      "securitySchemes": {
        "apiKeyQuery": {
          "type": "APIKEY",
          "description": null,
          "name": "subscription-key",
          "$ref": null,
          "in": "QUERY",
          "scheme": null,
          "bearerFormat": null,
          "flows": null,
          "openIdConnectUrl": null,
          "extensions": {}
        },
        "apiKeyHeader": {
          "type": "APIKEY",
          "description": null,
          "name": "Ocp-Apim-Subscription-Key",
          "$ref": null,
          "in": "HEADER",
          "scheme": null,
          "bearerFormat": null,
          "flows": null,
          "openIdConnectUrl": null,
          "extensions": {}
        }
      },
      "links": null,
      "callbacks": null,
      "extensions": null
    },
    "extensions": null
  }
}
